.card {
    border-radius: 4px;
    box-shadow: 3px 3px 4px #e4e3e3;
    margin-bottom: 24px;
    background-color: #fff;
}

.card a {
    text-decoration: none;
}

.card .specialOffer {
    background: url('./images/bk-special.png') no-repeat 0 0;
    width: 78px;
    height: 78px;
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 0;
}

.card .specialOffer p {
    text-align: center;
    font-size: 1.5em;
    margin: 10px 0 0 15px;
    color: #fff;
    transform: rotate(45deg);
}

.card img {
    width: 100%;
}

.card .itemBody {
    padding: 10px;
    border-bottom: 1px #eeecec solid;
    color: #555;
    font-family: 'din_alternateregular', 'din-woff', sans-serif;
}

.card .itemBody h4,
.card .itemBody p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 6px;
}

.card .itemFooter {
    padding: 15px 10px;
    background: #f8f8f8;
    border-top: 1px #fff solid;
    border-left: 1px #f6f6f6 solid;
    overflow: hidden;
}

.card .itemFooter > a div {
    float: left;
    color: #555;
    text-align: right;
}

.card .itemFooter .price {
    font-size: 1.5em;
}

.card .itemFooter .reserve {
    width: 100%;
    padding: 12px 24px;
    line-height: 35px;
    font-family: 'din_alternateregular', 'din-woff', sans-serif;
    background: #f1822c;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-size: 1.25em;
    font-weight: 400;
    transition: background .2s ease-in-out;
}

.card .itemFooter .reserve:hover {
    background: #e07421;
}
