
<table width="100%" cellspacing="0" cellpadding="0" bgcolor="#e9eaec">
<tr>
<td align="center" style="padding:10px;">

    <table cellspacing="0" cellpadding="0" class="content-mail" style="max-width:602px; margin:0 auto;"><!-- contenedor mail start -->
    <tr>
    <td bgcolor="#cdcdcd" height="1" colspan="3"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
    </tr>
    <tr>
    <td bgcolor="#cdcdcd" width="1"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
    <td valign="top" class="body-content" style="max-width:600px;" bgcolor="#FFFFFF">
    
    <table width="100%" cellspacing="0" cellpadding="0" class="header-mail"><!-- header start -->
    <tr>
    <td valign="top">
        <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
        <td align="left" width="50%"><img src="http://claroviajes.com/web/newsletter/afinidad/img/claroviajes.jpg" alt="claro viajes" /></td>
        <td align="right" width="50%" valign="middle">
        
            <table cellpadding="0" cellspacing="0">
            <tr>
                <br>
            <td><img src="http://claroviajes.com/web/newsletter/afinidad/img/icono-0800.jpg" alt="claro viajes" /></td>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:24px; color:#364353; padding:0 10px 0 5px">8001220520</td>
            </tr>
            </table>

        </td>
        </tr>
        </table>
    </td>
    </tr>
    <tr>
    <td align="center" height="1"><img src="http://claroviajes.com/web/newsletter/afinidad/img/header-bottom.jpg" alt="claro viajes" style="width:100%; max-width:100%; display:block;" /></td>
    </tr>
    </table><!-- header end -->
    
    <table width="100%" cellspacing="0" cellpadding="0" class="header-mail"><!-- top start -->
    <tr>
    <td align="center"><img src="http://claroviajes.com/web/newsletter/afinidad/img/top.jpg" alt="claro viajes" style="display:block;" /></td>
    </tr>
    </table><!-- top end -->
    
    <table width="100%" cellspacing="0" cellpadding="0"><!-- title start -->
    <tr>
    <td align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:28px; color:#555555; padding:30px 0 5px;"><font style=" font-size:29px; font-weight:bold;">Beneficio exclusivo</font> para empleados</td>
    </tr>
    <tr>
    <td align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#555555; padding:5px 0 30px;">Ll&aacute;manos al <b>5355 5292</b> o env&iacute;anos un e-mail a <a href="mailto:afinidad@claroviajes.com" target="_blank" style="color:#ff801d; text-decoration:none;">afinidad@claroviajes.com</a></td>
    </tr>
    </table><!-- title end -->
    
    
    <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
    <td width="50%" align="center" valign="top">
    
        <table cellpadding="0" cellspacing="0" width="262"><!-- item-oferta start -->
        <tr>
        <td colspan="3"><img src="http://claroviajes.com/web/newsletter/afinidad/2015-04-17/destino1.jpg" width="262" height="155" alt="Oferta" /></td>
        </tr>
        <tr>
        <td bgcolor="#f2f2f2" width="1"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
        <td align="center" bgcolor="#ffffff">
                    <table width="90%" cellpadding="0" cellspacing="0">
                    <tr>
                    <td height="10"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
                    </tr>
                    <tr>
                    <td height="50" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color:#555555; padding:3px 0;">Par&iacute;s y Capitales Imperiales</td>
                    </tr>
                    <tr>
                    <td style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#ff801d; padding:3px 0;">15 d&iacute;as / 12 noches</td>
                    </tr>
                    <tr>
                    <td bgcolor="#f2f2f2" width="1"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
                    </tr>
                    <tr>
                    <td height="110" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8f8f; padding:5px 0;">
                        Salida Grupal: 30 de Mayo 2015<br /><br />
                        Hoteles Cat. Primera con desayuno + recorrido en bus con gu&iacute;a + Crucero por el Danubio + Teatro Negro de Praga + Concierto cl&aacute;sico en Viena + 9 comidas</td>
                    </tr>
                    <tr>
                    <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#555555; padding:5px 0;"><font style="font-size:24px;" >12</font> cuotas de <font style="font-size:24px; color:#ff801d; font-weight:bold;">$3.260</font>
                    </td>
                    </tr>
                    <tr>
                    <td style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#555555; padding:3px 0;">Tarifa final $39.114
                    </td>
                    </tr>
                                        <tr>
                    <td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#555555; padding:3px 0;">
                    </td>
                    </tr>
                    <tr>
                    <td height="10"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
                    </tr>
                    </table>
        </td>
        <td bgcolor="#f2f2f2" width="1"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
        <tr>
        <td colspan="3"><img src="http://claroviajes.com/web/newsletter/afinidad/img/footer-oferta.jpg" width="262" height="3" alt="Oferta" /></td>
        </tr>
        </table><!-- item-oferta end -->
        
        

    
    
    </td>
    
    <td width="50%" align="center" valign="top">
    
        <table cellpadding="0" cellspacing="0" width="262"><!-- item-oferta start -->
        <tr>
        <td colspan="3"><img src="http://claroviajes.com/web/newsletter/afinidad/2015-04-17/destino2.jpg" width="262" height="155" alt="Oferta" /></td>
        </tr>
        <tr>
        <td bgcolor="#f2f2f2" width="1"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
        <td align="center" bgcolor="#ffffff">
                    <table width="90%" cellpadding="0" cellspacing="0">
                    <tr>
                    <td height="10"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
                    </tr>
                    <tr>
                    <td height="50" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color:#555555; padding:3px 0;"><b>Vuelta al Norte</b></td>
                    </tr>
                    <tr>
                    <td style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#ff801d; padding:3px 0;">7 d&iacute;as / 6 noches</td>
                    </tr>
                    <tr>
                    <td bgcolor="#f2f2f2" width="1"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
                    </tr>
                    <tr>
                    <td height="110" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8f8f; padding:5px 0;">
                        Salidas: 26 de Abril 2015<br /><br />
                        Hotel Catalinas Park en Tucum&aacute;n / Asturias en Cafayate / Sheraton Salta</td>
                    </tr>
                    <tr>
                    <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#555555; padding:5px 0;"><font style="font-size:24px;" >12</font> cuotas de <font style="font-size:24px; color:#ff801d; font-weight:bold;">$734</font>
                    </td>
                    </tr>
                    <tr>
                    <td style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#555555; padding:3px 0;">Tarifa final $8.811
                    </td>
                    </tr>
                                        <tr>
                    <td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#555555; padding:3px 0;">
                    </td>
                    </tr>
                    <tr>
                    <td height="10"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
                    </tr>
                    </table>
        </td>
        <td bgcolor="#f2f2f2" width="1"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
        <tr>
        <td colspan="3"><img src="http://claroviajes.com/web/newsletter/afinidad/img/footer-oferta.jpg" width="262" height="3" alt="Oferta" /></td>
        </tr>
        </table><!-- item-oferta end -->
         
    
    </td>
    </tr>
    </table>
    
    


    <table width="100%" cellspacing="0" cellpadding="0" style="padding:40px 0 0;">
    <tr>
    <td valign="top" align="center">
        
        <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
        <td align="right"><img src="http://claroviajes.com/web/newsletter/afinidad/img/dest-left.png" alt="claro viajes" width="38" height="39" style="display:block;" border="0" /></td>
        <td width="80%" height="39" valign="center" align="center" bgcolor="#ff801d" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff;">FINANCIACION</td>
        <td align="left"><img src="http://claroviajes.com/web/newsletter/afinidad/img/dest-right.png" alt="claro viajes" width="38" height="39" style="display:block;" border="0" /></td>
        </tr>
        </table>

    </td>
    </tr>
    <tr>
    <td height="20"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
    </tr>
    <tr>
    <td align="center">
    
        <table width="543" cellpadding="0" cellspacing="0" align="center">
        <tr>
        <td bgcolor="#cdcdcd" height="1" colspan="3"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
        </tr>
        <tr>
        <td bgcolor="#cdcdcd" width="1"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
        <td>
            <table width="" cellpadding="0" cellspacing="0">
            <tr>
            <td><img src="http://claroviajes.com/web/newsletter/afinidad/img/18cuotas.jpg" width="541" height="114" alt="18 Cuotas" /></td>
            </tr>
            <tr>
            <td bgcolor="#cdcdcd" width="1"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
            </tr>
            <tr>
            <td bgcolor="#f6f6f6" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#555555; padding:20px 0;" align="center">Te ofrecemos cuotas en pesos con m&aacute;s de <b>30 bancos</b></td>
            </tr>
            <tr>
            <td bgcolor="#cdcdcd" width="1"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
            </tr>
            <tr>
            <td><img src="http://claroviajes.com/web/newsletter/afinidad/img/bancos.jpg" width="541" height="149" alt="Bancos" /></td>
            </tr>
            </table>
        </td>
        <td bgcolor="#cdcdcd" width="1"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
        </tr>
        <tr>
        <td bgcolor="#cdcdcd" height="1" colspan="3"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
        </tr>
        </table>
    

    </td>
    </tr>
    <tr>
    <td height="20"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
    </tr>
    </table><!-- bancos end -->



    
    <table width="100%" cellspacing="0" cellpadding="0" class="footer-mail" bgcolor="#f9f9f9"><!-- footer start -->
    <tr>
    <td height="20" bgcolor="#FFFFFF"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
    </tr>
    <tr>
    <td bgcolor="#2a2a2a" height="40" style="padding-right:10px">
    
            <table cellspacing="0" cellpadding="0" align="right">
            <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#ffffff;" >Seguinos 
            <td width="30" align="center"><a href="https://twitter.com/claroviajesar" target="_blank"><img src="http://claroviajes.com/web/newsletter/afinidad/img/twitter.png" width="27" height="23" alt="Twitter" /></a></td>
            <td width="30" align="center"><a href="https://www.facebook.com/Claroviajes.Argentina" target="_blank"><img src="http://claroviajes.com/web/newsletter/afinidad/img/facebook.png" width="27" height="23" alt="Facebook" /></a></td>
            </tr>
            </table>
    
    
    </td>
    </tr>
    <tr>
    <td height="20"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
    </tr>
    <tr>
    <td valign="top">
        <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
        <td align="center" width="50%" class="footer-mail-c1">
            <table width="90%" cellspacing="0" cellpadding="0" >
            <tr>
            <td style="padding:0 0 10px;"><img src="http://claroviajes.com/web/newsletter/afinidad/img/claroviajes-footer.jpg" alt="claro viajes" /></td>
            </tr>
            <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#333333; line-height:15px;" >&copy;2014 Claroviajes / <a href="http://www.claroviajes.com/web/files/terminos.pdf" title="Terminos y Condiciones" target="_blank" style="color:#333333; text-decoration:none;">T&eacute;rminos y Condiciones</a> / 
            <a href="http://www.claroviajes.com/web/documentos/politicas" title="Aviso de privacidad" target="_blank" style="color:#333333; text-decoration:none;">Aviso de Privacidad</a> / Ir a <a href="http://www.claro.com.ar" target="_blank" style="color:#333333; text-decoration:none;" title="claro">www.claro.com.ar</a><br />
            Sitio Web: <a href="http://www.claroviajes.com" target="_blank" style="color:#ff1224; text-decoration:none;" title="claroviajes.com.ar">www.claroviajes.com</a></td>
            </tr>
            </table>
        </td>
        <td align="right" width="50%" class="footer-mail-c2" style="padding-right:10px">            
            <table cellpadding="0" cellspacing="0">
            <tr>
            <td align="right" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#555555; padding:0 10px;">
            <font style="font-size:16px; font-weight:bold;">8001220520</font> <br>
            lun-vie: 8:00 a 20:00 hs.</td>
            <td><img src="http://claroviajes.com/web/newsletter/afinidad/img/claro.png" alt="claro" /></td>
            </tr>
            </table>    
        </td>
        </tr>
        </table>
    </td>
    </tr>
    <tr>
    <td height="20"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
    </tr>
    </table><!-- footer end -->
    
    
    
    </td>
    <td bgcolor="#cdcdcd" width="1"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
    </tr>
    <tr>
    <td bgcolor="#cdcdcd" height="1" colspan="3"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
    </tr>
    </table><!-- contenedor mail end -->




    <table width="100%" cellspacing="0" cellpadding="0" class="footer-mail" style="max-width:600px; margin:0 auto;"><!-- footer start -->
    <tr>
    <td height="20"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
    </tr>
    <tr>
    <td valign="top" align="left" style="font-family:Helvetica, sans-serif; font-size:1em; color:#555555; text-align:justify; line-height:1.2em; padding:0 0 5px;" > C.F.T.: 3,53%. <font style="font-size:0.7em;">(1)</font></td>
    </tr>
    <td valign="top" align="left" style="font-family:Helvetica, sans-serif; font-size:0.6em; color:#555555; text-align:justify; line-height:1.5em;" >TARIFAS POR PERSONA, INCLUYEN IMPUESTOS, RETENCIONES Y PERCEPCIONES. VIGENTES HASTA AGOTAR 4 LUGARES POR DESTINO. TIPO DE CAMBIO AL 15/04/2015 U$D1 = $9. SUJETO A VARIACION DE COTIZACION DEL DOLAR AL MOMENTO DE LA COMPRA. PAQUETES: TARIFAS POR PERSONA EN HABITACION BASE DOBLE, INCLUYEN IMPUESTOS (EXCEPTO TASA DE EZEIZA USD 44 Y DE CABOTAJE $55). (1) CONSULTE CON EL BANCO EMISOR DE SU TARJETA DE CREDITO LA CANTIDAD DE CUOTAS, COMO TAMBIEN ASI EL CFT, TNA, TEA Y LA EVENTUAL APLICACION DE CARGOS Y/O SEGUROS ASOCIADOS A LA OPERATORIA EN CUOTAS EN WWW.ALMUNDO.COM.AR/PROMOCIONES-BANCARIAS. ASATEJ S.R.L. FLORIDA 825 C.A.B.A. EVT: ALMUNDO.COM LEG:8362 - DIP: 1350/93. CUIT N&#186; 30-65951462-8. LAS TARIFAS NO INCLUYEN 9.5% DE CARGO POR GESTION </td>
    </tr>
    <tr>
    <td height="20"><img src="http://claroviajes.com/web/newsletter/afinidad/img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
    </tr>
    </table><!-- footer end -->
    


</td>
</tr>
</table>




