.separator {
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#0093b1), color-stop(0.25, #0093b1), color-stop(0.5, #ff3015), color-stop(0.75, #ff8622) to(#ff8622));
  background: -webkit-linear-gradient(left, #0093b1, #ff3015, #ff8622);
  background: -moz-linear-gradient(left, #0093b1, #ff3015, #ff8622);
  background: -ms-linear-gradient(left, #0093b1, #ff3015, #ff8622);
  background: -o-linear-gradient(left, #0093b1, #ff3015, #ff8622);
}