@font-face {
  font-family: 'din-woff';
  font-style: normal;
  font-weight: 400;
  src: url('./din-webfont.woff') format('woff');
}

@font-face {
  font-family: 'din-woff';
    font-weight: normal;
    font-style: normal;
    src: url('./din_alternate_black-webfont.eot');
    src: url('./din_alternate_black-webfont.eot?#iefix') format('embedded-opentype'),
    url('./din_alternate_black-webfont.woff') format('woff'),
    url('./din_alternate_black-webfont.ttf') format('truetype'),
    url('./din_alternate_black-webfont.svg#din_alternate_blackregular') format('svg');
    color:pink;
}

@font-face {
  font-family: 'din_alternate_blackregular';
    src: url('./din_alternate_black-webfont.eot');
    src: url('./din_alternate_black-webfont.eot?#iefix') format('embedded-opentype'),
    url('./din_alternate_black-webfont.woff') format('woff'),
    url('./din_alternate_black-webfont.ttf') format('truetype'),
    url('./din_alternate_black-webfont.svg#din_alternate_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'din_alternatebold';
    src: url('./din_alternate_bold-webfont.eot');
    src: url('./din_alternate_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('./din_alternate_bold-webfont.woff') format('woff'),
    url('./din_alternate_bold-webfont.ttf') format('truetype'),
    url('./din_alternate_bold-webfont.svg#din_alternatebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'din_alternate_lightregular';
    src: url('./din_alternate_light-webfont.eot');
    src: url('./din_alternate_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('./din_alternate_light-webfont.woff') format('woff'),
    url('./din_alternate_light-webfont.ttf') format('truetype'),
    url('./din_alternate_light-webfont.svg#din_alternate_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'din_alternate_mediumregular';
    src: url('./din_alternate_medium-webfont.eot');
    src: url('./din_alternate_medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('./din_alternate_medium-webfont.woff') format('woff'),
    url('./din_alternate_medium-webfont.ttf') format('truetype'),
    url('./din_alternate_medium-webfont.svg#din_alternate_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'din_alternateregular';
    src: url('./din_alternate-webfont.eot');
    src: url('./din_alternate-webfont.eot?#iefix') format('embedded-opentype'),
    url('./din_alternate-webfont.woff') format('woff'),
    url('./din_alternate-webfont.ttf') format('truetype'),
    url('./din_alternate-webfont.svg#din_alternateregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neuelight';
    src: url('./bebasneue_light-webfont.eot');
    src: url('./bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./bebasneue_light-webfont.woff2') format('woff2'),
         url('./bebasneue_light-webfont.woff') format('woff'),
         url('./bebasneue_light-webfont.ttf') format('truetype'),
         url('./bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neuebook';
    src: url('./bebasneue_book-webfont.eot');
    src: url('./bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('./bebasneue_book-webfont.woff2') format('woff2'),
         url('./bebasneue_book-webfont.woff') format('woff'),
         url('./bebasneue_book-webfont.ttf') format('truetype'),
         url('./bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neuebold';
    src: url('./bebasneue_bold-webfont.eot');
    src: url('./bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./bebasneue_bold-webfont.woff2') format('woff2'),
         url('./bebasneue_bold-webfont.woff') format('woff'),
         url('./bebasneue_bold-webfont.ttf') format('truetype'),
         url('./bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('./bebasneue_regular-webfont.eot');
    src: url('./bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./bebasneue_regular-webfont.woff2') format('woff2'),
         url('./bebasneue_regular-webfont.woff') format('woff'),
         url('./bebasneue_regular-webfont.ttf') format('truetype'),
         url('./bebasneue_regular-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neuethin';
    src: url('./bebasneue_thin-webfont.eot');
    src: url('./bebasneue_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('./bebasneue_thin-webfont.woff2') format('woff2'),
         url('./bebasneue_thin-webfont.woff') format('woff'),
         url('./bebasneue_thin-webfont.ttf') format('truetype'),
         url('./bebasneue_thin-webfont.svg#bebas_neuethin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'romeralregular';
    src: url('./romeral-webfont.eot');
    src: url('./romeral-webfont.eot?#iefix') format('embedded-opentype'),
         url('./romeral-webfont.woff2') format('woff2'),
         url('./romeral-webfont.woff') format('woff'),
         url('./romeral-webfont.ttf') format('truetype'),
         url('./romeral-webfont.svg#romeralregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.link-silent * {
  text-decoration: none;
  color: none;
}

.link-silent:hover {
  text-decoration: none;
  color: none;
}

.font-alternate * {
  font-family: 'din_alternateregular', 'din-woff', sans-serif;
}
