a:link,
a:visited,
a:hover,
a:active,
a:focus {
    outline:none;
    text-decoration:none;
}

.sesion_main {
  *zoom: 1;
  padding: 0;
  margin: 30px 0 0;
}

.icon_callcenter {
  background-image: url("./images/icon-callcenter-gris.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 26px;
  width: 30px;
  vertical-align: text-bottom;
  margin-right: 10px;
}

.caption_user {
  float: left;
  width: 50%;
  text-align: right;
  border-right: 1px #929292 solid;
  padding-right: 20px;
}

.caption_user span {
  font-family: Arial, sans-serif;
  font-size: 2.2rem;
  color: #b9b9b9;
}

.caption_nav {
  float: right;
  padding:5px 0;
  height: auto;
}


.caption_sesion {
  font-family: Arial, sans-serif;
  font-size: .9em;
  color: #b9b9b9;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
  text-decoration: none;
}

.caption_sesion:hover {
  color: #d92824 !important;
}

.caption_subscribe {
  font-family: Arial, sans-serif;
  font-size: .9em;
  color: #ffffff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-left: 10px;
  padding: 5px 12px;
  background: #d92824;
  -webkit-transition: background .2s ease-in-out;
  -o-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  text-decoration: none;
}

.caption_subscribe:hover {
  background: #d92824;
  color:#fff;
}

.caption_app {
    margin: 10px 0 0 10px;
    float: left;
}

.img_app {
    display: inline-block;
    margin: 0 0 0 10px;
    border: 0;
}

.text_app {
    border-left: 1px #000 solid;
    padding: 0 0 0 10px;
    display: inline-block;
    color: #b9b9b9;
    font-size: .9em;
    line-height: 20px;
}

/*login*/
.caption_login {
  font-family: Arial, sans-serif;
  font-size: .9em;
    color: #ffffff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-left: 10px;
    padding: 5px 12px;
    background:#ff831d;
      -webkit-transition: background .2s ease-in-out;
   -o-transition: background .2s ease-in-out;
      transition: background .2s ease-in-out;
}

.caption_login:hover {
    background:#e06500;
    color: #fff;
}

/* responsive */
@media ( min-width :320px) and (max-width:480px) {

	.caption_user {
		display: none;}

    .sesion_main {
      border-top: 1px #f2f2f2 solid;
      padding: 5px 0;
      margin: 10px 0 0;
    }

}

@media ( min-width :481px) and (max-width:640px) {

    .caption_user {
        display: none;}

    .sesion_main {
      border-top: 1px #f2f2f2 solid;
      padding: 5px 0;
      margin: 10px 0 0;
    }

}

@media ( min-width :641px) and (max-width:800px) {

}

@media ( min-width :768px) and (max-width:1024px) {

}
