
a:link,
a:visited,
a:hover,
a:active,
a:focus {
    outline:none;
    text-decoration:none;
}

.sesion_main {
    *zoom:1;
    padding:0;
    background-color:#d02e10;
    background-image:linear-gradient(0deg, #901a11 0, #d02e10 100%);
}
.caption_user {
    float:left;
}
.caption_user span {
    font-family:'din_alternate_mediumregular';
    font-size:2em;
    color:#fff;
}
.caption_nav {
    float:right;
    padding:10px 0;
    height:auto;
}
.caption_sesion {
    font-family:'din_alternate_mediumregular';
    font-size:.9em;
    color:#fff;
    -webkit-transition:color .2s ease-in-out;
    -moz-transition:color .2s ease-in-out;
    -o-transition:color .2s ease-in-out;
    -ms-transition:color .2s ease-in-out;
    transition:color .2s ease-in-out;
}
.caption_sesion:hover {
    color:#420500!important;
}
.caption_subscribe {
    font-family:'din_alternate_mediumregular';
    font-size:.9em;
    color:#fff;
    -webkit-border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    border-radius:3px 3px 3px 3px;
    margin-left:10px;
    padding:5px 12px;
    background:#941b12;
    -webkit-transition:background .2s ease-in-out;
    -moz-transition:background .2s ease-in-out;
    -o-transition:background .2s ease-in-out;
    -ms-transition:background .2s ease-in-out;
    transition:background .2s ease-in-out;
}

.caption_subscribe:hover {
    background:#420500;
    color: #fff;
}

.icon_callcenter {
    background-image: url("./images/icon-callcenter-blanco.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 26px;
    width: 30px;
    vertical-align: text-bottom;
    margin-right: 10px;
}

.caption_app {
    margin: 10px 0 0 10px;
    float: left;
}

.img_app {
    display: inline-block;
    margin: 0 0 0 10px;
    border: 0;
}

.text_app {
    border-left: 1px #000 solid;
    padding: 0 0 0 10px;
    display: inline-block;
    color: #fff;
    font-size: .9em;
    line-height: 20px;
}

/*login*/
.caption_login {
  font-family: 'din_alternate_mediumregular';
  font-size: .9em;
    color: #ffffff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-left: 10px;
    padding: 5px 12px;
    background:#941b12;
      -webkit-transition: background .2s ease-in-out;
   -o-transition: background .2s ease-in-out;
      transition: background .2s ease-in-out;
}

.caption_login:hover {
    background:#420500;
    color: #fff;
}


.list_username { margin:0; padding: 0; list-style: none; }
.list_username li { border-bottom: 1px #f5f5f5 solid; }
.list_username li:last-child { border: none; }
.list_username li a {
    font-family: 'din_alternate_lightregular';
    color:#555;
    padding: 7px 14px;
    display: block;
      -webkit-transition: background .2s ease-in-out;
   -o-transition: background .2s ease-in-out;
      transition: background .2s ease-in-out;

}
.list_username li a:hover {
    background: #f1f1f1;
}

.i_login {
    background-image: url("./images/iconos-login.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: text-bottom;
}
.i_account { background-position: 0px 0px; }
.i_reserve { background-position: 0px -18px; }
.i_close { background-position: 0px -36px; }
