
/* listado-paises */

.jvectormap-label {
    position: absolute;
    display: none;
/*    border: solid 1px #CDCDCD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;*/
    background: none;
    /*color: white;*/
    color: #000;
    font-family: "din_alternatebold";
    text-transform: uppercase;
    font-size: 1.2em;
    /*padding: 3px;*/
}

/*.jvectormap-zoomin, .jvectormap-zoomout {
    position: absolute;
    left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    padding: 3px;
    color: white;
    width: 10px;
    height: 10px;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
}

.jvectormap-zoomin {
    top: 10px;
}

.jvectormap-zoomout {
    top: 30px;
}*/

.jvectormap-zoomin,
.jvectormap-zoomout { display: none; }

.container.paises{
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}

.container.paises.bot{
    margin-bottom: 40px;
}

.listado-paises p {
    margin: 6px 0px 0px 0px;
}

.container.paises.bot .mapa-paises{
    margin-bottom: -40px;
}

#world-map { 
    width:700px;
    height: 700px;
    display:block;
    margin-top:30px;
    margin-bottom:20px;
}

.mapa-paises-txt {
    font-size:30px;
    position:relative;
    top:-320px;
    font-family: 'din_alternateregular';
    color:#666;
    width: 200px;
}


.logo-claro-paises{
    position:relative;
    top:-320px;
    left:-20px;
    width: 250px;
}

.claro-paises-text{
    font-weight: bold;
    font-size: 28px !important;
    letter-spacing: -1px;
    font-family: "din_alternatebold";
    color:#aeaeae;
}

.sectores-titulo {
    font-family: "din_alternatebold";
    font-size:  18px !important;
    color: #868686;
    margin-top:20px;
}

.bt-mex {
    background-image:url(../img/paises-bandera.png);
    background-position: -1px 0px;
    background-repeat:no-repeat;
    width:34px;
    height:25px;
    display:block;
    float: left;
}

.showhim:hover .showme-mex {
    position:absolute;
    top:24px;
    left:-640px;
    display : block;
}


.showhim { margin: 10px 0; }
.showhim a {
    font-family: 'din_alternateregular';
    font-size:  16px !important;
    background-color: #FFFFFF;
    cursor:pointer;
    color: #868686;
    width:200px;
    display:inline-block;
    padding:3px 15px;
}
.showhim a:hover {
    background-color: #F90;
    border-radius: 20px;
    color:#FFFFFF;

}
.showhim:hover a {
    background-color: #F90;
    border-radius: 20px;
    color:#FFFFFF;

}
.showhim a.active-map {
    background-color: #F90;
    border-radius: 20px;
    color:#FFFFFF;

}

.bt-gua{
    background-image:url(../img/paises-bandera.png);
    background-position: -1px -28px;
    background-repeat:no-repeat;
    width:34px;
    height:25px;
    display:block;
    float: left;
}

.bt-elsalva{
    background-image:url(../img/paises-bandera.png);
    background-position: -1px -58px;
    background-repeat:no-repeat;
    width:34px;
    height:25px;
    display:block;
    float: left;
}

.bt-nica{
    background-image:url(../img/paises-bandera.png);
    background-position: -1px -90px;
    background-repeat:no-repeat;
    width:34px;
    height:25px;
    display:block;
    float: left;
}


.bt-hond{
    background-image:url(../img/paises-bandera.png);
    background-position: -1px -120px;
    background-repeat:no-repeat;
    width:34px;
    height:25px;
    display:block;
    float: left;
}

.bt-pan{
    background-image:url(../img/paises-bandera.png);
    background-position: -1px -150px;
    background-repeat:no-repeat;
    width:34px;
    height:25px;
    display:block;
    float: left;
}

.bt-costa{
    background-image:url(../img/paises-bandera.png);
    background-position: -1px -182px;
    background-repeat:no-repeat;
    width:34px;
    height:25px;
    display:block;
    float: left;
}

.bt-puerto{
    background-image:url(../img/paises-bandera.png);
    background-position: -1px -215px;
    background-repeat:no-repeat;
    width:34px;
    height:25px;
    display:block;
    float: left;
}


.bt-republica{
    background-image:url(../img/paises-bandera.png);
    background-position: -1px -245px;
    background-repeat:no-repeat;
    width:34px;
    height:25px;
    display:block;
    float: left;
}

.bt-col{
    background-image:url(../img/paises-bandera.png);
    background-position: -1px -275px;
    background-repeat:no-repeat;
    width:34px;
    height:25px;
    display:block;
    float: left;
}

.bt-ecu{
    background-image:url(../img/paises-bandera.png);
    background-position: -1px -305px;
    background-repeat:no-repeat;
    width:34px;
    height:25px;
    display:block;
    float: left;
}

.bt-peru{
    background-image:url(../img/paises-bandera.png);
    background-position: -1px -335px;
    background-repeat:no-repeat;
    width:34px;
    height:25px;
    display:block;
    float: left;
}

.bt-bra{
    background-image:url(../img/paises-bandera.png);
    background-position: -1px -368px;
    background-repeat:no-repeat;
    width:34px;
    height:25px;
    display:block;
    float: left;
}

.bt-chi{
    background-image:url(../img/paises-bandera.png);
    background-position: -1px -491px;
    background-repeat:no-repeat;
    width:34px;
    height:25px;
    display:block;
    float: left;
}

.bt-arg{
    background-image:url(../img/paises-bandera.png);
    background-position: -1px -400px;
    background-repeat:no-repeat;
    width:34px;
    height:25px;
    display:block;
    float: left;
}

.bt-para{
    background-image:url(../img/paises-bandera.png);
    background-position: -1px -430px;
    background-repeat:no-repeat;
    width:34px;
    height:25px;
    display:block;
    float: left;
}

.bt-uru{
    background-image:url(../img/paises-bandera.png);
    background-position: -1px -461px;
    background-repeat:no-repeat;
    width:34px;
    height:25px;
    display:block;
    float: left;
}

/* responsive */
@media (min-width : 320px) and (max-width : 480px) {
    #world-map { display: none; }
    #container-canvas { width: 90%; margin: 20px auto; }
    .mapa-paises-txt { position: inherit; top: 0; }
    .logo-claro-paises { position: inherit; top: 0; margin: 0 10px; }
    .logo-claro-paises img { width: 100%; }
}

@media (min-width : 481px) and (max-width : 640px) { 
    #world-map { display: none; }
    #container-canvas { width: 90%; margin: 20px auto; }
    .mapa-paises-txt { position: inherit; top: 0; }
    .logo-claro-paises { position: inherit; top: 0; margin: 0 10px; }
    .logo-claro-paises img { width: 100%; }
}

  