/*---- 
@claroviajes 2015 
section dashboard-voucher
----*/

body {
    font-family: 'din_alternateregular', 'din-woff', sans-serif;
    background: #f2f2f2;
    padding: 30px 0;
}

.bg-line {
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#0093b1), color-stop(0.25, #0093b1), color-stop(0.5, #ff3015), color-stop(0.75, #ff8622) to(#ff8622));
  background: -webkit-linear-gradient(left, #0093b1, #ff3015, #ff8622);
  background: -moz-linear-gradient(left, #0093b1, #ff3015, #ff8622);
  background: -ms-linear-gradient(left, #0093b1, #ff3015, #ff8622);
  background: -o-linear-gradient(left, #0093b1, #ff3015, #ff8622);
}

#dashboard-voucher { }
#dashboard-voucher .container { width: 720px; padding: 0; }

#dashboard-voucher header .main-header { background: #fff; padding:30px 10px 5px; }
#dashboard-voucher header .main-header span { text-transform: uppercase; color: #0096AE; font-size: 1em; padding: 0 10px; float: left; }
#dashboard-voucher header .main-header .iconos { float: left; margin-top: 3px; }

#dashboard-voucher .main-data { background: #fff; padding:10px; }
#dashboard-voucher .main-data h6 { font-family: 'din_alternatebold'; font-size: 0.9em; margin: 0 0 3px; }
#dashboard-voucher .main-data p { margin: 0 0 3px; font-size: 0.9em; }
#dashboard-voucher .main-data p span.dest { font-family: 'din_alternatebold'; }

.passenger-content { float: left; width: 59%; margin-right: 10px; }
.passenger-provider { float: left; width: 39%; }

#dashboard-voucher .main-data-hotel {  margin: 10px 0; background: #fff; }
.hotel-title { float: left; width: 49%; padding:10px; }
.hotel-data { float: left; width: 51%; border-left: 10px #f2f2f2 solid; padding:10px; }

#dashboard-voucher .box-copy { background: #fff; padding:10px; margin: 10px 0; }
#dashboard-voucher .box-copy p { font-size: 0.7em; margin: 0 0 2px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

#dashboard-voucher .box-legal { margin: 10px 0;  }
#dashboard-voucher .box-legal p { font-size: 0.8em; margin: 0 0 5px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
#dashboard-voucher .box-legal .c1 { float: left; width: 48%; margin: 0 10px 0 0; }
#dashboard-voucher .box-legal .c2 { float: left; width: 48%; }

.hotel-title p.name-hotel { text-transform: uppercase; font-size: 1.1em; }
.hotel-title p.days { color: #0096AE; }

.hotel-data p { margin: 0 0 2px; }
.hotel-data p span.dest { color: #999; }

#dashboard-voucher .main-data-vuelo {  margin: 10px 0; }
#dashboard-voucher .vuelo-data { float: left; width: 50%; padding:10px; }
#dashboard-voucher .vuelo-data p { margin: 0 0 2px; }
#dashboard-voucher .vuelo-data p span.dest { color: #999; }

#dashboard-voucher ul.list-vuelo { padding: 0; margin: 0; list-style: none; overflow: hidden; border-bottom: 1px #f2f2f2 solid;  }
#dashboard-voucher ul.list-vuelo li { float: left; width: 33%; padding:10px 2px; text-align: center; }
#dashboard-voucher ul.list-vuelo li.first { width: 24%; background: #f2f2f2; padding: 15px 2px; font-size: 0.9em; }
#dashboard-voucher ul.list-vuelo li.icono { width: 10%; }

#dashboard-voucher ul.list-vuelo li span { color: #999; font-size: 0.8em; display: block; }
#dashboard-voucher ul.list-vuelo li span.dest { color: #000; font-size: 1.3em; display: block; }

#dashboard-voucher .vuelo-data-ida { float: left; width: 49%; margin-right: 10px; background: #fff; }
#dashboard-voucher .vuelo-data-regreso { float: left; width: 49%; background: #fff; }

#dashboard-voucher ul.list-vuelo li.first span { color: #0096AE; }



