/*---- section dashboard-subscription
     11.2014  ----*/

#dashboard-subscription { margin: 155px 0; display: block; }
#dashboard-subscription .container { max-width: 1024px; }


#dashboard-subscription .subscription-content-user { border-top: 30px #DDDDDD solid; background: #f8f8f8; height: 260px; padding-top: 30px; }
#dashboard-subscription .subscription-content-user .block-user { float: left; position: relative; width: 50%; height: 140px;  }

#dashboard-subscription .subscription-content-user .user-figure { position: absolute; bottom: 0; left: 0; right: 0; height: 140px; background: url("../img/subscription/user-figure.png") no-repeat bottom center; z-index: 99; }

#dashboard-subscription .subscription-content-user .user-name { z-index: 100; position: absolute; bottom: 0; height: 35px; left: 0; right: 0; margin: 0 auto; width: 76%; }
#dashboard-subscription .subscription-content-user h1 {
background: #dddddd;
font-family: 'bebas_neueregular';
text-align: center;
color:#868686;
line-height: 35px;
padding: 0 10px; 
text-transform: uppercase;
font-size: 2em;
float: left;
margin: 0;
width: 260px;
}
#dashboard-subscription .subscription-content-user span.user-before {
background: url("../img/subscription/bk-user-before.png") no-repeat;
width: 44px;
height: 35px;
float: left;
}

#dashboard-subscription .subscription-content-user span.user-after {
background: url("../img/subscription/bk-user-after.png") no-repeat;
width: 44px;
height: 35px;
float: left;
}

#dashboard-subscription .subscription-content-user .block-user-bienvenida { float: left; width: 50%; }
#dashboard-subscription .subscription-content-user .block-user-bienvenida .title-bienvenida { font-family: 'din_alternateregular'; color: #868686; font-size: 2em; }

#dashboard-subscription .subscription-content-user .btn-suscribirse { border-radius: 0; background:#FF801D; font-family: 'bebas_neueregular'; font-size: 1.5em; 
color: #fff; border: none;
      -webkit-transition: background .2s ease-in-out;
       -o-transition: background .2s ease-in-out;
          transition: background .2s ease-in-out;
 }
#dashboard-subscription .subscription-content-user .btn-suscribirse:hover { background:#E55C00; }

#dashboard-subscription .subscription-header { background: url("../img/subscription/bk-header.jpg") no-repeat top right; height: 345px; position: relative; }
#dashboard-subscription .subscription-header h1.title { font-family: 'romeralregular'; font-size: 3.6em; line-height: 47px; color: #fff; display: block; width: 300px; position: absolute; top: 30px; left: 40px; margin: 0; }

#dashboard-subscription .subscription-header .box-icono-club { display: none; }
/*#dashboard-subscription .subscription-header .box-icono-club { 
  position: absolute; 
  top: 0; 
  right: 40px; 
  background: url("../img/subscription/icono-club-beneficio.png") no-repeat top center; 
  width: 83px; 
  height: 147px; 
}*/


#dashboard-subscription .subscription-header .box-step { position: absolute; left: 40px; top: 180px; background: url("../img/subscription/bk-step.png") no-repeat; width: 179px; height: 45px; display: block; }
#dashboard-subscription .subscription-header .box-step span { font-family: 'bebas_neueregular'; color: #868686; line-height: 25px; font-size: 1.2em; }
#dashboard-subscription .subscription-header .box-step span.n-step { font-size: 3em; position: relative; top: 10px; }
#dashboard-subscription .subscription-header .box-step span.t-1 { margin: 0 20px 0 10px; }
#dashboard-subscription .subscription-header .box-step span.t-2 { margin: 0 10px 0 25px; }
#dashboard-subscription .subscription-header .box-step-1 { position: absolute; left: 250px; bottom: -19px; background: url("../img/subscription/bk-step-1.png") no-repeat; width: 176px; height: 111px; 
font-family: 'bebas_neueregular';
font-size: 1.7em;
color: #fff;
text-align: center;
padding: 77px 0 0;
z-index: 1; }



#dashboard-subscription .subscription-footer { background: #E9E9E9 url("../img/subscription/bk-footer.png") no-repeat top center; min-height: 500px; position: relative; }
#dashboard-subscription .subscription-footer .box-step-2 { position: absolute; right: 120px; top:100px; background: url("../img/subscription/bk-step-2.png") no-repeat; width: 170px; height: 110px; 
font-family: 'bebas_neueregular';
font-size: 1.7em;
color: #fff;
text-align: center;
padding: 75px 0 0;
z-index: 1; }

#dashboard-subscription .subscription-content { min-height: 250px; }
#dashboard-subscription .subscription-content ul { background-color: #f0f0f0; }
#dashboard-subscription .subscription-content ul li.first { margin-left: 51.5%; }
#dashboard-subscription .subscription-content ul li a { /*padding: 5px 60px 5px 15px;*/ width: 153px; border-radius: 0; font-family: 'din_alternateregular'; color: #868686; text-align: center; }
#dashboard-subscription .subscription-content { background-color: #fff; }
#dashboard-subscription .subscription-content ul>li.active>a, 
#dashboard-subscription .subscription-content ul>li.active>a:hover, 
#dashboard-subscription .subscription-content ul>li.active>a:focus { color: #FF801D; }

#dashboard-subscription .subscription-content .tab-content { padding: 20px 0; }
#dashboard-subscription .subscription-content .form-control { border-radius: 0; height: 44px; }
#dashboard-subscription .subscription-content .form-control::-moz-placeholder {color: #d0d0d0;}
#dashboard-subscription .subscription-content .form-control:-ms-input-placeholder {color: #d0d0d0;}
#dashboard-subscription .subscription-content .form-control::-webkit-input-placeholder {color: #d0d0d0;}
.placeholder { color: #d0d0d0; }

#dashboard-subscription .subscription-content p.legal { font-size: .8em; color: #868686; }

#dashboard-subscription .subscription-content .btn-suscribirse { border-radius: 0; background:#FF801D; font-family: 'bebas_neueregular'; font-size: 1.5em; 
color: #fff; border: none;
      -webkit-transition: background .2s ease-in-out;
       -o-transition: background .2s ease-in-out;
          transition: background .2s ease-in-out;
 }
 #dashboard-subscription .subscription-content .btn-suscribirse:hover { background:#E55C00; }


#dashboard-subscription .box-envia { background-color: #E9E9E9; position: relative; height: 28px; }
#dashboard-subscription .box-envia .box-e-1 { position: absolute; left: 18%; top: 2px; }
#dashboard-subscription .box-envia .box-e-2 { position: absolute; right: 18%; top: 2px; }
#dashboard-subscription .box-envia .box-t-1 { text-align: center; font-family: 'bebas_neueregular'; color: #868686; font-size: 2em; padding: 55px 0 0; left: 22%; background:url("../img/subscription/bk-envia.png") no-repeat; width: 267px; height: 93px; position: absolute; z-index: 3; top: -61px; }
#dashboard-subscription .box-envia .box-t-1 span { color: #FF801D; }
#dashboard-subscription .box-envia .box-t-2 { position: absolute; left: 52%; font-family: 'bebas_neueregular';font-size: 1.5em; color: #868686; }
#dashboard-subscription .box-envia .box-f { position: absolute; left: 49%; top: 2px; }



#dashboard-subscription .subscription-footer .box-title { position: absolute; right: 100px; top: 250px; width: 200px; text-align: center; }
#dashboard-subscription .subscription-footer .box-title h3 { font-family: 'bebas_neueregular'; color: #868686; margin: 0; font-size: 2.2em; line-height: 30px; margin: 0 0 10px; }
#dashboard-subscription .subscription-footer .box-title p { color: #868686; font-family: 'din_alternateregular'; margin: 20px 0 5px; }
#dashboard-subscription .subscription-footer .box-estrella { margin: 0 auto; width: 37px; height: 9px; }
.line {
  background-color:#EDEDED;
  border-bottom:1px solid #868686;
  position:relative;
  width:100%;
 }
.line-arrow-border {
  border-color: #868686 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-21px;
  left:47%;
}
 .line-arrow {
  border-color: #E9E9E9 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-20px;
  left:47%;
 }


.subscription-footer { position:relative; }
.subscription-footer a.escudo-1 { position:absolute; width:148px; height:210px; left:50px; top:180px; cursor:pointer; z-index:101; 
background: url("../img/subscription/escudo-1.png") no-repeat; text-align: center; padding-top: 20px; }
.subscription-footer a.escudo-2 { position:absolute; width:148px; height:210px; left:160px; top:220px; cursor:pointer; z-index:102; 
background: url("../img/subscription/escudo-2.png") no-repeat; text-align: center; padding-top: 20px; }
.subscription-footer a.escudo-3 { position:absolute; width:148px; height:210px; left:260px; top:260px; cursor:pointer; z-index:103; 
background: url("../img/subscription/escudo-3.png") no-repeat; text-align: center; padding-top: 20px; }
.subscription-footer a.escudo-4 { position:absolute; width:148px; height:210px; left:360px; top:220px; cursor:pointer; z-index:102; 
background: url("../img/subscription/escudo-4.png") no-repeat; text-align: center; padding-top: 20px; }
.subscription-footer a.escudo-5 { position:absolute; width:148px; height:210px; left:460px; top:180px; cursor:pointer; z-index:101; 
background: url("../img/subscription/escudo-5.png") no-repeat; text-align: center; padding-top: 20px; }

.subscription-footer a.escudo-1 p.desc-n span { position: relative; top: -2px; }

.subscription-footer .box-productos p { font-family: 'din_alternateregular'; margin: 0; }
.subscription-footer .box-productos p.desc { color: #fff; font-size: 1.2em; text-transform: uppercase; line-height: 24px; }
.subscription-footer .box-productos p.desc-n { color: #B2B2B2; font-size: 4em; line-height: 56px; padding-top: 16px; font-family: 'bebas_neueregular'; }
.subscription-footer .box-productos p.desc-n span { font-size: .7em; }
.subscription-footer .box-productos p.desc-t { color: #B2B2B2; font-size: .8em; padding: 5px 25px; line-height: 10px; }

.box-productos a {
  display: block;
  -webkit-backface-visibility: hidden;

  -webkit-transition: 
    opacity 0.4s linear, 
    -webkit-transform 0.4s ease-in-out;

  -moz-transition: 
    opacity 0.4s linear, 
    -moz-transform 0.4s ease-in-out;

  -o-transition: 
    opacity 0.4s linear, 
    -o-transform 0.4s ease-in-out; 

  -ms-transition: 
    opacity 0.4s linear, 
    -ms-transform 0.4s ease-in-out;

  transition: 
    opacity 0.4s linear, 
    transform 0.4s ease-in-out;

}

.box-productos a.blur{
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.5;
}

.box-productos a.active{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 104; 
  opacity: 1;
}

.legal-sm { display: none; }

.alert-suscripcion { 
width: 63%; 
margin: 10px auto;
color: #ff831d;
background-color: #ffebdb;
border-color: #f99b4e;
padding: 5px 15px;
 }

 /* class from FB */

.body-fb { background-image: none!important; }
.dashboard-subscription-fb .container { padding: 0; width: 100%; margin: 0!important; }
.dashboard-subscription-fb .subscription-header .box-step-1 { left: 165px!important; }

.dashboard-subscription-fb .subscription-content ul li a { width: 118px!important; }

.dashboard-subscription-fb .box-envia .box-e-1 { left: 10%!important; }
.dashboard-subscription-fb .box-envia .box-t-1 { left: 16%!important; }
.dashboard-subscription-fb .box-envia .box-f { left: 50%!important; }
.dashboard-subscription-fb .box-envia .box-t-2 { left: 54%!important;}
.dashboard-subscription-fb .box-envia .box-e-2 { right: 10%!important; }

.dashboard-subscription-fb .subscription-content-user .user-figure { width: 75%!important; }

.body-fb #header-main,
.body-fb #footer-main1,
.body-fb #footer-main2,
.body-fb #footer-main3 { display: none; }




/* BIENVENIDA */
#dashboard-subscription .subscription-bienvenida { background: #f1f1f2; padding: 0 0 30px; }
#dashboard-subscription .subscription-bienvenida .header-content { 
  background: url("../img/subscription/bienvenida-xl.jpg") no-repeat top center; 
  height: 564px; 
  position: relative; 
}
#dashboard-subscription .subscription-bienvenida .header-content h1.title {
  font-family: 'din_alternateregular';
  font-size: 3em; 
  line-height: 47px; 
  color: #fff; 
  display: block; 
  position: absolute; 
  top: 210px; 
  left: 40px; 
  margin: 0; 
}
#dashboard-subscription .subscription-bienvenida .header-content h1.title span { display: block; }
#dashboard-subscription .subscription-bienvenida .header-content .box-icono-club { 
  position: absolute; 
  top: 0; 
  left: 40px; 
  background: url("../img/subscription/icono-club-beneficio.png") no-repeat top center; 
  width: 83px; 
  height: 147px; 
}
#dashboard-subscription .subscription-bienvenida .header-content a.btn-ver-ofertas {
  background: #FF801D;
  padding: 5px 30px;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2em;
  font-family: 'din_alternateregular';
  position: absolute;
  text-align: center;
  top: 330px;
  left: 40px;
  -webkit-transition: background .2s ease-in-out;
  -o-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;

  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
}
#dashboard-subscription .subscription-bienvenida .header-content a.btn-ver-ofertas:hover {
  background: #e66500;
}

#dashboard-subscription .subscription-bienvenida h3 { color: #808080; text-align: center; font-family: 'din_alternateregular'; }
#dashboard-subscription .subscription-bienvenida p { width: 40%; margin: 0 auto; color: #808080; font-size: 1.2em; text-align: center; font-family: 'din_alternateregular'; }

.bienvenida-user{
    background-color: #b6b6b6;
    height: 39px;
    width: 300px;
    margin: -20px auto 20px;
    position: relative;
    text-align: center;
}
.bienvenida-user span { line-height: 39px; color: #fff; font-size: 1.2em; font-family: 'din_alternateregular'; }
.bienvenida-user:before{
    width: 34px;
    height: 39px;
    content: " ";
    background-image: url("../img/subscription/bk-before.png");
    position: absolute;
    left: -34px;
    top: 0px;
}
.bienvenida-user:after{
    width: 34px;
    height: 39px;
    content: " ";
    background-image: url("../img/subscription/bk-after.png");
    position: absolute;
    right: -34px;
    top: 0px;
}




/* responsive */

/*@media (min-width : 320px) and (max-width : 480px) { 
#dashboard-subscription .subscription-header { background: #F0F0F0 url("../img/subscription/bk-header-sm.jpg") no-repeat top center; height: 320px; }
#dashboard-subscription .subscription-header .box-step { display: none; }
#dashboard-subscription .subscription-header .box-icono-club { position: absolute; top: 0; right: 20px; background: url("../img/subscription/icono-club-beneficio-sm.png") no-repeat top center; width: 37px; height: 55px; }
#dashboard-subscription .subscription-header h1.title { text-align: center; font-size: 2.8em; line-height: 36px; top: 140px; left: 0; right: 0; margin:0 auto;  }
#dashboard-subscription .subscription-header .box-step-1 { position: absolute; left:0; right: 0; bottom: 15px; background: url("../img/subscription/bk-step-1-sm.png") no-repeat; width: 298px; height: 47px; 
font-family: 'bebas_neueregular';
font-size: 2.4em;
color: #fff;
text-align: center;
padding: 0;
z-index: 1;
margin: 0 auto; }
#dashboard-subscription .subscription-content ul { border-bottom: none; }
#dashboard-subscription .subscription-content ul li.first { margin: 0; }
#dashboard-subscription .subscription-content ul li { width: 50%; }
#dashboard-subscription .subscription-content ul li a { width: 100%; }

#dashboard-subscription .subscription-content .col-xs-2, 
#dashboard-subscription .subscription-content .col-xs-4 { float: none; }
#dashboard-subscription .subscription-content .col-xs-4 { width: 100%; }

#dashboard-subscription .subscription-content .col-xs-4 p.legal { display: none; }
#dashboard-subscription .subscription-content .legal-sm { display: block; padding: 15px; }
#dashboard-subscription .box-envia .box-e-1 { display: none; }
#dashboard-subscription .box-envia .box-e-2 { display: none; }

#dashboard-subscription .box-envia .box-t-1 { text-align: center; font-family: 'bebas_neueregular'; color: #868686; font-size: 2em; padding:5px 0; left: 0; right: 0; margin: 0 auto; background:url("../img/subscription/bk-envia-sm.png") no-repeat top center; width: 320px; height: 47px; position: absolute; z-index: 3; top: -22px; }
#dashboard-subscription .box-envia .box-f { display: none; }
#dashboard-subscription .box-envia .box-t-2 { left: 0; right: 0; top: 50px; text-align: center; z-index: 10; }
#dashboard-subscription .box-envia { height: 100px; }

#dashboard-subscription .subscription-footer { background: #E9E9E9 url("../img/subscription/bk-footer-sm.png") no-repeat top center; position: relative; min-height: 1080px; }
#dashboard-subscription .subscription-footer .box-step-2 { position: absolute; left:0; right: 0; top: 144px; background: url("../img/subscription/bk-step-1-sm.png") no-repeat; width: 298px; height: 47px; 
font-family: 'bebas_neueregular';
font-size: 2.4em;
color: #fff;
text-align: center;
padding: 0;
z-index: 1;
margin: 0 auto;
}

#dashboard-subscription .subscription-footer .box-title { width: 90%; margin: 0 auto; left: 0; right: 0; }
#dashboard-subscription .subscription-footer .box-productos { width: 100%; margin: 0 auto; position: relative; }

.subscription-footer a.escudo-1 { left: 5%; top: 440px; }
.subscription-footer a.escudo-2 { right: 5%; top: 520px; left: inherit; }
.subscription-footer a.escudo-3 { left: 5%; top: 645px; }
.subscription-footer a.escudo-4 { left: inherit; right: 5%; top: 720px; }
.subscription-footer a.escudo-5 { left: 5%; top: 850px; }

.box-productos a.blur{
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.box-productos a.active{
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  z-index: 104; 
  opacity: 1;
}

#dashboard-subscription .subscription-content-user { height: auto; padding: 20px 0; }
#dashboard-subscription .subscription-content-user .block-user { float: none; width: 100%; }
#dashboard-subscription .subscription-content-user .block-user-bienvenida { float: none; width: 100%; text-align: center; }
#dashboard-subscription .subscription-content-user .block-user-bienvenida .title-bienvenida { font-size: 1.5em; }
#dashboard-subscription .subscription-content-user .user-name { width: 100%; }
#dashboard-subscription .subscription-content-user span.user-before,
#dashboard-subscription .subscription-content-user span.user-after { display: none; }
#dashboard-subscription .subscription-content-user h1 { width: 100%; }


#dashboard-subscription .subscription-bienvenida .header-content { background: url("../img/subscription/bienvenida-sm.jpg") no-repeat top center; height: 380px; }
#dashboard-subscription .subscription-bienvenida .header-content .box-icono-club { position: absolute; top: 0; right: 20px; background: url("../img/subscription/icono-club-beneficio-sm.png") no-repeat top center; width: 37px; height: 55px; }
#dashboard-subscription .subscription-bienvenida .header-content h1.title { text-align: center; font-size: 2.5em; line-height: 36px; top: 160px; left: 0; right: 0; margin:0 auto; }
#dashboard-subscription .subscription-bienvenida .header-content a.btn-ver-ofertas { left: 0; right: 0; width: 80%; margin: 0 auto; top: 280px; }
.bienvenida-user{ width: 90%; }
#dashboard-subscription .subscription-bienvenida p { width: 80%; }

}

@media (min-width : 481px) and (max-width : 640px) { 

#dashboard-subscription .container { max-width: 640px; }

.col-xs-2 { width: 5% }
.col-xs-4 { width: 45%; }

#dashboard-subscription .box-envia .box-e-1 { display: none; }
#dashboard-subscription .box-envia .box-e-2 { display: none; }

#dashboard-subscription .box-envia .box-t-2 { left: 54%; }

#dashboard-subscription .subscription-content ul li.first { margin-left: 53%; }
#dashboard-subscription .subscription-content ul li a { width: 110px; }

#dashboard-subscription .subscription-header h1.title { left: 9px; }
#dashboard-subscription .subscription-header .box-step { left: 9px; }
#dashboard-subscription .subscription-header .box-icono-club { right: 9px; }

#dashboard-subscription .subscription-header .box-step-1 { left: 70px; }
#dashboard-subscription .box-envia .box-e-1 { left: 1%; }
#dashboard-subscription .box-envia .box-t-1 { left: 7%; }
#dashboard-subscription .box-envia .box-e-2 { right: 1%; }

#dashboard-subscription .subscription-footer { min-height: 750px; }
.subscription-footer a.escudo-1 { left: 1%; top: 400px; }
.subscription-footer a.escudo-2 { left: 20%; top: 460px; }
.subscription-footer a.escudo-3 { left: 40%; top: 500px; }
.subscription-footer a.escudo-4 { left: 60%; top: 460px; } 
.subscription-footer a.escudo-5 { left: 72%; top: 400px; }

#dashboard-subscription .subscription-footer .box-productos { width: 100%; margin: 0 auto; position: relative; }


#dashboard-subscription .subscription-footer .box-title { width: 400px; left: 0; right: 0; margin: 0 auto; top: 280px; }

#dashboard-subscription .subscription-content-user .user-name { width: 100%; }
#dashboard-subscription .subscription-content-user h1 { width: 220px; }
#dashboard-subscription .subscription-content-user .block-user-bienvenida .title-bienvenida { font-size: 1.5em; }
#dashboard-subscription .subscription-content-user .block-user-bienvenida { padding-top: 40px; }

#dashboard-subscription .subscription-footer .box-step-2 { margin: 0 auto; left: 0; right: 0; top: 140px; }



}

@media (min-width : 641px) and (max-width : 800px) {

.col-xs-2 { width: 5% }
.col-xs-4 { width: 45%; }

#dashboard-subscription .subscription-header .box-step-1 { left: 15%; }
#dashboard-subscription .box-envia .box-e-1 { left: 1%; }
#dashboard-subscription .box-envia .box-t-1 { left: 7%; }
#dashboard-subscription .box-envia .box-e-2 { right: 1%; }

#dashboard-subscription .subscription-footer { min-height: 750px; }
.subscription-footer a.escudo-1 { top: 400px; }
.subscription-footer a.escudo-2 { top: 460px; }
.subscription-footer a.escudo-3 { top: 500px; }
.subscription-footer a.escudo-4 { top: 460px; } 
.subscription-footer a.escudo-5 { top: 400px; }
.box-productos {
  left: 0;
    margin: 0 auto;
    position: relative;
    right: 0;
    width: 700px;
    }

#dashboard-subscription .subscription-footer .box-title { width: 400px; left: 0; right: 0; margin: 0 auto; top: 280px; }
#dashboard-subscription .subscription-content-user .user-name { width: 100%; }
#dashboard-subscription .subscription-content-user h1 { width: 220px; }
#dashboard-subscription .subscription-content-user .block-user-bienvenida .title-bienvenida { font-size: 1.5em; }
#dashboard-subscription .subscription-content-user .block-user-bienvenida { padding-top: 40px; }

#dashboard-subscription .subscription-footer .box-step-2 { margin: 0 auto; left: 0; right: 0; }

#dashboard-subscription .box-envia .box-e-1,
#dashboard-subscription .box-envia .box-e-2 { display: none; }


 }

@media (min-width : 768px) and (max-width : 1024px) { 

#dashboard-subscription .subscription-footer .box-title { width: 400px; left: 0; right: 0; margin: 0 auto; top: 280px; }
#dashboard-subscription .subscription-content-user .user-name { width: 100%; }
#dashboard-subscription .subscription-content-user h1 { width: 220px; }
#dashboard-subscription .subscription-content-user .block-user-bienvenida .title-bienvenida { font-size: 1.5em; }
#dashboard-subscription .subscription-content-user .block-user-bienvenida { padding-top: 40px; }
#dashboard-subscription .subscription-content-user .user-figure { width: 60%; }

#dashboard-subscription .subscription-footer { min-height: 750px; }
.subscription-footer a.escudo-1 { top: 400px; }
.subscription-footer a.escudo-2 { top: 460px; }
.subscription-footer a.escudo-3 { top: 500px; }
.subscription-footer a.escudo-4 { top: 460px; } 
.subscription-footer a.escudo-5 { top: 400px; }

.box-productos {
  left: 0;
    margin: 0 auto;
    position: relative;
    right: 0;
    width: 700px;
    }
#dashboard-subscription .subscription-footer .box-step-2 { margin: 0 auto; left: 0; right: 0; top: 140px; }
#dashboard-subscription .subscription-content ul li a { width: 140px; }

}*/








