

.list-destiny .list-group-item {
    padding: 0;
}

.list-destiny li
{
    background-color: #f7f8f7;
    color: #77777a;
    height: 73px;
}

.list-destiny li > a:hover, .list-destiny li > a:focus  
{
    background-color: #dddddd;
    height: 71px !important;
}

.list-group-item a
{
    text-decoration: none;
    color: #77777a !important;
    height: 73px;
}

.list-group-item span
{
    position: relative;
    top: 5px;
}

.list-group-item img
{
    width: 50px;
    height: 50px;
    margin-right: 7px;
}

#container-trips {
	margin-top: 30px;
	width: 760px;
	height: 220px;
/*	background: url(../img/banner-trips.background.png) #fff;
	background-repeat: no-repeat;*/
  background: #ffffff;
	margin-bottom: 30px;
}

#container-trips .caption-trips
{
	font-size: 16px;
	/* font-family: "DINAlternate"; */
	color: rgb( 107, 107, 107 );
	margin-top: 80px;
	margin-left: 190px;
	margin-bottom: 16px;
}

#container-trips .caption-register
{
	width: 208px;
	margin-left: 190px;
	font-weight: normal;
}


#container-trips .caption-signin
{
	width: 208px;
	font-weight: normal;
}


.img-destinations { padding-left: 0; }
.img-destinations2 { padding-right: 0; }

/* @BANNER VIAJERO */
#carousel-main-destinations { height: 360px; }
#carousel-main-destinations .carousel-inner {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}
#carousel-main-destinations article {
  height: 360px;
  overflow: hidden;
    border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}
#carousel-main-destinations article * { color: #fff; }
#carousel-main-destinations article .destinations-caption {
  background: rgba(1,1,1, 0.5);
  position: absolute;
  bottom: 0;
  padding: 5px 0;
  width: 100%;
  display: block;
  text-align: center;
}
#carousel-main-destinations article .destinations-caption .destinations-title { text-align: center; }
#carousel-main-destinations article .destinations-caption .destinations-title .icon-destinations { display: inline-block; }
#carousel-main-destinations article .destinations-caption .destinations-title h1.t1 { 
  text-transform: uppercase; 
  font-family: 'bebas_neueregular'; 
  font-size: 3em;
  margin: 0;
  display: block;
}
#carousel-main-destinations article .destinations-caption h4.t2 {
  font-size: 1em;
  margin: 0;
  border:none;
  font-family: 'din_alternateregular';
}
#carousel-main-destinations article img {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  margin: 0 auto;
  position: relative;
  max-width: 102%;
}

#carousel-main-destinations .carousel-control.right {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
  background-image: none;
} 

#carousel-main-destinations .carousel-control.left {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
    background-image: none;
}

.card.active { cursor: default; } 
.card { cursor: pointer; }

.icon-close-container{
	text-align: right;
	font-weight: bold;
}
.icon-close-container a{
	color: #77777a !important; 
}

#banner-alerts{
    margin-bottom: 30px;
    overflow: hidden;
}

#banner-well-offers{
    margin-bottom: 30px;
    overflow: hidden;
}

.cards {
   height: 310px;
   padding: 0 0 0 58px;
   width: 936px !important;
}

.dialog-home-bienvenido{
    position: absolute;
    cursor: pointer;
    width: 388px;
    height: 432px;
    /*background-color: #f38530;*/
    background: #fff;
    border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.dialog-home-bienvenido .sticker
{
  position: absolute;
  top: 50px;
  width: 214px;
  margin: 0 auto;
  left: 0; 
  right: 0;
}

.dialog-home-bienvenido .box-sticker {
background: url("../img/sticker-clubbeneficios-n.png") no-repeat;
width: 214px;
height: 156px;
position: absolute;
z-index: 100;
margin: 45px auto 0;
left: 0;
right: 0;
}
.dialog-home-bienvenido .box-sticker .box-sticker-text {
  width: 60%;
  margin: 0 28px;
  display: block;
-webkit-transform: rotate(-15deg);
-moz-transform: rotate(-15deg);
-ms-transform: rotate(-15deg);
-o-transform: rotate(-15deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
padding-top: 47px;
}

.dialog-home-bienvenido .box-sticker h2 { color: #fff; font-family: 'din_alternatebold'; text-transform: uppercase; font-size: 1.6em; margin: 0;}
.dialog-home-bienvenido .box-sticker p { background: url("../img/sticker-bk-p.jpg") repeat-x center left; margin: 0; line-height: 13px;  }
.dialog-home-bienvenido .box-sticker p span { color: #fff; font-size: 0.7em; background: #f1832d; padding: 1px 3px 1px 0; text-transform: uppercase;  }

.dialog-home-bienvenido .close-link
{
	position: absolute;
    left: 370px;
    top: 10px;
}

.dialog-home-bienvenido h2 {
  color: #3e3e3e;
  font-size: 31px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 0;
  margin-top: 5px;
  /*text-shadow: 0 1px 2px #040305;*/
  font-family: 'din_alternate_mediumregular';
}

.dialog-home-bienvenido p {
  color: #3e3e3e;
  font-size: 21px;
  letter-spacing: -1px;
}

.dialog-home-bienvenido .dialog-content {
	text-align: center;
    margin-top: 246px;
}

.dialog-home-bienvenido .dialog-separator {
  background: url("../img/dialog-bienvenido-separator.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  height: 27px;
  margin: 20px 0px 0px;
  width: 343px;
}

.dialog-home-suscripcion{
    position: absolute;
    cursor: pointer;
    width: 560px;
    height: 192px;
    background-color: #f38530;
    border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.dialog-home-suscripcion .dialog-content {
	text-align: center;
    margin-top: 35px;
}

.dialog-home-suscripcion .close-link
{
	position: absolute;
    left: 540px;
    top: 10px;
}

.dialog-home-suscripcion h2 {
  color: #FFFFFF;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -2px;
  margin-bottom: 0;
  margin-top: 5px;
  text-shadow: 0 1px 2px #040305;
}

.dialog-home-suscripcion p {
  color: #FFFFFF;
  font-size: 24px;
  margin-top: 5px;
}

#modal-suscripcion .popover {
    display: block;
}

.popover.top .arrow, .popover.top .arrow:after {
    border-top-color: #f38530;
}

/*#banner-alerts .alert-finished-layer {
	width: 100%;
    height: 100%;
	display:block;
    position: absolute;
    top: 0;
    left: 0;	
	background: url(../img/alert-finished.png) -15px -15px no-repeat; 
	background-size: 107%;
	z-index:10;
}*/

#banner-alerts .alert-finished-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;    
    background: rgba(0, 0, 0, 0.6); 
    z-index:10;
}

#banner-alerts .alert-finished-layer .alert-layer {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin:0 auto;     
    background: url("../img/card/alert-finished-n-small.png") no-repeat;
    z-index:31;
    text-align: center;
}
#banner-alerts .alert-finished-layer .alert-layer h1 { color: #fff; line-height: 120px; font-size: 1em; }

/*#banner-well-offers .alert-finished-layer {
 	width: 100%;
    height: 100%;
	display:block;
    position: absolute;
    top: 0;
    left: 0;	
	background: url(../img/oferta-finished.png) -15px -15px no-repeat; 
	background-size: 107%;
	z-index:10;
}*/


#banner-well-offers .alert-finished-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;    
    background: rgba(0, 0, 0, 0.6); 
    z-index:30;
}

#banner-well-offers .alert-finished-layer .alert-layer {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin:0 auto;     
    background: url("../img/card/oferta-finished-c-small.png") no-repeat; 
    z-index:31;
    text-align: center;
}
#banner-well-offers .alert-finished-layer .alert-layer h1 { color: #fff; line-height: 120px; font-size: 1em; }

.list-group-item .alert-finished-layer {
width: 295px;
height: 71px;
display:block;
position: absolute;
top: 0;
left: 0;	
background: url(../img/card/destAlFinished.png) 0; 
z-index:10;
}

.list-group-item .ofert-finished-layer {
width: 295px;
height: 71px;
display:block;
position: absolute;
top: 0;
left: 0;	
background: url(../img/card/destOfFinished.png) 0; 
z-index:10;
}



/*---- section dashboard-carousel
11.2014  ----*/
#dashboard-carousel { margin: 143px 0 0; }
/*#dashboard-carousel { margin: 0 auto; }*/

#dashboard-carousel #carousel-main { max-width: 1324px; /*height: 500px;*/ }
/*#dashboard-carousel #carousel-main .box-icono-club { 
  position: absolute; 
  z-index: 100; 
  top: 0; 
  left: 180px; 
  background: url("../img/home/icono-club-beneficio-xl.png") no-repeat top center; 
  width: 120px; 
  height: 190px; 
}*/
#dashboard-carousel #carousel-main .box-icono-club { display: none; }

#dashboard-carousel #carousel-main .carousel-inner article.item { height: 500px; }

#dashboard-carousel #carousel-main .carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(0,0,0, 0.4);
  text-shadow: none;
}

#dashboard-carousel #carousel-main .carousel-control {
  position: absolute;
  top: 45%;
  bottom: 0;
  width: 15%;
  filter: alpha(opacity=30);
  opacity: .3;
  z-index: 11;
}
#dashboard-carousel #carousel-main .carousel-control.left {
/*  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;*/
  border-radius: 40px;
  background: rgba(0,0,0, 0.6);
  width: 70px;
  height: 70px;
  left: 20px;
}
#dashboard-carousel #carousel-main .carousel-control.right {
  right: 20px;
  left: auto;
/*  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;*/
  border-radius: 40px;
  background: rgba(0,0,0, 0.6);
  width: 70px;
  height: 70px;
}
#dashboard-carousel #carousel-main .carousel-control:hover,
#dashboard-carousel #carousel-main .carousel-control:focus {
  filter: alpha(opacity=80);
  outline: 0;
  opacity: .8;
}

#dashboard-carousel #carousel-main .carousel-caption .hotel-descuento { margin: 0 10px 0 0; border-radius: 30px; border: 2px #fff solid; float: left; padding: 5px; width: 50px; height: 50px; line-height: 30px; font-size: .8em;  font-family: 'din_alternateregular'; }
#dashboard-carousel #carousel-main .carousel-caption .hotel-descuento span { font-family: 'din_alternatebold'; font-size: 2em; }
#dashboard-carousel #carousel-main .carousel-caption h3 { float: left; font-family: 'din_alternate_lightregular';font-size: 3em; text-transform: uppercase; color: #fff; margin: 0; }
#dashboard-carousel #carousel-main .carousel-caption h3 span { border: none;  font-family: 'din_alternate_mediumregular';  }
#dashboard-carousel #carousel-main .carousel-caption .title-hotel { text-align: left; display: block; width: 70%; float: left; }
#dashboard-carousel #carousel-main .carousel-caption p { margin: 0; display: block;  text-align: left; font-family: 'din_alternateregular'; color:#fff; font-size: 1.4em; }

#dashboard-carousel #carousel-main .carousel-caption .btn-suscribirse { 
    border-radius: 0; 
    font-family: 'din_alternate_lightregular'; 
    font-size: 1.5em; 
/*    color: #fff;*/
    border: none;
    width: 260px;
    padding: 10px 0;
    margin: 20px 0;
    border-radius: 5px;
    -webkit-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
    /*  background-color: #FF801D;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f38530), to(#c45826));
        background: -webkit-linear-gradient(top, #f38530, #c45826);
        background: -moz-linear-gradient(top, #f38530, #c45826);
        background: -ms-linear-gradient(top, #f38530, #c45826);
        background: -o-linear-gradient(top, #f38530, #c45826); */
        background: #d52b1e;
      color: #fff;

}
#dashboard-carousel #carousel-main .carousel-caption .btn-suscribirse:hover { 
    /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c45826), to(#f38530));
    background: -webkit-linear-gradient(top, #c45826, #f38530);
    background: -moz-linear-gradient(top, #c45826, #f38530);
    background: -ms-linear-gradient(top, #c45826, #f38530);
    background: -o-linear-gradient(top, #c45826, #f38530); */
    background: #901a11!important;
    color: #fff!important;
}



#dashboard-carousel #carousel-main .carousel-caption-ofertas {
  background: url("../img/home/bk-oferta.png") no-repeat top left;
  height: 499px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  text-shadow: none;
  padding: 50px 0;
}

#dashboard-carousel #carousel-main .carousel-caption-ofertas .title-oferta h3 { font-family: 'din_alternate_lightregular'; font-size: 3em; text-transform: uppercase; color: #fff; margin: 0; }
#dashboard-carousel #carousel-main .carousel-caption-ofertas .title-oferta h3 span { font-family: 'din_alternate_mediumregular'; display: block; border: none; }
#dashboard-carousel #carousel-main .carousel-caption-ofertas .text-oferta { margin: 10px 0; }
#dashboard-carousel #carousel-main .carousel-caption-ofertas .text-oferta p { width: 45%; line-height: 20px; font-family: 'din_alternateregular'; color: #fff; font-size: 1.4em; margin: 0; display: inline-block; text-transform: uppercase;  } 

.icon-tarjetas {
background-image: url("../img/home/ico-tarjetas.png");
background-position: 0px 0px;
background-repeat: no-repeat;
display: inline-block;
height: 40px;
width: 38px;
vertical-align: text-bottom;
margin: 0 10px 0 0;
}

#dashboard-carousel #carousel-main .carousel-caption-ofertas .cuota-oferta { position: relative; width: 36.4%; margin: 30px 0 0; }
#dashboard-carousel #carousel-main .carousel-caption-ofertas .cuota-oferta span.cuota-oferta-n {
font-family: 'medula_oneregular'; font-size: 20em; line-height: 280px; color: #fff; position: absolute; top: -48px; left: 0;  }
#dashboard-carousel #carousel-main .carousel-caption-ofertas .cuota-oferta span.cuota-oferta-m {
font-family: 'bebas_neuebold';
font-size: 5em; line-height: 40px; color: #fff; position: absolute; top: 10px; right: 33px; text-transform: uppercase; }
#dashboard-carousel #carousel-main .carousel-caption-ofertas .cuota-oferta span.cuota-oferta-t1 {
font-family: 'din_alternateregular'; 
background: url("../img/home/bk-t1.png") no-repeat 0 0; width: 220px; height: 44px; text-align: center; line-height: 44px;
font-size: 1.65em; padding: 0 0 0 10px; color: #fff; position: absolute; top: 79px; right: 0; text-transform: uppercase; }
#dashboard-carousel #carousel-main .carousel-caption-ofertas .cuota-oferta span.cuota-oferta-t2 {
font-family: 'din_alternateregular'; width: 170px;
font-size: .9em; color: #fff; position: absolute; top: 140px; right: 10px; text-transform: uppercase; }



#dashboard-carousel #carousel-main .beneficio-xl {}
#dashboard-carousel #carousel-main .beneficio-sm { display: none; }


/*---- section dashboard-search
11.2014  ----*/
#dashboard-search {}
#dashboard-search .container-search { max-width: 1324px; background: #f0f0f0; padding: 20px 0; margin: 0 auto;
/*  -moz-box-shadow:    1px 1px 1px 1px #e3e3e3;
  -webkit-box-shadow: 1px 1px 1px 1px #e3e3e3;
  box-shadow:         1px 1px 1px 1px #e3e3e3;*/
 }

/*.stockIframe {  width:100%; height:100%; }
.stockIframe iframe {  width:100%; height:100%; border:0;overflow:hidden }*/



/* ---- section banner bottom ----- */
.box-banner-bottom {
background-image: url("../img/banner-bottom/banner_inferior_desktop.jpg");
background-repeat: no-repeat; 
background-position: top center;
background-size: 100% auto;
height: 280px;
display: block;
}




/* responsive menu */
@media (min-width : 320px) and (max-width : 480px) {
#menu { display:none; }
.slicknav_menu { display:block; position: relative; z-index: 2; }
#logo { position: absolute; margin: 0!important; top: 10px; left: 10px; z-index: 3; }
#nav-main { height: auto; }

.slicknav_nav .icon-nav { float: left; }
.slicknav_nav a span { float: left; line-height: 32px; margin-left: 20px; text-transform: uppercase; } 
.slicknav_nav a { overflow: hidden; }
.slicknav_nav a:hover { color: #f1822c !important; }
.slicknav_nav a:hover .icon-nav { background-position: 0px -33px; }
.slicknav_nav li.club { display: none; }
/*.slicknav_nav li.club a.bt-club { background-color: #f1f1f1; border-radius: 0; }
.slicknav_nav li.club a.bt-club:hover {
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f38530), to(#c45826));
background: -webkit-linear-gradient(top, #f38530, #c45826);
background: -moz-linear-gradient(top, #f38530, #c45826);
background: -ms-linear-gradient(top, #f38530, #c45826);
background: -o-linear-gradient(top, #f38530, #c45826); }
.slicknav_nav li.club a.bt-club:hover .icon-club { background-position: 0px -46px; }*/

.slicknav_nav li.paquetes,
.slicknav_nav li.hoteles,
.slicknav_nav li.vuelos,
.slicknav_nav li.autos,
.slicknav_nav li.tours { display: none; }


#dashboard-carousel #carousel-main { background: none; }
#dashboard-carousel #carousel-main .carousel-control { top: 35%; }
#dashboard-carousel #carousel-main .box-icono-club { position: absolute; top: 0; left: inherit; right: 20px; background: url("../img/subscription/icono-club-beneficio-sm.png") no-repeat top center; width: 37px; height: 55px; }
#dashboard-carousel #carousel-main .carousel-caption { padding: 10px; /*position: inherit;*/ }
#dashboard-carousel #carousel-main .item img { margin: 0; }
#dashboard-carousel #carousel-main .carousel-caption .container { position: relative; margin: 0!important; }
#dashboard-carousel #carousel-main .carousel-caption .title-hotel { float: none; width: 90%; margin: 0 auto; }
#dashboard-carousel #carousel-main .carousel-caption h3 { font-size: 1.8em; width: 75%; }
#dashboard-carousel #carousel-main .carousel-caption .title-hotel p { display: none; }
#dashboard-carousel #carousel-main .carousel-caption .btn-suscribirse { width: 100%; margin: 0 auto; height: inherit; }
#dashboard-carousel #carousel-main article .carousel-caption .container { padding: 10px; }

#dashboard-carousel #carousel-main .carousel-control.left,
#dashboard-carousel #carousel-main .carousel-control.right { /*display: none;*/ }

/* 2015.03.06 */
#dashboard-carousel #carousel-main { height: 360px; }
#dashboard-carousel #carousel-main .carousel-inner article.item { height: 360px; }
#dashboard-carousel #carousel-main .carousel-control.left {
  width: 50px;
  height: 50px;
}
#dashboard-carousel #carousel-main .carousel-control.right {
  width: 50px;
  height: 50px;
}
#dashboard-carousel #carousel-main .carousel-control.left img,
#dashboard-carousel #carousel-main .carousel-control.right img { width: 100%; }

/* ----------- */


#dashboard-carousel #carousel-main article .carousel-caption-ofertas { padding: 10px!important; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .container { position: inherit; bottom: inherit; padding: 0; width: 95%; overflow: inherit; margin: 0!important; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .title-oferta h3 { font-size: 2em; text-align: center; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta { width: 300px; margin: 30px auto 0; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta span.cuota-oferta-n { font-size: 13em; line-height: 170px; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .text-oferta { margin: 85px auto 10px; width: 300px;}
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .text-oferta p { width: 80%; text-align: left; font-size: 1em; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta span.cuota-oferta-m { line-height: 0; font-size: 3.5em; top: 0; right: 70px; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta span.cuota-oferta-t2 { top: 68px; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta span.cuota-oferta-t1 { top: 22px; }

#dashboard-carousel #carousel-main .beneficio-xl { display: none; }
#dashboard-carousel #carousel-main .beneficio-sm { display: block; width: 100%; }

.box-banner-bottom {
background-image: url("../img/banner-bottom/banner_inferior_mobile.jpg");
}


} /*(min-width : 320px) and (max-width : 480px)*/

@media (min-width : 481px) and (max-width : 640px) { 
#menu { display:none; }
.slicknav_menu { display:block; position: relative; z-index: 2; }
#logo { position: absolute; margin: 0!important; top: 10px; left: 10px; z-index: 3; }
#nav-main { height: auto; }

.slicknav_nav .icon-nav { float: left; }
.slicknav_nav a span { float: left; line-height: 32px; margin-left: 20px; text-transform: uppercase; } 
.slicknav_nav a { overflow: hidden; }
.slicknav_nav a:hover { color: #f1822c !important; }
.slicknav_nav a:hover .icon-nav { background-position: 0px -33px; }
.slicknav_nav li.club { display: none; }
/*.slicknav_nav li.club a.bt-club { background-color: #f1f1f1; border-radius: 0; }
.slicknav_nav li.club a.bt-club:hover {
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f38530), to(#c45826));
background: -webkit-linear-gradient(top, #f38530, #c45826);
background: -moz-linear-gradient(top, #f38530, #c45826);
background: -ms-linear-gradient(top, #f38530, #c45826);
background: -o-linear-gradient(top, #f38530, #c45826); }
.slicknav_nav li.club a.bt-club:hover .icon-club { background-position: 0px -46px; }*/

.slicknav_nav li.paquetes,
.slicknav_nav li.hoteles,
.slicknav_nav li.vuelos,
.slicknav_nav li.autos,
.slicknav_nav li.tours { display: none; }

#dashboard-carousel #carousel-main { background: none; }
#dashboard-carousel #carousel-main .carousel-control { top: 25%; }
#dashboard-carousel #carousel-main .box-icono-club { position: absolute; top: 0; left: inherit; right: 20px; background: url("../img/subscription/icono-club-beneficio-sm.png") no-repeat top center; width: 37px; height: 55px; }
#dashboard-carousel #carousel-main .carousel-caption { padding: 10px; /*position: inherit;*/ }
#dashboard-carousel #carousel-main .carousel-caption .container { position: relative; margin: 0!important; }
#dashboard-carousel #carousel-main .carousel-caption .title-hotel { float: none; width: 90%; margin: 0 auto; }
#dashboard-carousel #carousel-main .carousel-caption h3 { font-size: 1.8em; width: 75%; }
#dashboard-carousel #carousel-main .title-hotel p { display: none; }
#dashboard-carousel #carousel-main .carousel-caption .btn-suscribirse { width: 100%; margin: 0 auto; height: inherit; }
#dashboard-carousel #carousel-main article .container { padding: 10px; }


#dashboard-carousel #carousel-main article .carousel-caption-ofertas { padding: 10px!important; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .container { position: inherit; bottom: inherit; padding: 0; width: 95%; overflow: inherit; margin: 0!important; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .title-oferta h3 { font-size: 2em; text-align: center; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta { width: 300px; margin: 30px auto 0; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta span.cuota-oferta-n { font-size: 13em; line-height: 170px; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .text-oferta { margin: 85px auto 10px; width: 300px;}
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .text-oferta p { width: 80%; text-align: left; font-size: 1em; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta span.cuota-oferta-m { line-height: 0; font-size: 3.5em; top: 0; right: 70px; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta span.cuota-oferta-t2 { top: 68px; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta span.cuota-oferta-t1 { top: 22px; }


/*#dashboard-carousel #carousel-main .beneficio-xl { display: none; }
#dashboard-carousel #carousel-main .beneficio-sm { display: block; }*/

} /*(min-width : 481px) and (max-width : 640px)*/

@media (min-width : 641px) and (max-width : 800px) {
#dashboard-carousel #carousel-main { background: none; }
#dashboard-carousel #carousel-main .carousel-control { top: 25%; }
#dashboard-carousel #carousel-main .box-icono-club { position: absolute; top: 0; left: inherit; right: 20px; background: url("../img/subscription/icono-club-beneficio-sm.png") no-repeat top center; width: 37px; height: 55px; }
#dashboard-carousel #carousel-main .carousel-caption { padding: 10px; position: inherit; }
#dashboard-carousel #carousel-main .carousel-caption .container { position: relative; margin: 0!important; padding: 10px; }
#dashboard-carousel #carousel-main .carousel-caption .title-hotel { width: 60%; }
#dashboard-carousel #carousel-main .carousel-caption h3 { font-size: 1.8em; width: 75%; }
#dashboard-carousel #carousel-main .title-hotel p { display: none; }
#dashboard-carousel #carousel-main .carousel-caption .btn-suscribirse { margin: 0;}
#dashboard-carousel #carousel-main article .container { padding: 10px; }
#dashboard-carousel #carousel-main .carousel-inner > .item-oferta > img { margin-left: -31%!important; max-width: 143%!important; }
#dashboard-carousel #carousel-main .carousel-caption-ofertas { background-position: -185px 0; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta { width: 345px; margin: 30px 0 0; }
#dashboard-carousel #carousel-main .carousel-caption-ofertas { padding: 20px 100px; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .container { position: inherit; bottom: inherit; padding: 0; width: 70%; overflow: inherit; margin: 0!important; }
#dashboard-carousel #carousel-main .carousel-caption-ofertas .text-oferta p { width: 55%; }


}

@media (min-width : 768px) and (max-width : 1024px) {
#nav-main { height: auto; }
#nav-main #logo { margin-bottom: 0; }
#nav-main ul.nav-pills { clear: both; }
#nav-main ul.nav-pills li { width: 98px!important; padding-top: 0!important; }
#nav-main ul.nav-pills li a:focus,
#nav-main ul.nav-pills li a:hover { background: none; }
#nav-main ul.nav-pills li a { padding: 16px 15px; }
.slicknav_nav li.club { display: none; }
/*#nav-main ul.nav-pills li.club a.bt-club { padding: 20px 15px; }*/

#dashboard-carousel #carousel-main { background: none; }
#dashboard-carousel #carousel-main .carousel-control { top: 25%; }
#dashboard-carousel #carousel-main article .container { padding: 10px; }
#dashboard-carousel #carousel-main .carousel-inner > .item-oferta > img,
#dashboard-carousel #carousel-main .carousel-inner > .item-oferta > a > img { /*margin-left: -31%!important; max-width: 143%!important;*/ }
#dashboard-carousel #carousel-main .carousel-caption-ofertas { background-position: -185px 0; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta { width: 345px; margin: 30px 0 0; }
#dashboard-carousel #carousel-main .carousel-caption-ofertas { padding: 20px 100px; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .container { position: inherit; bottom: inherit; padding: 0; width: 70%; overflow: inherit; margin: 0!important; }
#dashboard-carousel #carousel-main .carousel-caption-ofertas .text-oferta p { width: 55%; }


}
