

/*- @section dashboard-login -*/

#dashboard-login {
/*     margin: 143px 0 0; */
    font-family: 'din_alternateregular';
    margin: 10px auto;
}


#container-login {
    padding: 20px;
    border-width: 1px;
    border-color: #e1e1e1;
    border-style: solid;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: #ffffff;
    max-width: 1024px;
    margin:0 auto;
}

.header-section {
  margin: 40px 0;
  overflow: hidden;
  border-bottom: 1px #ededed solid;
 }

.header-section h1.title-section {
    float: left;
    margin: 0;
    color: #838385;
    border-bottom: 1px #b3b3b3 solid;
    font-size: 1.5em;
    padding: 0 0 10px;
    font-family: 'din_alternate_lightregular';
}

.header-section h1.title-section span {
    font-family: 'din_alternate_mediumregular';
}

.box-login {
    width: 40%;
    margin: 60px auto;
}

span.place {
    color:#b5b5b5;
}

.box-cuenta,
.box-action  {
    text-align: center;
    padding: 20px 0;
}



/* responsive */
@media (min-width : 320px) and (max-width : 480px) {

    .box-login { width: 100%; margin: 20px auto; }
    .header-section { margin: 10px 0 0; }

} /*(min-width : 320px) and (max-width : 480px)*/

@media (min-width : 481px) and (max-width : 640px) {
    .box-login { width: 60%; margin: 20px auto; }
    .header-section { margin: 10px 0 0; }

} /*(min-width : 481px) and (max-width : 640px)*/

@media (min-width : 641px) and (max-width : 800px) {
    .box-login { width: 50%;  }
    .header-section { margin: 10px 0 0; }

}

@media (min-width : 768px) and (max-width : 1024px) {
/*     .box-login { width: 60%; margin: 10px auto; }
.header-section { margin: 10px 0 0; } */

}
