.card-container{
	margin: 0 auto;
    width: 95%;
}

.card
{
    position: relative;
    width: 258px;
    margin-top: 15px;
	display:inline-block;
	margin-right: 19px;
}

.card:last-child{
	margin-right:0;
	}

.card .sticker-club
{
display: none;
}

/*.card .sticker-club
{
    width: 45px;
    position: absolute;
    top: 0px;
    left: 15px;
    z-index:1;
}
*/
.card .sticker-discount
{
    width: 66px;
    position: absolute;
    top: 107px;
    right: 10px;
}

.card .sticker-discount-label
{
    width: 74px;
    height: 74px;
    position: absolute;
    background-image: url(../img/card/card-discount-white-border.png);
    background-position: center center;
    padding: 22px 22px;
    right: 11px;
    top: 100px;
    line-height: 1.1em;
	z-index:10;
}

.card.active .sticker-discount-label
{
    top: 110px;
}

.card .sticker-discount-label strong
{
    font-size: 17px;
}

.card *
{
    color: #ffffff;
}

.card .photo
{
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
    height: 140px;
    width: 100%;
    background-position: center center;
	position:relative;
	z-index: 0;
	overflow:hidden;
	background-size: 100% 100%;
}

.card .caption
{
    height: 93px;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
    padding: 10px;
	text-align: left;
}

.card .caption h5
{
    font-size: 19px;
    margin: 0px;
}

.card .caption h5 img
{
    vertical-align: text-bottom;
}

.card .star
{
    display: inline-block;
    width: 12px;
    height: 10px;
    background-image: url(../img/card/card.star.png);
    background-repeat: no-repeat;
}

.card .star-empty
{
    display: inline-block;
    width: 12px;
    height: 10px;
    background-image: url(../img/card/card.star-empty.png);
    background-repeat: no-repeat;
}

.card .extra
{
    display: none;
}

.card.card-alerta .caption
{
    background-color: #f38530;
}

.card.card-oferta .caption
{
    background-color: #339999;
}

.card.active
{
    margin-top: 0px !important;
    width: 270px !important;
}

.card.active .sticker-discount
{
    top: 117px !important;
}

.card.active .photo
{
    height: 150px !important;
}

.card.active .caption
{
    background-color: #d52b1e !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}

.card.active .extra
{
    display: block !important;
    background-color: #d52b1e;
    height: 46px;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
    border-top: 2px solid #ea958f;
    font-size: 14px;
}

.card.active .extra .col-link
{
    border-left: 2px solid #ea958f;
    height: 44px;
    padding-top: 13px;
}

/*.card.active .extra .col-link a:link, a:visited, a:hover, a:active
{
    color: #ffffff !important;
}*/

.card.active .extra strong
{
    font-size: 28px;
    vertical-align: sub;
}

.card.active .col-text{
	text-align: right;
}

.card-hover-overlay{
		display:none;
}



.owl-theme .owl-controls .owl-buttons div {
	position: absolute;
	top: 30px;
}

 .owl-theme .owl-controls .owl-buttons .owl-prev{
	left: 5px;
}

.owl-theme .owl-controls .owl-buttons .owl-next{
	right: 5px;
}

.owl-icon-carousel{
	display: block;
    height: 183px;
    width: 26px;
}

 .icon-carousel-left{
	background: url(../img/card/carousel-left-control.png) no-repeat;
}

.icon-carousel-right{
	background: url(../img/card/carousel-right-control.png) no-repeat;
}

.card-hover-bottom-shade{
	background: url(../img/card/carousel-hover-bottom-shade.png) no-repeat;
	display:none;
	width: 297px;
	height: 18px;
}

.card.active .card-hover-bottom-shade {
  display:block;
  position: absolute;
  right: -21px;
  top: 297px;
}

.owl-wrapper-outer {
  width: 99% !important;
}

.owl-carousel .owl-item { text-align: center; }
.owl-carousel .owl-pagination { display: none; }
