#container-canvas .row-section-detail .row-nav-pills{
    border: none;
    font-size: 17px;
     height: 630px;
}

#container-canvas .row-section-detail .nav
{
    background-color: #F7F7F7;
    margin-bottom: 5px;
}

#container-canvas .row-section-detail .nav li
{
    padding: 1px;
}

#container-canvas .row-section-detail .nav-pills a
{
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
    color: #555656;
    background-color: #cccccc;
    height:78px;
    padding-top: 15px;
    font-weight: bold;
}

#container-canvas .row-section-detail .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus
{
	font-weight: bold;
	color: #ffffff;
    background-color: #ff9933;
    padding-top: 15px;
}

#container-canvas .row-section-detail .nav-pills li .icon {
    display: inline-block;
    height: 60px;
    margin-top: -5px;
    text-align: center;
    width: 60px;
}

#container-canvas .row-section-detail .nav-pills li .nav-pill-label {
	position: absolute;
	top: 30px;
    left: 90px;
}

#container-canvas .nav-pills .icon {
	background: url("../img/mydata/mydata_reservations.sprite.png");
}

#container-canvas .nav-pills #nav-pill-my-info .icon {
    background-position: 0px 0px;
}

#container-canvas  .nav-pills #nav-pill-my-info.active .icon {
    background-position: 0px -70px;
}

#container-canvas  .nav-pills #nav-pill-reservations .icon {
    background-position: 0px -140px;
}

#container-canvas  .nav-pills #nav-pill-reservations.active .icon {
    background-position: 0px -210px;
}

.mydata-container-form{
	padding-bottom: 20px;	
	
}

.mydata-important-message{
	  color: #CC0000;
      font-size: 11px;	
}

.mydata-important-message strong{
      font-size: 12px;	
}

.container-suscription{
		width:325px;
		background-color: #fefefe;
		border: 1px solid #ededed;
		height: 120px;
		float: left;
}

.icon-phone {
    background-repeat: no-repeat;
    display: inline-block;
    height: 74px;
    width: 35px;
    background-image: url("../img/mydata/icon-mydata-phone.png");
}

.icon-active-subscription {
    background-repeat: no-repeat;
    display: inline-block;
    height: 50px;
    width: 212px;
    background-image: url("../img/mydata/icon-active-subscription-new.png");
}

.mydata-phonenumber{
	color: #5F5F5F;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
}

.container-form{
	width:325px;
}

.container-alert-messages{
	width:280px;
	margin-right: 25px;
    padding-top: 60px;
}

.container-form label{
	font-weight: normal
}

.container-form input{
	font-size: 15px !important;
}

.container-form button{
	 padding: 0 30px;
}

.modify-button-contianer{
	margin-top: 27px;
    padding: 0;
}

.popover-content button{
		margin: 4px;
		padding: 0 25px;
}

.popover-content label{
	font-weight: normal
}

.popover.right .arrow {
    top: 85%;
}

.icon-close-container{
	text-align: right;
	font-weight: bold;
	padding-right: 7px;
	padding-top: 3px;
}
.icon-close-container a{
	color: #77777a !important; 
}