
body{
	background-image: url(../img/ganadores/background2.png);
	background-repeat: repeat;
}




/*---- section dashboard-ganadores
     11.2014  ----*/



.bg-line {
  height: 3px;
  margin-bottom: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#0093b1), color-stop(0.25, #0093b1), color-stop(0.5, #ff3015), color-stop(0.75, #ff8622) to(#ff8622));
  background: -webkit-linear-gradient(left, #0093b1, #ff3015, #ff8622);
  background: -moz-linear-gradient(left, #0093b1, #ff3015, #ff8622);
  background: -ms-linear-gradient(left, #0093b1, #ff3015, #ff8622);
  background: -o-linear-gradient(left, #0093b1, #ff3015, #ff8622);
}

#dashboard-ganadores { margin: 20px 0; display: block; }
#dashboard-ganadores .container { max-width: 1024px; }

#dashboard-ganadores img { max-width: 100%; }

#dashboard-ganadores header { background: url("../img/ganadores/bk-header.jpg") no-repeat top center; }

#dashboard-ganadores .ganadores-content {
    border: 1px #e1e1e1 solid;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background: #fff;
    padding:20px;
    margin: 20px 0;
}

#dashboard-ganadores .ganadores-content h4 {
	font-family: 'din_alternateregular';
	font-size: 1.4em;
    padding-bottom: 6px;
    border-bottom: 2px solid #ededed;
    margin-bottom: 15px;
}
#dashboard-ganadores .ganadores-content h4 span { border-bottom: 2px solid #B3B3B3; padding-bottom: 4px; }
#dashboard-ganadores .ganadores-content h4 span span.dest { font-family: 'din_alternatebold'; border-bottom: none; }

#dashboard-ganadores .parent { cursor:pointer }
#dashboard-ganadores table tr.first { background: #f6f6f7; }
#dashboard-ganadores table { font-family: 'din_alternateregular'; font-size: 1em; }


.btn-ver {
    display: block;
    padding: 5px;
    text-align: center;
    font-family: 'din_alternateregular';
    color: #656565;
    background: #f6f6f7;
    font-size: 0.9em;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    -ms-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
    width: 30px;
    float: right;
    cursor: pointer;
    margin-top: 20px;
}
.btn-ver:hover { background: #0093b1; }

ul.list-concursos { margin:0; padding: 0; list-style: none; }
ul.list-concursos li { border-bottom: 1px #ddd solid; padding: 20px 0; overflow: hidden; }

.concurso { float: left; width: 35%; padding: 12px 0; }
.concurso-table { float: left; width: 65%; }
.concurso-table .title-promo { font-family: 'din_alternateregular'; font-size: 1.5em; text-transform: uppercase; color: #5b5b5b; }
.concurso-table .fecha-promo { font-family: 'din_alternatebold'; font-size: 1em; border: none; text-transform: uppercase; color: #5b5b5b; }

.page-anios { text-align: center; margin: 20px 0;  }
.page-anios .btn-anio {
	display: inline-block;
	padding: 5px;
	text-align: center;
	font-family: 'din_alternateregular';
	color: #fff;
	background: #e1e1e1;
	font-size: 1.1em;
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
	-o-transition: background .2s ease-in-out;
	-ms-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
	width: 100px;
	cursor: pointer;
	margin:0 auto;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
.page-anios .btn-anio:hover { background: #1c92ae; }
.page-anios .btn-anio.active { background: #1c92ae; }

/* responsive */

@media (min-width : 320px) and (max-width : 480px) {
	#dashboard-ganadores header { background: url("../img/ganadores/bk-header-sm.jpg") no-repeat top center; height: 200px; }
	#dashboard-ganadores header img { width: 150px; padding-top: 60px; }
	.concurso { width: 100%; float: none; }
	.concurso img { width: 280px; margin: 0 auto; display: block; }
	.concurso-table { width: 100%; float: none; }

	#dashboard-ganadores .ganadores-content h4 { text-align: center; }
	#dashboard-ganadores .ganadores-content h4 span { border: none; }

	.table td { display: block; border: none; text-align: center; }
	.table > thead > tr > th, 
	.table > tbody > tr > th, 
	.table > tfoot > tr > th, 
	.table > thead > tr > td, 
	.table > tbody > tr > td, 
	.table > tfoot > tr > td { border: none; }
	.btn-ver { margin: 0 auto; float: none;  }
	.table td.linea-sm { border-bottom: 1px #ddd solid; }
	.table-responsive { overflow-x: hidden!important; }
}

@media (min-width : 481px) and (max-width : 640px) { 

	#dashboard-ganadores header { background: url("../img/ganadores/bk-header.jpg") no-repeat top center; height: 350px; }
	#dashboard-ganadores header img { width: 250px; padding-top: 120px; }
	.concurso { width: 100%; float: none; }
	.concurso img { margin: 0 auto; display: block; }
	.concurso-table { width: 100%; float: none; }

	#dashboard-ganadores .ganadores-content h4 { text-align: center; }
	#dashboard-ganadores .ganadores-content h4 span { border: none; }
	.table-responsive { overflow-x: hidden!important; }
}

@media (min-width : 641px) and (max-width : 800px) {

 }

@media (min-width : 768px) and (max-width : 1024px) { 

	.concurso { width: 30%; margin-right: 10px; }
	.table-responsive { overflow-x: hidden!important; }
}

/* */
/*@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.element p {
  @include vertical-align;
}*/
	

