
.box-club-sm { display: none; }


.dialog-home-suscripcion{
    position: absolute;
    cursor: pointer;
    width: 560px;
    height: 192px;
    background-color: #f38530;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.dialog-home-suscripcion .dialog-content {
	padding:25px;
	margin-top:0;
	text-align:left;
}

.dialog-home-suscripcion h2 {
  font-size: 70px;
}

.dialog-home-suscripcion p {
  font-size: 20px;
}

.dialog-home-suscripcion img{
	position:absolute;
	top: 35px;
	right:20px;
}

.dialog-home-suscripcion p.small{
	font-size:100%;
	text-align:left;
}

/*.btn-site-red {
    background: #1E95AC;
}*/

/*.well-suscripcion .text-danger {
    color: #1E95AC !important;
    font-size: 12px;
}*/

/*.card.card-oferta .caption {
    background-color: #1E95AC;
}*/

.respuestas a {
    color: #f28b3c!important;
}

.respuestas a:hover {
    color: #ffb983!important;
}

.container.win{
	height:720px;
}

.campo-contact-1 {
    width: 100%;
}

.checkbox-contact {
    width: 100%;
}

.box-title-contact {
    width: 100%;
}

@media (max-width: 1280px) {

    #box-nombre {
        width: 105%;
        background-size: 100% auto;
    }

    #bg-placa-ganadores {
        width: 100%;
    }

    #placa-continua-participando {
        width: 450px;
    }

    .card.active {
        /*width: 31.07% !important;*/
        display: inline-block;
        margin: 0 .9% 25px;
    }


    .row-cards {
        padding-left: .6%;
    }

}

@media (min-width: 1200px) {
    .container{
        max-width: 943px;
        padding: 0px;
    }
}

@media(max-width:1024px){

    /* HOME */

    .container{
        overflow-x: hidden;
        /*width:1024px;*/
        width:95%;
    }

    #header-main .line {
        margin-top: -22px;
    }

    .facebook-contact {
        width:40%;
    }

    .number-telephone {
        font-size: 3em;
        text-align: center;
    }

    .txt-facebook {
        font-size: 18px;
    }

    .number-telephone {
        text-align:center;
    }

    .horario-contact {
        text-align:center;
        font-size:23px;
    }

    .box-title-contact {
        font-size:32px;
        text-align:center;
        padding-bottom: 20px;

    }

    .services-item {
        width: 67px;
    }

   #carousel-main .carousel-inner > .item > a > img {
        max-width: 300%;
/*        margin-left: -5%;*/
    }
#carousel-main .carousel-inner > .item > a > img.beneficio-xl {
        max-width: 170%;
/*        margin-left: -5%;*/
    }
    #carousel-main-destinations .carousel-inner > .item > img {
        max-width: 170%;
        margin-left: -5%;
    }

    .img-destinations { padding-left: 15px; }
    .img-destinations2 { padding-right: 15px; }

    /* MANTENIMIENTO */

    #demo-container {
        width: 105px;
        position: absolute;
        left: 26%;
        top: 82px;
    }

    #pendulum-child {
        background-image:url(../img/puerta-02.png);
        background-size: 100%;
        background-repeat:no-repeat;
        height: 300px;
        width: 133px;
        position: absolute;
        left:-5px;

    }

    .img-puerta-01 {
        background-image: url(../img/puerta-01.png);
        background-repeat:no-repeat;
        background-size: 100%;
        position:relative;
        height:300px;
        width:268px;
        display:block;
        top:-35px;
    }


    .img-puerta-03 {
        background-image: url(../img/puerta-03.png);
        background-repeat:no-repeat;
        position:absolute;
        background-size: 100%;
        z-index: 1;
        height: 50px;
        width: 190px;
        display:block;
        top: 115px;
        left:160px;
    }

    /* GANADORES */

    #bg-placa-ganadores {
        width: 934px;
    }

    ul.bjqs-controls.v-centered li.bjqs-prev a {
        left: -55px;
    }

    ul.bjqs-controls.v-centered li.bjqs-next a {
        left: 917px;
    }
    .box-title-contact-2 {
        font-size: 3em;
        text-align: center;
    }

}/*--max-width:1024px-*/


@media(max-width:1200px) and (min-width:361px){

        .img-telefono {
         margin: 0 auto;
     }

     .horario-contact {
         text-align:center;
     }

     #header-main {
        margin-bottom: 10px;
    }

    #nav-main li {
        width: 110px!important;
        padding-top: 10px!important;
    }

    /* HOME */

    #container-trips {
        height: 220px;
        background-color: #ffffff;
        margin-top: 10px;
    }

    #banner-benefits{
        border-radius: 5px;
    }

    #banner-benefits img{
        width:100%;
    }

    #carousel-main {
        height: 400px!important;
    }

    #carousel-main article {
        height: 400px!important;
    }

    #carousel-main article .container {
        margin-top: 40px!important;
    }

    #carousel-main article h2 {
        font-weight: bold;
        font-size: 330%;
    }

    #carousel-main article p {
        font-size: 20px;
        line-height:100%;
    }

    #carousel-main .col-md-offset-7 {
        margin-left: 50%;
    }

    .popover .arrow{
        display:none;
    }

    .popover.top .arrow {
        bottom: 220px;
        left: 30%;
    }

    .popover .arrow:after {
        border-width: 0;
    }

    .dialog-home-suscripcion {
        width: 560px;
        top: 350px!important;
        height:220px;
    }

    .dialog-home-suscripcion img {
        top: 20px;
        right:10px;
    }

    .club-advantages-container li {
        margin: 0px 9px 0px 0px;
        width: 175px !important;
    }

    #banner-suscripcion .sticker {
        position: absolute;
        left: 20px;
        top: 5px;
        width: 258px;
        height: 174px;
    }

    #banner-suscripcion .woman {
        position: absolute;
        left: 90px;
        top: 19px;
    }

    #banner-suscripcion input {
        width: 225px;
    }

    #banner-suscripcion .btn-lg {
        width: 225px;
    }

/*     .owl-carousel, .owl-carousel .owl-wrapper-outer, .owl-carousel .owl-wrapper {
    height: 310px;
}

.owl-controls {
    -moz-user-select: none;
    display: inherit !important;
}

.owl-carousel .owl-item {
    width: 270px !important;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: 15px;
} */

    .card {
        width:98%;
        /* margin-bottom:70px; */
    }

    .card.active
    {
        margin-top: 0px !important;
        width: 98% !important;
        /* margin-bottom: 30px; */
    }

    .card-hover-bottom-shade {
        width:245px!important;
        background-size:100% 100%;
        left:5px;
    }

/*     .owl-carousel .owl-wrapper-outer {
    width: 92% !important;
} */

    .row-section-list .card{
        width: 31.2% !important;
        margin: inherit auto!important;
    }

    .row-section-list .card:last-child{
        margin-right:0;
    }

    /* alerta */
    #banner-alerta .col-photos #carousel-main {
        height: 330px !important;
    }

    #banner-alerta .col-photos #carousel-main article {
        height: 330px !important;
        background-repeat: no-repeat;
        background-position: center top;
    }

    #banner-alerta .col-info h2 {
        font-size: 200%;
    }

    #banner-alerta #countdown-labels {
        margin-top: -4px;
        margin-right: 18px;
    }

    #banner-alerta #countdown-labels span {
        font-size: 12px;
        text-align: center;
        padding: 13px;
    }

    #banner-alerta .col-info .row3 .col-discount {
        border-right: 1px solid rgb(255, 255, 255);
        height: 79px;
        padding: 20px;
        line-height: 100%;
    }

    .btn-site-big {
        border-radius: 5px!important;
        font-size: 20px;
        height: 45px;
        width: 140px;
    }

    .col-btn{
        width:140px;
        margin-right:30px;
    }

    /* MANTENIMIENTO */

    .txt-regresamos {
        font-family: 'din_alternatebold';
        font-size: 25px;
        margin-top: 25px;
    }

    .txt-trabajando {
        font-family: 'din_alternate_lightregular';
        font-size:21px;
        margin-top:20px;
    }

    .txt-trabajando span {
        font-family: 'din_alternatebold';
        font-size:21px;
        margin-top:20px;
    }
}

@media (max-width:1024px) {

    .row-section-list .card {
        width: 31.05% !important;
    }

    #footer-main2 .caption-callcenter strong {
        font-size: 14px!important;
    }

    #footer-main2 .caption-schedule {
        padding: 10px 8px 0px 0px;
        font-size:1.5em;
        line-height:.5;
    }

    #container-canvas.container.error404{
        height: 550px;
    }
    #container-canvas.container.error500 { height: 450px; }
    #container-canvas.container.error500 .error-image .col-md-6 { width: 55%; }
    #container-canvas.container.error500 .error-image .col-md-6.col-xs-offset-1 { margin-left: 0; }
    #container-canvas.container.error500 .error-image .error-footer { width: 70%; float: right; }
    #container-canvas.container.error500 .error-image .error-footer .btn-site-yellow { margin: 0;}

    #banner-benefits .box-club-beneficios { width: 100%; margin: 0 auto; }
    #banner-benefits .box-club-beneficios .caption-l { padding: 10px;  }
    #banner-benefits .box-club-beneficios ul.list-beneficios { margin-left: 100px; }
    #banner-benefits .box-club-beneficios ul.list-beneficios li p.list-texto { font-size: 1.2em; }

    #carousel-main-destinations .carousel-control.left { background-image: none; }
    #carousel-main-destinations .carousel-control.right { background-image: none; }

}

@media (max-width:980px) {

    .row-section-list .card {
        width: 30.8% !important;
    }

    #container-canvas .row_section_header.gradient-dark-blue{
        height:auto;
        padding: 0 0 10px 0;
    }

    .gradient-dark-blue .col-md-5, .gradient-dark-blue .col-md-2{
        display:inline-block;
    }


    #container-canvas .col-dropdown3 .btn {
        height: 40px;
        margin-top: 0px;
        width: 110px;
        padding-top: 6px;
    }

    .mistake{
        padding-top:30px;
    }

    .box-error-search {
        font-size: 2.5em;
        color: #77777A;
        text-align: center;
        margin: 0;
    }

    .txt-error-nofound-search {
        text-align: center;
        margin-top: 1em;
        font-size: 1.5em;
        padding: 0 15%;
    }

    .row-cards {
        padding-left: 10px;
    }

    .collapsing{
        width:100%;
    }

    .collapse {
        display: none;
    }

    .btn-navbar {
        background: none repeat scroll 0% 0% #F3F3F3;
        float: right;
        margin: 20px 10px 0px 0px;
        padding: 3px;
        display: block;
        width: 35px;
        display:block;
    }

    .btn-navbar span{
        background:#c3c3c3;
        width: 100%;
        margin: 5px 0;
        height:4px;
        border-radius: 5px;
        display:block;
    }

    a.btn.btn-navbar.collapsed {
        background:#f3f3f3;
        margin-bottom: 10px;
    }

    .btn-navbar{
        background:none!important;
    }

    .btn-navbar span {
        background: #D52B1E;
    }

    .btn-navbar:hover span{
        background:#a30c01;
    }

    a.btn.btn-navbar.collapsed{
        background:#d8d8d8;
    }

    #header-main {
        margin-bottom: 0;
    }

    #nav-main img{
        width: 200px;
        margin-bottom:10px;
    }

    #header-main .caption-user img {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    #container-canvas h3 span {
        padding-bottom: 9px;
    }

    .card.active .extra .col-link {
        padding-left: 4%;
    }

    .card.active .extra strong {
        font-size: 1.3em;
    }

    .card.active .col-text {
        padding-top: 10px;
    }

    .error-image p {
        font-size: 1.5em;
        text-align: left;

    }

    .btn-site-yellow {
        float: left;
        padding: 10px 30px 8px;
        margin: 20px 0 0 -15px;
    }

    .error-image {
        margin-top: 0;
    }

    .error-image .oops, .error-image .brujula{
        width:30%;
        float:left;
    }

    .error-image .col-md-6 .col-md-6{
        width: 100%;
        display:block;
        float:left;
    }

    .error-txt{
        width:50%;
    }

    .error-image h2 {
        text-shadow: 0 1px 2px #618088;
        font-size:2.46em;
        margin: 20px 0 0 -10px;
    }

    #container-canvas.container.error500 { height: 400px; }
    #container-canvas.container.error500 .error-image .col-md-6 { width: 60%; padding: 0;  }
    #container-canvas.container.error500 .error-image .col-md-6 .error-txt { width: 100%; margin: 0 0 10px 0; }
    #container-canvas.container.error500 .error-image .col-md-6 .error-txt .row { margin: 0; }
    #container-canvas.container.error500 .error-image .col-md-6 .col-md-3 { float: left; width: 30%; }
    #container-canvas.container.error500 .error-image .col-md-6 .col-md-4 { float: left; width: 70%; }
    #container-canvas.container.error500 .error-image .col-md-6 .col-md-3.cable { /*background-position: center center;*/ margin: 0; }
    #container-canvas.container.error500 .error-image .col-md-6 .col-md-4 h1 { text-align: left; }
    #container-canvas.container.error500 .error-image .col-md-6 .col-md-5 { float: none; clear: both; width: 100%; }
    #container-canvas.container.error500 .error-image .col-md-6 .col-md-5 h2 { margin: 0; font-size: 1.4em; text-align: center; }
    #container-canvas.container.error500 .error-image .col-md-6 p { text-align: right; }
    #container-canvas.container.error500 .error-image .col-md-6 .btn-site-yellow { float: right; margin: 0; }
    #container-canvas.container.error500 .error-image .col-md-6 .row { margin:5px 0; }

}


@media (max-width:800px) {

    .row_section_header.gradient-dark-blue {
        padding: 10px;
    }

    .gradient-dark-blue .col-md-5 {
        width: 38%;
    }

    .gradient-dark-blue .col-md-2 {
        width: 20%;
    }

    .ofert-finished-layer, .alert-finished-layer {
        background-size: 120% auto;
        background-position: 60% -20%;
    }

    #container-canvas.container.error404 {
        height: 450px;
    }

    .error-txt {
        width: 50%;
        margin: 30px 0;
        padding:0;
        border-bottom:none;

    }

    .error-image h2 {
        text-shadow: none;
        color: #545353;
        font-size: 2em;
        margin: 20px 0px 0px -30px;
        padding: 0 0 20px 0;
        border-bottom: 1px solid #6f6e6e;
    }

    .error-image .oops, .error-image .brujula {
        width: 40%;
        float: left;
        margin-left: -15px;
    }

    .error-image p {
        font-size: 1.2em;
        text-align: left;
        margin-left:0;
    }

    #container-canvas.container.error500 { height: 350px; }




}

@media (max-width:768px) {

    .facebook-contact { width:60%; }
    .box-title-contact { margin-top: -20px; }

    #container-canvas.container.error500 { height: 350px; }
    #container-canvas.container.error500 .error-image .col-md-6 { width: 60%; padding: 0;  }
    #container-canvas.container.error500 .error-image .col-md-6 .error-txt { width: 100%; margin: 0 0 10px 0; }
    #container-canvas.container.error500 .error-image .col-md-6 .error-txt .row { margin: 0; }
    #container-canvas.container.error500 .error-image .col-md-6 .col-md-3 { float: left; width: 30%; }
    #container-canvas.container.error500 .error-image .col-md-6 .col-md-4 { float: left; width: 70%; }
    #container-canvas.container.error500 .error-image .col-md-6 .col-md-3.cable { /*background-position: center center;*/ margin: 0; }
    #container-canvas.container.error500 .error-image .col-md-6 .col-md-4 h1 { text-align: left; }
    #container-canvas.container.error500 .error-image .col-md-6 .col-md-5 { float: none; clear: both; width: 100%; }
    #container-canvas.container.error500 .error-image .col-md-6 .col-md-5 h2 { margin: 0; font-size: 1.4em; text-align: center; }
    #container-canvas.container.error500 .error-image .col-md-6 p { text-align: right; }
    #container-canvas.container.error500 .error-image .col-md-6 .btn-site-yellow { float: right; margin: 0; }
    #container-canvas.container.error500 .error-image .col-md-6 .row { margin:5px 0; }

    #banner-benefits { padding-left: 15px; padding-right: 15px; }
    #banner-benefits .box-club-beneficios { width: 100%; margin: 0 auto; }
    #banner-benefits .box-club-beneficios .caption-r { display: none; }
    #banner-benefits .box-club-beneficios .caption-l { width: 100%; padding: 10px;  }
    #banner-benefits .box-club-beneficios .caption-l h1 { margin: 0; }
    #banner-benefits .box-club-beneficios .chica-club-beneficios { right: 0; left: inherit!important; z-index: 100; }
    #banner-benefits .box-club-beneficios .chica-club-beneficios img { height: 220px; }
    #banner-benefits  .box-club-beneficios .btn-site-yellow { width: 50%; margin: 0; }



}

@media (max-width:640px) {

    .box-sticker { display: none; }
    .box-club-sm { display: block; position: absolute; top: 0; left: 10%; background: url("../img/icono-club-beneficio-sm.png") no-repeat top center; width: 37px; height: 55px; }


    #carousel-main .col-md-offset-7 { margin-left: 40%; width: 45%; }
    #carousel-main article h2 { font-size: 250%; }
    #carousel-main article h3 { font-size: 1.3em; }
    #carousel-main article p { font-size: 1em; }

    a.box-app { display: block; }

    .error500 .error-image .col-md-6 h1 { margin: 5px 0; }

    body, .container{
        max-width: 100%;
        padding: 0px;
        overflow-x: hidden;
        width:100%;
    }

    #container-canvas {
        background-color: #FFFFFF;
        border-color: #E1E1E1;
        border-radius: 0 0 0 0;
        border-style: solid;
        border-width: 1px;
        max-width: 100%;
        padding: 10px;
    }

    #container-canvas h4 {
        margin-left: 10px;
        border-bottom: medium none;
        font-family: 'DIN Alternate','din-woff',sans-serif;
        margin-bottom: 5px;
        padding-bottom: 0;
    }

    h4 span {
        border-bottom: medium none;
        padding-bottom: 0;
    }

    #nav-main {
        padding-top: 10px;
    }

    #nav-main a:first-child {
        width: 200px;
        padding: 5px 0 0 10px;
        margin-bottom: 10px;
    }

    #nav-main a:first-child img{
        width: 180px;
    }

    #nav-main li {
        border-right: none;
        height:auto;
        padding:0;
        text-align: left;
        width: 100%;
        border-top: 1px solid #c9c9c9;
    }

    #nav-main li:first-child {
        width: 100%;
        text-align: left;
        padding:0;
    }

    #nav-main li .icon {
        float: left;
        width: 100px !important;
        margin-left: 40px;
        text-align:center;
        margin-top:-15px;
    }

    #nav-main li.ofertas .icon {
        margin-top: -12px;
    }

    #nav-main li.paquetes .icon {
        margin-top: -8px;
    }

    #nav-main li.hoteles .icon {
        margin-top: -6px;
    }

    #nav-main li.vuelos .icon {
        margin-top: -4px;
    }

    #nav-main li.autos .icon {
        margin-top: -2px;
    }

    #nav-main li a:first-child {
        text-align: left;
        width: 100%;
        padding: 20px 0px 10px 10px;
        margin-bottom:0;
    }

    #nav-main li a:hover{
        background-color: #f3f3f3;
    }

    #nav-main li a:first-child br{
        display:none;
    }

    #nav-main li {
        display: none;
    }

    #nav-main li:first-child {
        display: block;
        width: 100% !important;
    }

    .collapsing{
        width:100%;
        height:auto;
    }

    .collapse {
        display: none;
    }

    .btn-navbar{
        background:#f3f3f3;
        float:right;
        margin:6px 15px 0 0;
        padding:3px;
        width: 30px;
        display:block;
    }

    .btn-navbar span{
        background:#c3c3c3;
        width: 100%;
        margin: 3px 0;
        height:3px;
        border-radius: 5px;
        display:block;
    }

    a.btn.btn-navbar.collapsed {
        background:#f3f3f3;
        margin-bottom: 10px;
    }

    .btn-navbar{
        background:none!important;
    }

    .btn-navbar span {
        background: #D52B1E;
    }

    .btn-navbar:hover span{
        background:#a30c01;
    }

    a.btn.btn-navbar.collapsed{
        background:#d8d8d8;
    }

    #header-main {
        margin-bottom: 0;
    }

    #header-main .caption-user {
        display:none;
    }

/*    #header-main {
        margin-bottom: 10px;
    }*/

    .pull-right {
        height: 23px;
        margin-right:10px;
    }

    #footer-main1 {
        width: 100%;
    }

    #footer-main1 .container {
        max-width: 100%;
        overflow: hidden;
    }

    #footer-main2 {
        padding: 0 10px;
    }

    #footer-main3 {
        height: 0;
    }

    #footer-main2 .caption-schedule {
        color: #FFFFFF;
        line-height: 13px;
        padding: 5px 0 5px 10px;
        width: 30%;
    }

    .caption-container {
        background-color: #354554;
        border-radius: 5px;
        height: 43px;
        margin: 10px 5%;
        padding-left: 10px;
    }

    #footer-main2 .caption-callcenter {
        background: none;
        padding: 10px 0;
        width: 65%;
    }

    #footer-main2 .caption-callcenter strong {
        font-size: 15px;
    }

    #footer-main1 .caption-links {
        color: #888888 !important;
        margin-top: 0px;
    }


    #footer-main1 .col-md-4.caption-links{
        margin-top: -10px;
    }

    #footer-main1 p.caption-links {
        margin-top:0;
        margin-bottom: 0;
    }

    #footer-main1 p.caption-links br, #footer-main1 p.links br {
        display:none;
    }

    #footer-main1 p.caption-links a:first-child {
        border-top: 1px solid #d8d8d8;
        margin-top:10px;
    }


    #footer-main1 .links a {
        background: url('../img/next.png') no-repeat scroll 600px 12px #F7F7F7;
        width:100%;
        border-bottom: 1px solid #d8d8d8;
        padding: 10px;
        display:block;
        margin:0;
    }

    #footer-main1 .links a:hover {
        background-color:#d9d9d9;
    }

    #footer-main1 .footer-logo-claro {
        float: right;
        margin-right: 10px;
        padding-left: 40px;
    }

    #footer-main1 .claro-logo-text {
        float: left;
        font-size: 28px !important;
        font-weight: bold;
        letter-spacing: 0;
        width: 60%;
        padding: 10px 0 0 10px;
    }

    #footer-main1 .caption-facebook {
        height: 50px;
        padding-top: 10px;
    }

    #footer-main2 .caption-callcenter strong {
        display: inline;
    }

    #footer-main1 .col-md-4.caption-links .links a {
        display:none;
    }

    #footer-main1 .col-md-4.caption-links .links a:last-child{
        display:block;
    }

    #footer-main1 .col-md-2.caption-links .links a {
        display:none;
    }

    #footer-main1 .col-md-2.caption-links .links a:first-child, #footer-main1 .col-md-2.caption-links .links a:last-child{
        display:block;
    }


    .facebook-contact {
        width:100%;
    }

    .box-title-contact {
        margin-top: -20px;
    }

    .card.active .extra .col-link {
        padding-left: 6%;
    }

    .row-section-list .card {
        width: 96.8% !important;
    }

    .gradient-dark-blue .col-md-5 {
        display: block;
        width: 100%;
    }

    .gradient-dark-blue .col-md-2 {
        display:block;
        width: 100%;
    }

    #container-canvas .form-control {
        display: block;
        margin:0 3%;
        width: 94%;
    }

    #container-canvas .col-dropdown3 .btn {
        height: 50px;
        margin: 20px 3% 8px;
        width: 94%;
        padding-top: 6px;
    }

    .error-image .oops, .error-image .brujula {
        width: 55%;
        float: left;
        margin-left: -15px;
    }

    .error-image h2 {
        font-size: 1.8em;
    }


    #container-canvas.container.error404 {
        background: url('../img/404_bg') no-repeat scroll 0px 0px / 100% auto #fcfbf7;
    }


    /*Preguntas frecuentes*/
    .envianos-consulta { width: 100%; }
    .content-searh { width: 100%; }

    .searh-col1,
    .searh-col2 { float: none; width: 100%; }
    .campo-1 { width: 100%; }
    .campo-2 { float: none; width: 100%; }

    .campo-1 .form-control,
    .campo-2 .form-control { margin: 0; }

    .text-bt { float: none; }


    #container-trips {
    background: url("../img/banner-trips.background.png") no-repeat scroll 10px 10px / 120% auto #FFFFFF;
    height: auto;
    width: 95%;
    padding-top:105px;
    margin: 10px auto;
    }

    #container-trips .caption-register {
    /*margin-left: 5%;*/
    margin: 5px;
    width: 45%;
    }

    #container-trips .caption-signin {
    /*margin: 10px 5%;*/
    margin: 5px 5px 5px 20px;
    width: 45%;
    padding:15px 0;
    }

    #container-trips .caption-trips {
    line-height: 100%;
    margin: 10px 5%;
    width: 90%;
    }





}

@media (max-width:480px) {

    .promo { display: none; }
    .promo-sm { width: 415px; height: 279px; display: block; background: url('../img/banner-promo-navidad-sm.png') no-repeat 0 0;  }

    #container-canvas.container.error500 {
        background: url(../img/error/500-small.jpg) 0 0 no-repeat;
        background-size: 100% auto;
        height: 500px;
    }
    #container-canvas.container.error500 .error-image .col-md-6 { width: 100%; margin: 0 auto; }
    #container-canvas.container.error500 .error-image .col-md-6 .col-md-3 { float: left; width: 40%; }
    #container-canvas.container.error500 .error-image .col-md-6 .col-md-3.cable { background-position: center center; }
    #container-canvas.container.error500 .error-image .col-md-6 .col-md-4 { float: left; width: 60%; text-align: center; }
    #container-canvas.container.error500 .error-image .col-md-6 .col-md-4 h1 { font-size: 2.4em; line-height: 80px; }
    #container-canvas.container.error500 .error-image .col-md-6 .col-md-5 { float: none; width: 100%; clear: both; text-align: center; }
    #container-canvas.container.error500 .error-image .col-md-6 .col-md-5 h2 { color: #fff; padding-top: 10px; border-top: 1px #fff solid; border-bottom: none!important; }
    #container-canvas.container.error500 .error-image .error-footer { float: left; width: 55%; margin-top: 40px; }


    #container-canvas.container.error404 { height: 370px; }

    .error-txt {
        margin: -10px 30% 20px 0;
        width: 55%;

    }

    .error-image .brujula {
        width: 40%;
        background-size: 100% auto;
        margin: 25px 5% 0px -15px;
    }

    .error-image h2 {
        font-size: 1.3em;
    }
    .error-image p {
        font-size: 1em;
    }


    #banner-benefits .box-club-beneficios .chica-club-beneficios { width: 40%; right: 0; left: inherit!important; z-index: 100; }

        #carousel-main .col-md-offset-7 { margin-left: inherit; width: inherit; }
        #carousel-main article .container {
            /*margin-top: 120px;*/
            padding: 10px 0;
            text-align: center;
            position: absolute;
            bottom: 0;
        }
        #carousel-main .col-md-offset-7 { margin: 0; }

        #carousel-main article h2 {
            font-size: 24px;
            line-height:85%;
            /*margin:100px 10px 0 15px;*/

        }

        #carousel-main article h3 {
            /*margin-left:15px;*/
            margin-top:5px;
            font-size:18px;
            text-shadow: 0px 0px 3px rgba(0, 0, 0, .7);
        }

        #carousel-main {
            height: 350px;
            max-width: 100%;
            background: rgba(0,0,0, .7);
        }

        #carousel-main article p {
            display: none;
        }

        #carousel-main article .btn-lg {
            width: 90%;
            /*margin-left: 5%;*/
            margin: 0 auto;
            float: none;
        }

        #container-trips {
            background: url("../img/banner-trips.background.png") no-repeat scroll 10px 10px / 120% auto #FFFFFF;
            height: auto;
            width: 95%;
            padding-top:50px;
            margin: 10px auto;
        }

        #container-trips .caption-register {
            margin-left: 5%;
            width: 90%;
        }

        #container-trips .caption-signin {
            margin: 10px 5%;
            width: 90%;
        }

        #container-trips .caption-trips {
            line-height: 100%;
            margin: 5%;
            width: 90%;
        }

 /*       .cards { width: 470px!important; }
        .owl-carousel .owl-wrapper-outer { width: 66%!important; }*/

        .cards {
            padding: 0;
            width: 98% !important;
            height:auto;
        }

        .card {
            width: 95%;
            /*margin-top: 0;*/
            margin: 0 auto!important;
        }

        .card.active {
        margin-top: 0px !important;
        width: 95% !important;
        margin-bottom: 30px;}


        #carousel-main-destinations { height: auto;}
        #carousel-main-destinations article {
        height: auto;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        }

/*         .owl-carousel .owl-wrapper-outer { width: 97%!important; }
.owl-carousel .owl-item { width: 225px!important; } */
/*
        .icon-carousel-left {
        background: url(../img/carousel-left-control-sm.png) no-repeat 0 0; width: 32px; height: 102px;
            }

        .icon-carousel-right {
        background: url(../img/carousel-right-control-sm.png) no-repeat 0 0; width: 32px; height: 102px;
            } */

/*         .owl-theme .owl-controls .owl-buttons .owl-next { right: 5px; } */

        .card.active .extra .col-link { padding-top: 2px!important; }







} /* --- max-width:480px */


@media (max-width:360px) {

        #footer-main1 .links a { background:url(../img/next.png) 300px 12px no-repeat #f7f7f7; }

        /* HOME */
        .dialog-home-suscripcion {
            width: 320px;
            top: 290px!important;
            height:250px;
        }

        .popover.top .arrow {
            bottom: 250px;
        }

        .dialog-home-suscripcion .dialog-content {
            padding: 20px 10px;
        }

        .dialog-home-suscripcion {
            width: 320px;
        }

        .dialog-home-suscripcion h2 {
            font-size: 50px;
        }

        .dialog-home-suscripcion p {
            font-size: 22px;
            margin: 20px 0;
            width: 160px;
        }

        .dialog-home-suscripcion img {
            top: 90px;
            right: 5px;
        }


        #carousel-main article .sticker {
            left: 10px;
            top: 10px;
            width: 120px;
            height: 81px;
        }
/*
        #carousel-main article h2 {
            font-size: 24px;
            line-height:85%;
            margin:100px 10px 0 15px;
        }

        #carousel-main article h3 {
            margin-left:15px;
            margin-top:5px;
            font-size:18px;
            text-shadow: 0px 0px 3px rgba(0, 0, 0, .7);
        }*/

/*        #carousel-main {
            height: 350px;
            max-width: 100%;
        }

        #carousel-main article p {
            display: none;
        }*/

/*        #carousel-main article .btn-lg {
            width: 90%;
            margin-left: 5%;
        }*/

/*        #carousel-main article .container {
            margin-top: 80px;
        }*/

        /* .owl-theme .owl-controls .owl-buttons div {
            top: 10px;
        }

        .icon-carousel-left {
            background: url("../img/carousel-left-control.png") no-repeat scroll 20px 0 rgba(0, 0, 0, 0);
        }

        .icon-carousel-right {
            background: url("../img/carousel-right-control.png") no-repeat scroll -20px 0 rgba(0, 0, 0, 0);
        }

        .owl-carousel, .owl-carousel .owl-wrapper-outer, .owl-carousel .owl-wrapper {
            height: auto!important;
        }

        .owl-theme .owl-controls .owl-buttons .owl-next {
            right: 25px;
        }

        .carousel-control .icon-prev, .carousel-control .icon-next {
            margin-left: -15px;
            top: 28%;
        }

        .owl-icon-carousel {
            display: block;
            height: 183px;
            width: 40px;
        } */

        /*#container-trips {
            background: url("../img/banner-trips.background.png") no-repeat scroll 10px 10px / 120% auto #FFFFFF;
            height: auto;
            width: 100%;
            padding-top:50px;
            margin: 10px 0;
        }

        #container-trips .caption-register {
            margin-left: 5%;
            width: 90%;
        }

        #container-trips .caption-signin {
            margin: 10px 5%;
            width: 90%;
        }

        #container-trips .caption-trips {
            line-height: 100%;
            margin: 5%;
            width: 90%;
        }*/

        .btn-form-site {
            border: 0 none;
            border-radius: 5px !important;
            color: #FFFFFF !important;
            width: 100%;
        }

        .well-suscripcion .col-signup {
            padding-top: 0;
        }

        .well-suscripcion button {
            /*margin-top: -35px;*/
        }

        .well-suscripcion .text-danger {
            color: #D52B1E !important;
            display: block;
            font-size: 12px;
            margin-bottom: 30px !important;
        }

        #container-canvas {
            border-radius: 0;
            max-width: 100%;
        }

        .list-group-item{
            border-right: none;
            border-left: none;
        }

        .list-group-item:first-child {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .list-group-item:last-child {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .mistake {
            padding: 20px 0;
        }

        .box-error-search {
            font-size: 1.8em;
        }

        .txt-error-nofound-search {
            font-size: 1.2em;
            padding: 0;
        }

        #carousel-main article {
            background-position: center bottom;
            background-repeat: no-repeat;
            height: 350px;
            overflow: hidden;
        }

        #carousel-main-destinations {
            /*height: 250px;*/
        }

        #carousel-main-destinations .carousel-inner {
            border-radius: 0;
        }

        #carousel-main-destinations article {
            /*height: 250px;*/
            overflow: hidden;
        }

        #carousel-main-destinations .carousel-control.left { background-image: none; }
        #carousel-main-destinations .carousel-control.right { background-image: none; }

        #carousel-main-destinations #destinations-label {
            font-size: 24px;
            left: 15px;
            width: 95%;
        }

        .cards {
            padding: 0;
            width: 100% !important;
            height:auto;
        }

        .card {
            width: 98%;
            /*margin-top: 0;*/
            margin: 0 auto!important;
        }

        .card.active {
        margin-top: 0px !important;
        width: 98% !important;
        margin-bottom: 30px;}


        .row-section-list .card {
            width: 95.8% !important;
        }

        .ofert-finished-layer, .alert-finished-layer {
            background-size: 100% auto;
            background-position: 0% 40%;
        }

        #banner-alerts .alert-finished-layer {
            background-position: -15px -35px;
            z-index: 20;
        }

        #banner-well-offers {
            margin-bottom: 0;
            overflow: hidden;
        }

        #banner-alerts {
            margin-bottom: 0;
            overflow: hidden;
        }

        /*        #banner-benefits a {
            background: url(../img/banner-sumate360.png) -20px 0 no-repeat;
            height:350px;
            display:block;
        }

        #banner-benefits a img{
            display:none;
        }*/

        #banner-benefits .box-club-beneficios { width: 100%; margin: 0 auto; }
        #banner-benefits .box-club-beneficios .caption-r { display: none; }

        #banner-benefits .box-club-beneficios .chica-club-beneficios img { height: 200px; }

        .dialog-home-suscripcion {
            top: 130px!important;
            left: 0!important;
            width: 320px;
            height:auto;
            padding:15px 15px 0 15px;
        }

        .dialog-home-suscripcion .dialog-content {
            margin: 0;
            text-align: center;
        }

        .dialog-home-suscripcion h2 {
            font-size: 50px;
            letter-spacing: -2px;
            margin-bottom: 0;
            margin-top: 0;
            text-shadow: 0 1px 2px #040305;
        }

        .dialog-home-suscripcion p {
            font-size: 24px;
            line-height: 100%;
            margin: 20px auto;
            width: 80%;
        }

        .popover.top .arrow, .popover.top .arrow:after {
            border-top-color: transparent;
        }

        .popover.top .arrow {
            border-bottom-color: #F38530;
            border-bottom-width: 8px !important;
            border-top-color: transparent;
            bottom: 156px;
            left: 82%;
            margin-left: -11px;
        }

        #modal-bienvenido .dialog-home-bienvenido {
            height: 420px;
            /*left: 0 !important;*/
            top: 50px !important;
            width: 95%!important;
            left: 0;
            right: 0;
        }

        #modal-bienvenido .dialog-home-bienvenido .close-link {
            left: 90%;
        }

        .dialog-home-bienvenido .sticker {
            left: 35px;
            position: absolute;
            top: 35px;
        }

        #container-canvas .row_section_header {
            padding: 0px;
            height: auto;
        }


        #container-canvas .col-dropdown3 .btn {
            padding-top: 12px;
        }

        #banner-travelace {
            max-width: 100%;
            height: 370px;
            background: url("../img/banner-main-travel-ace.png") -120px 0 no-repeat;
            background-size:370% 100%;
            position: relative;
            margin-bottom: 30px;
        }

        #banner-travelace .btn-lg {
            font-size: 24px;
            font-weight: normal;
            height: 60px;
            padding: 14px 0px;
            width: 95%;
            margin: 0 2.5%;
        }

        #banner-travelace h2 {
            font-size: 30px;
            margin: 220px 10px 5px 10px;
            text-shadow: 0px 1px 3px rgb(0, 0, 0);
            text-align: right;
            line-height: 85%;
            letter-spacing:-1px;
        }

        #banner-travelace h3 {
            display:none;
        }

        #banner-travelace .family {
            position: absolute;
            left: 5px;
            top: 68px;
            width:115%;
            height:82%;
        }

        .section-separator {
            background-size: 100% 50%;
            margin: 30px 10px 50px;
        }

        .btn-site {
            font-size: 16px;
            font-weight: normal;
            height: auto;
            width: 100%;
            padding: 15px 0;
            margin-top: 10px;
        }

        h4, .h4 {
            font-size: 16px;
        }

        #travelace-other-products .col-md-4 {
            width: 100%;
            padding: 0px;
        }

        #travelace-other-products .row-nav-pills {
            background-color: rgb(247, 247, 247);
            border: medium none;
            width: 100%;
        }

        #travelace-other-products .nav-pills a {
            width: 100%;
        }

        #travelace-other-products .col-md-8 {
            width: 100%;
            padding-right: 0px;
        }

        #travelace-other-products p {
            font-size: 13px;
            width: 100%;
        }

        #travelace-other-products .col-xs-11 {
            width: 100%;
        }

        #travelace-other-products .section-travelcare-description {
            padding-bottom: 0;
            overflow: hidden;
        }

        #travelace-other-products .section-travelcare-sticker {
            background-image: none;
            position: relative;
            width: 86px;
            top: 0px;
            margin:0;
            color:#333;
            float:right;
            height:auto;
        }

        #travelace-other-products  .section-travelcare-sticker br{
            display:none;
        }

        #container-canvas .grid-payment-methods-header {
            border-radius: 5px;
            padding-bottom: 5px;
        }

        #container-canvas .grid-payment-methods-header .col-icon-title {
            width: 100%;
            background: none repeat scroll 0% 0% transparent;
            margin-right: 0px;
        }

        #container-canvas .grid-payment-methods-header div {
            background: url("../img/grid-medios-pago-separator.png") no-repeat scroll left center transparent;
            padding: 8px;
            width: auto;
        }

        .col-title-first-bullet {
            width: auto!important;
            background: none!important;
            margin-left:4px;
        }

        #container-canvas .table-bullets {
            height: auto;
        }

        #container-canvas .table-bullets td {
            border-bottom: 5px solid #fff;
            border-top: 0px none;
            margin:0;
            height: 71px;
            width: 70px;
        }

        .table-chart {
            height: auto;
            overflow:hidden;
        }

        #container-canvas .table-logos {
            background: none;
            padding: 0px;
            float: left;
            margin-top:0px;
            margin-right: -320px;
            position: relative;
        }

        #container-canvas .table-logos td {
            border: 0px none;
            background-color: rgb(195, 195, 195);
            border-radius: 0;
            border-bottom: 1px solid #c3c3c3;
            text-align: center;
            display: inline-block;
            width: 318px !important;
            margin:-3px 0 0 0;
            height: 71px;
            border-bottom: 5px solid #fff;
        }

        #container-canvas .table-logos .medios-row-active td {
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMzIlIiBzdG9wLWNvbG9yPSIjMWQ5NWFiIiBzdG9wLW9wYWNpdHk9IjAuMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMWQ5NWFiIiBzdG9wLW9wYWNpdHk9IjAuNyIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
            background: -moz-radial-gradient(center, ellipse cover,  rgba(29,149,171,0.1) 32%, rgba(29,149,171,0.7) 100%); /* FF3.6+ */
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(32%,rgba(29,149,171,0.1)), color-stop(100%,rgba(29,149,171,0.7))); /* Chrome,Safari4+ */
            background: -webkit-radial-gradient(center, ellipse cover,  rgba(29,149,171,0.1) 32%,rgba(29,149,171,0.7) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-radial-gradient(center, ellipse cover,  rgba(29,149,171,0.1) 32%,rgba(29,149,171,0.7) 100%); /* Opera 12+ */
            background: -ms-radial-gradient(center, ellipse cover,  rgba(29,149,171,0.1) 32%,rgba(29,149,171,0.7) 100%); /* IE10+ */
            background: radial-gradient(ellipse at center,  rgba(29,149,171,0.1) 32%,rgba(29,149,171,0.7) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1d95ab', endColorstr='#b31d95ab',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

        }

        #container-canvas .table-logos .medios-row-active td span {
            opacity:0.5;
        }


        /* FAQ */
        #banner-preguntas{
            background-position: 60% 0;
            background-repeat: no-repeat;
            background-size: 250%;
            height:160px
        }

        .searh-col2 {
            width: 320px;
        }

        .campo-2 {
            width: 100%;
        }

        .alert-preguntas-frecuentes-verde {
            float: left;
            width: 300px;
        }

        .text-pregunta {
            width: 80%;
            float: left;
            line-height: 110%;
            vertical-align: middle;
            padding-top: 0;
            height: auto;
        }

        .respuestas {
            width: 100%;
        }


        /* ALERTAS */

        .carousel-inner{
            max-width:360px;

        }

        #banner-alerta #carousel-main .sticker {
            left: 10px;
            top: 10px;
            width: 120px;
            height: 81px;
        }

        #banner-alerta .col-timer {
            margin: 0 auto;
            float:none;
            width: 68%;
            overflow:hidden;
        }

        #banner-alerta #countdown {
            margin: 0 0 12px 0;
        }

        #banner-alerta #countdown-labels {
            margin: 0;
        }

        #banner-alerta .col-info .row1 {
            height: auto;
        }

        #banner-alerta .col-info h2 {
            font-size: 25px;
        }

        #banner-alerta .col-info p {
            font-size: 15px;
            line-height: 100%;
        }

        #banner-alerta #countdown-labels span {
            padding: 13px;
        }

        .col-btn {
            width: 95%;
            margin: 0 2.5% 20px;
        }

        .btn-site-big {
            width: 100%;
        }

        .well{
            padding:10px;
        }

        #banner-alerta .col-info .row3 .col-discount {
            border-right: 1px solid rgb(255, 255, 255);
            height: 79px;
            padding: 10px;
            font-size:14px;
        }

        #banner-alerta .col-info .row3 strong {
            font-size: 25px;
        }

        #banner-alerta .col-info .row3 {
            margin-top: 70px;
        }

        #container-canvas .row_section_header .row_section_header_title .rating {
            padding-top: 5px;
            padding-left: 12px;
        }

        #container-canvas .row_section_header {
            padding: 0 0 5px;
        }

        #container-canvas .row_section_header .row_section_header_title h2 {
            font-size: 18px;
            margin: 8px 0 -5px 12px;
            width: 100%;
        }

        #container-canvas .row_section_header .row_section_header_social {
            display:none;
        }

        .row-section-detail .col-md-4 {
            width: 100%;
        }

        #container-canvas .row-section-detail .nav {
            background-color: #FFFFFF;
            margin-bottom: 0;
        }

        #container-canvas .row-section-detail .nav li {
            display: inline-block;
            margin: 0;
            padding: 5px;
            width: 60px;
            background:transparent;
        }


        #container-canvas .row-section-detail .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
            padding: 5px;
        }

        #container-canvas .row-section-detail .row-nav-pills {
            background-color: #D8D8D8;
        }

        #container-canvas .row-section-detail .row-nav-pills ul {
            background-color: transparent;
            display: block;
            height: 60px;
            margin: 0 auto;
            padding: 0;
            width: 253px;
        }

        #container-canvas .row-section-detail .row-nav-pills li {
            background-color: transparent;
        }

        #container-canvas .row-section-detail .nav-pills li .icon {
            margin-top: 0;
        }

        #container-canvas .row-section-detail .nav-pills li .nav-pill-label{
            display:none;
        }

        #container-canvas .row-section-detail .nav {
            margin-bottom: 0;
        }

        #container-canvas .row-section-detail .nav-pills a {
            border-radius: 0 0 0 0;
            height: 60px;
            padding: 0!important;
            background-color:transparent!important;
        }

        #container-canvas .row-section-detail .nav li {
            background: none repeat scroll 0 0 transparent;
            display: inline-block;
            margin: 0;
            padding: 0;
            width: auto;
        }

        .row-section-detail .col-md-8{
            width:100%;
        }

        #container-canvas .row-section-detail .row-section-form{
            display:none;
        }

        #container-canvas .tab-content {
            margin: 0;
            padding: 15px;
            width: 100%;
        }

        #container-canvas .tab-content #map-canvas {
            border-radius: 5px 5px 5px 5px;
            height: 250px;
            margin: 0;
            width: 100%;
        }

        #container-canvas .tab-content p {
            padding:10px;
        }

        #container-canvas h4 {
            margin: 20px 0 0 12px;
            padding-bottom:5px;
        }

        #banner-alerta .alert-finished-layer {
            height: 342px;
            left: -24%;
            width: 500px;
        }

        #carousel-main-destinations .carousel-inner > .item > img {
        margin-left: -30%;
        max-width: 160%;
        }

        #carousel-main .carousel-inner > .item > a > img {
        margin-left: -5%;
        max-width: 300%;
        }

        #section-related{
            display:none;
        }

        #section-hotel{
            padding-left:20px;
        }

        .services-container{
            display: inline;
        }

        .services-icons {
            height: 55px;
        }

        .services-item .services-description {
            padding: 8px 0;
            position: absolute;
            width: 90%;
            left: 5%;
        }

        .services-item {
            height: 110px;
        }

        #demo-container {
            width: 105px;
            position: absolute;
            left: 30%;
            top: 60px;
        }

        #pendulum-child {
            background-image:url(../img/puerta-02.png);
            background-size: 100%;
            background-repeat:no-repeat;
            height: 300px;
            width: 133px;
            position: absolute;
            left:10px;
            top:-14px;
        }

        .img-volvemos {
            height:190px;
            width:118px;
            margin-top:65px;
            margin-left:25px;
            margin-bottom:50px;
        }

        .img-puerta-03 {
            background-image: url(../img/puerta-03.png);
            background-repeat:no-repeat;
            position:absolute;
            background-size: 100%;
            z-index: 1;
            height: 50px;
            width: 190px;
            display:block;
            top: 65px;
            left:160px;
        }

        .facebook-contact {
            width:100%;
        }

        .bt-facebook a{
            float: left;
        }

        .txt-facebook {
            float:left;
            font-size: 18px;
        }

        .img-telefono{
            margin: 0 auto;
            margin-left: -15px;
        }

        .img-telefono img{
            width:245px;
            height: 158px;
            background-size: 100%;
            margin-left: 25px;
        }

        .cards .col-md-6{
            margin:0;
            width: 96%!important;
            padding:15px 5%;
        }

        .box-title-contact {
            margin:0;
            font-size: 1.4em;
            padding-bottom:0;
        }

        .gradient-dark-blue {
            height: auto;
        }

        .horario-contact{
            font-size: 1.2em;x
        }

        .box-title-contact-2{
            margin:0;
            font-size: 2.6em;
        }

        .bt-enviar-contacto {
            padding: 0;
            width: 100%;
            margin: 0 0 20px;
        }

        .bt-enviar-contacto button {
            background-color: #1C92AE;
            padding: 10px 0 8px;
            height: auto;
        }

        .alert-contact {
            width: 100%;
            margin-top: 15px;
            text-align:center;
        }

        .txt-facebook {
            font-size:16px;
        }

        .campo-contact-1 {
            width: 100%;
        }

        /* GANADORES */

        .container.win {
            height: 480px;
            overflow:hidden;
        }

        .container.winner{
            height:auto;
        }

        .bg-placa-ganadores, #bg-placa-ganadores {
            background:#c85925;
            background-image:none;
            width:100%;
            padding: 0;
            height:auto;
            float: left;
            margin:0;
            border-radius:0;
            box-shadow: 0 3px 3px rgba(0,0,0,.35);
        }

        #box-nombre{
            background: #ffe791;
            background-image:none;
            width:100%;
            margin: 0;
            padding:0;
            float:left;
            border-radius: 0;
            box-shadow: 0 5px 5px rgba(0,0,0,.35);
            height:95px;
        }

        #podio, #placa-ingresa-conoce{
            display:none;
        }

        #txt-ganadores {
            width: 100%;
            font-size: 30px;
            text-align: center;
            line-height: 100%;
            padding:0;
            margin:20px 0 0;
        }

        #banner-slide {
            max-width: 360px!important;
        }

        .campo-contact-1 {
            margin-top: 5px;
        }

        #banner-slide, #banner-slide * {
            height:400px!important;
        }

        #banner-slide img{
            height:180px!important;
        }

        .bjqs-wrapper {
            top: 20px;
            margin:0 auto;
        }

        li.bjqs-slide {
            margin-left: 20px!important;
            width: 360px!important;
        }

        #banner-slide li.bjqs-prev a, #banner-slide li.bjqs-prev a:hover {
            margin-left: 5px;
            left:0;
            height:85px!important;
            overflow:hidden;
            background-repeat:no-repeat;
            top: 200px!important;
            background: url(../img/chevron-left.png) 0 0 no-repeat;
        }

        #banner-slide li.bjqs-next a, #banner-slide li.bjqs-next a:hover {
            left: 320px!important;
            height:85px!important;
            top: 200px!important;
            background: url(../img/chevron-right.png) 0 0 no-repeat;
        }

        #txt-conoce {
            font-size: 20px;
            width: 100%;
            line-height: 100%;
            text-align: center;
            background: #fff5d5;
            background-image:none;
            margin:0;
            padding:0;
        }

        .txt-conoce{
            display:none;
        }

        #numerico {
            background-image: none;
            background: #8b3f00;
            position: relative;
            height: 65px;
            display: block;
            margin: 0px;
            z-index: 4;
            float: left;
            width: 100%;
        }

        #bt-numerico-atras {
            margin-left: 60px;
        }

        .copa, .avion, .img-premio-tv, .camisa {
            display:none;
        }

        .primer-premio {
            color: #D95900;
            font-family: "Comrade bold";
            position: relative;
            float: left;
            top: 20px;
            width: 100%;
            left: 10px;
            font-size: 100%;
        }

        .viaje-doble {
            padding-right: 20px;
            font-size: 17px;
            margin-top: -1px;
        }

        .rectangulo {
            width: 96%;
            height: 50px;
            margin-top: 42px;
            margin-left: 2%;
            border-radius: 10px;
            padding-top:10px;
            box-shadow: 0 5px 5px rgba(0,0,0,.35);
        }

        .rectangulo p {
            width: 100%;
            font-size: 18px;
            margin-left: 15px;
        }

        .txt-ganadores {
            font-size: 21px;
            left: 13px;
            top: 10px;
        }

        .box-segundo {
            height: auto;
            width: 100%;
            display: block;
            top: 20px;
            left: 0;
            position: relative;
            margin: 0;
            float:left;
        }

        .box-nombre, .placa-segundo{
            background: #ffe791;
            background-image:none;
            width:96%;
            margin: 0 2% 10px;
            padding:0 0 10px 0;
            float:left;
            border-radius: 10px;
            box-shadow: 0 5px 5px rgba(0,0,0,.35);
            height:auto;
            left:0;
            top:10px;
        }

        .placa-segundo ul{
            float:left;
            margin-left:10px;
        }

        .placa-segundo ul li {
            width: 100%;
        }

        .box-tercero {
            background-image: none;
            background: #ffe791;
            position: relative;
            max-width: 96%;
            height: auto;
            display: block;
            top: 90px;
            right: 2%;
            float: left;
            border-radius: 10px;
            box-shadow: 0 5px 5px rgba(0,0,0,.35);
            padding:0;
            left:2%;
            margin-bottom:100px;
        }

        .tercer-premio {
            color: #43270D;
            font-family: "Comrade bold";
            font-size: 20px;
            position: relative;
            padding-left: 0px;
            top: -60px;
        }

        .tercer_lista_izq, .tercer_lista_der {
            width: 100%;
            height: auto;
            position: relative;
            font-family: "Berlin Sans FB";
            font-size: 17px;
            top:-30px;
            left: 10px;
            padding-top: 0;
            float:left;
        }

        .txt_pelota {
            width: 100%;
            float: left;
            margin-top: -5px;
        }

        /* error */

        #container-canvas.container.error404 {
            height: 410px;
        }

        .error-image .oops, .error-image .brujula {
            width: 30%;
            float: none;
            margin-left: 10px;
        }

        .error-txt {
            width: 100%;
        }

        .error-image .brujula{
            margin-left: 20px;
            margin-bottom: -15px;
        }

        .error-image .col-md-6 .col-md-6 {
            font-size: .85em;
            text-align: center;
        }

        .error-image h1 {
            font-size: 2em;
        }
        #container-canvas.container.error500 .error-image .col-md-6 p { font-size: 1.2em; line-height: 20px; }
        #container-canvas.container.error500 .error-image .error-footer .btn-site-yellow { padding: 10px; }
        #container-canvas.container.error500 .error-image .error-footer { width: 50%; }

        #carousel-main article .container {
            /*margin-top: 120px;*/
            padding: 30px 0 20px;
            text-align: center;
            position: absolute;
            bottom: 0;
        }

        .promo-sm { width: 305px; }


/*         .owl-carousel .owl-wrapper-outer { width: inherit; }
.owl-carousel .owl-item { width: 290px!important; }

.icon-carousel-left {
background: url(../img/carousel-left-control-sm.png) no-repeat 0 0; width: 32px; height: 102px;
    }

.icon-carousel-right {
background: url(../img/carousel-right-control-sm.png) no-repeat 0 0; width: 32px; height: 102px;
    }

.owl-theme .owl-controls .owl-buttons .owl-next { right: 5px; } */






} /* --- max-width:360px */

@media (max-width:320px) {

            #txt-ganadores {
                font-size: 28px;
            }

            li.bjqs-slide {
                margin-left: 10px!important;
                width: 325px!important;

            }

            .txt-facebook {
                font-size: 1em;
                padding-top: 10px;
            }

            .horario-contact {
                font-size: 1.1em;
            }

            #banner-slide li.bjqs-next a, #banner-slide li.bjqs-next a:hover {
                left: 280px!important;
            }

            .txt-ganadores {
                font-size: 19px;
            }

            .viaje-doble {
                font-size: 16px;
            }

            .error-image h2 {
                font-size: 1.8em;

            }

            #container-canvas.container.error404 {
                height: 470px;
            }

            .error-image p {
                font-size: 1.2em;
                text-align:center;
                padding: 0 15%;
            }

            .error-image .brujula {
                margin-left: 20px;
                margin-bottom: -25px;
            }

            #container-canvas.container.error500 .error-image .col-md-6 .col-md-3.cable { background-size: 70% 70%; }
            #container-canvas.container.error500 .error-image .col-md-6 .col-md-4 h1 { font-size: 2em; line-height: 60px; }
            #container-canvas.container.error500 .error-image .col-md-6 .row { margin: 0; }
            #container-canvas.container.error500 .error-image .error-footer .btn-site-yellow { padding: 10px; }
            #container-canvas.container.error500 .error-image .col-md-6 p { padding: 0; line-height: 20px; }

            .promo-sm { width: 270px; }


}/* --- max-width:320px */

@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
    .box-title-contact-2 {
        font-size: 2.5em;
        text-align: center;
    }
}
