
/*
* === RESPONSIVE ALL SECTIONS ===
* @claroviajes 2015
*/



@media (min-width : 320px) and (max-width : 480px) {

/* @SECTION HEADER */
#header-main { position: inherit; }

#menu { display:none; }
.slicknav_menu { display:block; position: relative; z-index: 2; }
#logo { position: absolute; margin: 0!important; top: 10px; left: 10px; z-index: 3; }
#logo img { width: 80%; }
#nav-main { height: auto; }

.slicknav_nav .icon-nav { float: left; }
.slicknav_nav a span { float: left; line-height: 32px; margin-left: 20px; text-transform: uppercase; } 
.slicknav_nav a { overflow: hidden; }
.slicknav_nav a:hover { color: #f1822c !important; }
.slicknav_nav a:hover .icon-nav { background-position: 0px -33px; }
.slicknav_nav li.club { display: none; }
/*
.slicknav_nav li.club a.bt-club { background-color: #f1f1f1; border-radius: 0; }
.slicknav_nav li.club a.bt-club:hover {
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f38530), to(#c45826));
background: -webkit-linear-gradient(top, #f38530, #c45826);
background: -moz-linear-gradient(top, #f38530, #c45826);
background: -ms-linear-gradient(top, #f38530, #c45826);
background: -o-linear-gradient(top, #f38530, #c45826); }
.slicknav_nav li.club a.bt-club:hover .icon-club { background-position: 0px -46px; }
*/

.slicknav_nav li.paquetes,
.slicknav_nav li.hoteles,
.slicknav_nav li.vuelos,
.slicknav_nav li.autos,
.slicknav_nav li.tours { display: none; }

.sesion-main .container { padding: 0 10px!important; }


/* @SECTION HOME */
#dashboard-carousel { margin: 0; }
#dashboard-carousel #carousel-main { background: none; }
#dashboard-carousel #carousel-main .carousel-control { top: 35%; }
#dashboard-carousel #carousel-main .box-icono-club { position: absolute; top: 0; left: inherit; right: 20px; background: url("../img/subscription/icono-club-beneficio-sm.png") no-repeat top center; width: 37px; height: 55px; }
#dashboard-carousel #carousel-main .carousel-caption { padding:0 10px; /*position: inherit;*/ }
#dashboard-carousel #carousel-main .item img { margin: 0; }
#dashboard-carousel #carousel-main .carousel-caption .container { position: relative; margin: 0!important; }
#dashboard-carousel #carousel-main .carousel-caption .title-hotel { float: none; width: 90%; margin: 0 auto; }
#dashboard-carousel #carousel-main .carousel-caption h3 { font-size: 1.8em; width: 75%; }
#dashboard-carousel #carousel-main .carousel-caption .title-hotel p { display: none; }
#dashboard-carousel #carousel-main .carousel-caption .btn-suscribirse { width: 100%; margin: 5px auto 0; height: inherit; }
#dashboard-carousel #carousel-main article .carousel-caption .container { padding: 10px; }


/* 2015.03.06 */
#dashboard-carousel #carousel-main { height: 333px; }
#dashboard-carousel #carousel-main .carousel-inner article.item { height: 333px; }
#dashboard-carousel #carousel-main .carousel-control.left {
  width: 50px;
  height: 50px;
}
#dashboard-carousel #carousel-main .carousel-control.right {
  width: 50px;
  height: 50px;
}
#dashboard-carousel #carousel-main .carousel-control.left img,
#dashboard-carousel #carousel-main .carousel-control.right img { width: 100%; }

/* ----------- */

#dashboard-carousel #carousel-main article .carousel-caption-ofertas { padding: 10px!important; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .container { position: inherit; bottom: inherit; padding: 0; width: 95%; overflow: inherit; margin: 0!important; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .title-oferta h3 { font-size: 2em; text-align: center; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta { width: 300px; margin: 30px auto 0; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta span.cuota-oferta-n { font-size: 13em; line-height: 170px; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .text-oferta { margin: 85px auto 10px; width: 300px;}
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .text-oferta p { width: 80%; text-align: left; font-size: 1em; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta span.cuota-oferta-m { line-height: 0; font-size: 3.5em; top: 0; right: 70px; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta span.cuota-oferta-t2 { top: 68px; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta span.cuota-oferta-t1 { top: 22px; }

#dashboard-carousel #carousel-main .beneficio-xl { display: none; }
#dashboard-carousel #carousel-main .beneficio-sm { display: block; }


/* search */
#dashboard-search .container-search { width: 100%; padding: 10px 20px; }
#dashboard-search .container-search .group-select { float: none; width: 100%; margin-bottom: 10px; }
#dashboard-search .container-search .group-search { float: none; width: 100%; margin-left: 0; }
#dashboard-search .container-search .group-search .s { width: 100%; }
#dashboard-search .container-search .group-date .input-group .str-fecha { width: 90%; }
#dashboard-search .container-search .btn-buscar { margin: 10px 0 0; }

#ui-datepicker-div { width: 300px!important; left: 10%!important;}
.ui-datepicker-multi .ui-datepicker-group { float: none; }
.ui-datepicker-multi-2 .ui-datepicker-group { width: 100%; }
.ui-datepicker .ui-datepicker-next { margin-top: -210px; }
.ui-datepicker-group-last { border: none; }


/* banner viaje */
#carousel-main-destinations article .destinations-caption { /*padding:2px 0;*/ }
#carousel-main-destinations article .destinations-caption .destinations-title h1.t1 { font-size: 2em; }
#carousel-main-destinations article img { max-width: 110%!important; }



/* @SECTION SUBSCRIPTION */
#dashboard-subscription .subscription-header { background: #F0F0F0 url("../img/subscription/bk-header-sm.jpg") no-repeat top center; height: 320px; }
#dashboard-subscription .subscription-header .box-step { display: none; }
#dashboard-subscription .subscription-header .box-icono-club { position: absolute; top: 0; right: 20px; background: url("../img/subscription/icono-club-beneficio-sm.png") no-repeat top center; width: 37px; height: 55px; }
#dashboard-subscription .subscription-header h1.title { text-align: center; font-size: 2.8em; line-height: 36px; top: 140px; left: 0; right: 0; margin:0 auto;  }
#dashboard-subscription .subscription-header .box-step-1 { position: absolute; left:0; right: 0; bottom: 15px; background: url("../img/subscription/bk-step-1-sm.png") no-repeat; width: 298px; height: 47px; 
font-family: 'bebas_neueregular';
font-size: 2.4em;
color: #fff;
text-align: center;
padding: 0;
z-index: 1;
margin: 0 auto; 
}
#dashboard-subscription .subscription-content ul { border-bottom: none; }
#dashboard-subscription .subscription-content ul li.first { margin: 0; }
#dashboard-subscription .subscription-content ul li { width: 50%; }
#dashboard-subscription .subscription-content ul li a { width: 100%; }

#dashboard-subscription .subscription-content .col-xs-2, 
#dashboard-subscription .subscription-content .col-xs-4 { float: none; }
#dashboard-subscription .subscription-content .col-xs-4 { width: 100%; }

#dashboard-subscription .subscription-content .col-xs-4 p.legal { display: none; }
#dashboard-subscription .subscription-content .legal-sm { display: block; padding: 15px; }
#dashboard-subscription .box-envia .box-e-1 { display: none; }
#dashboard-subscription .box-envia .box-e-2 { display: none; }

#dashboard-subscription .box-envia .box-t-1 { text-align: center; font-family: 'bebas_neueregular'; color: #868686; font-size: 2em; padding:5px 0; left: 0; right: 0; margin: 0 auto; background:url("../img/subscription/bk-envia-sm.png") no-repeat top center; width: 320px; height: 47px; position: absolute; z-index: 3; top: -22px; }
#dashboard-subscription .box-envia .box-f { display: none; }
#dashboard-subscription .box-envia .box-t-2 { left: 0; right: 0; top: 50px; text-align: center; z-index: 10; }
#dashboard-subscription .box-envia { height: 100px; }

#dashboard-subscription .subscription-footer { background: #E9E9E9 url("../img/subscription/bk-footer-sm.png") no-repeat top center; position: relative; min-height: 1080px; }
#dashboard-subscription .subscription-footer .box-step-2 { position: absolute; left:0; right: 0; top: 144px; background: url("../img/subscription/bk-step-1-sm.png") no-repeat; width: 298px; height: 47px; 
font-family: 'bebas_neueregular';
font-size: 2.4em;
color: #fff;
text-align: center;
padding: 0;
z-index: 1;
margin: 0 auto;
}

#dashboard-subscription .subscription-footer .box-title { width: 90%; margin: 0 auto; left: 0; right: 0; }
#dashboard-subscription .subscription-footer .box-productos { width: 100%; margin: 0 auto; position: relative; }

.subscription-footer a.escudo-1 { left: 5%; top: 440px; }
.subscription-footer a.escudo-2 { right: 5%; top: 520px; left: inherit; }
.subscription-footer a.escudo-3 { left: 5%; top: 645px; }
.subscription-footer a.escudo-4 { left: inherit; right: 5%; top: 720px; }
.subscription-footer a.escudo-5 { left: 5%; top: 850px; }

.box-productos a.blur{
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.box-productos a.active{
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  z-index: 104; 
  opacity: 1;
}

#dashboard-subscription .subscription-content-user { height: auto; padding: 20px 0; }
#dashboard-subscription .subscription-content-user .block-user { float: none; width: 100%; }
#dashboard-subscription .subscription-content-user .block-user-bienvenida { float: none; width: 100%; text-align: center; }
#dashboard-subscription .subscription-content-user .block-user-bienvenida .title-bienvenida { font-size: 1.5em; }
#dashboard-subscription .subscription-content-user .user-name { width: 100%; }
#dashboard-subscription .subscription-content-user span.user-before,
#dashboard-subscription .subscription-content-user span.user-after { display: none; }
#dashboard-subscription .subscription-content-user h1 { width: 100%; }


#dashboard-subscription .subscription-bienvenida .header-content { background: url("../img/subscription/bienvenida-sm.jpg") no-repeat top center; height: 380px; }
#dashboard-subscription .subscription-bienvenida .header-content .box-icono-club { position: absolute; top: 0; right: 20px; background: url("../img/subscription/icono-club-beneficio-sm.png") no-repeat top center; width: 37px; height: 55px; }
#dashboard-subscription .subscription-bienvenida .header-content h1.title { text-align: center; font-size: 2.5em; line-height: 36px; top: 160px; left: 0; right: 0; margin:0 auto; }
#dashboard-subscription .subscription-bienvenida .header-content a.btn-ver-ofertas { left: 0; right: 0; width: 80%; margin: 0 auto; top: 280px; }
.bienvenida-user{ width: 90%; }
#dashboard-subscription .subscription-bienvenida p { width: 80%; }



/* @SECTION OFERTAS -- ALERTAS */
.nav-fixed { position: inherit!important; }

#dashboard-oferta #hotel { padding: 10px 0; }
#dashboard-oferta #ubicacion { padding: 10px 0; }
#dashboard-oferta #habitacion { padding: 10px 0; }
#dashboard-oferta #informacion { padding: 10px 0; background: #f7f7f7; }
#dashboard-oferta #consultar { padding: 10px 0; }
#dashboard-oferta #vuelo { padding: 10px 0; }
#dashboard-oferta #paquete { padding: 10px 0; }


#dashboard-oferta { margin-top: 0; }
#dashboard-oferta #header-oferta { padding: 200px 0 0; margin-bottom: 160px; height: 300px; }
#dashboard-oferta #header-alerta { padding: 200px 0 0; margin-bottom: 160px; }
#dashboard-oferta .oferta-picture { background-size: 200%; background-position: top center; }
#dashboard-oferta #header-oferta .main-oferta .box-icono-club { position: absolute; top: -200px; left: 20px; background: url("../img/subscription/icono-club-beneficio-sm.png") no-repeat top center; width: 45px; height: 61px; }
#dashboard-oferta #header-oferta .main-oferta .oferta-picture-caption { width: 100%; height: 255px; background: rgba(0,0,0, 1); }
#dashboard-oferta #header-oferta .main-oferta .oferta-picture-caption .content-caption { padding: 10px 20px; /*height: 315px;*/ }
#dashboard-oferta #header-oferta .main-oferta .oferta-picture-caption .footer-caption { /*position: inherit; bottom: inherit;*/ }
#dashboard-oferta #header-oferta .main-oferta .oferta-picture-caption .footer-caption .col-md-4 { float: left; padding: 0 5px; }

#dashboard-oferta #header-alerta .main-oferta .box-icono-club { position: absolute; top: -200px; left: 20px; background: url("../img/subscription/icono-club-beneficio-sm.png") no-repeat top center; width: 45px; height: 61px; }
#dashboard-oferta #header-alerta .main-oferta .alerta-picture-caption { width: 100%; height: 430px; background: rgba(0,0,0, 1); }
#dashboard-oferta #header-alerta .main-oferta .alerta-picture-caption .content-caption { padding: 10px 20px; height: 315px; }
#dashboard-oferta #header-alerta .main-oferta .alerta-picture-caption .footer-caption { /*position: inherit; bottom: inherit;*/ }
#dashboard-oferta #header-alerta .main-oferta .alerta-picture-caption .footer-caption .col-md-4 { float: left; padding: 0 5px; }


.details-alerta .col-md-4 { float: left; width: 33%; }
.details-text { display: block; }
.details-dest { display: block; }
.countdown.last-60 { position: relative; }

.booking-success { width: 100%; left: 0; }

.countdown.last-60 .col-md-4 { float: left; }
.countdown.last-60 .col-md-8 { float: left; padding: 0 2px; }

#dashboard-oferta ul.nav-oferta { position: inherit;}
#dashboard-oferta .box-oferta { width: 100%; margin: 0; }
#dashboard-oferta .box-oferta .container-ofertas { width: 94%; }
#dashboard-oferta .box-oferta .c-50 { float: none; width: 100%; }


#dashboard-oferta .box-oferta #carousel-Picture { width: 100%; margin: 20px 0; }

#dashboard-oferta .box-oferta .expandable-list { width: 100%; }
#dashboard-oferta .box-oferta .list-servicios-hotel { height: 70px; }
#dashboard-oferta .box-oferta .list-servicios-hotel li { width: 33%; }
#dashboard-oferta .box-oferta .list-servicios-hotel .servicios-icon { float: none; display: block; text-align: center; }
#dashboard-oferta .box-oferta .list-servicios-hotel .servicios-title { float: none; display: block; text-align: center; width: 100%; }
#dashboard-oferta .box-oferta .box-frase .top-frase { margin: 20px auto; }
#dashboard-oferta .box-oferta .box-frase .text-frase { padding: 0 10px; }
#dashboard-oferta .box-oferta #habitacion .hab-Picture { width: 300px; height: 300px; margin: 20px auto; }

.expandable-list-hab ul.list-servicios-habitacion { height: 70px; }

#dashboard-oferta .box-oferta .informacion-title { width: 75%; }
#dashboard-oferta .box-oferta .informacion-title-a { width: 75%; }

#dashboard-oferta .box-oferta ul.list-info { width: 90%; margin: 0 auto; }
#dashboard-oferta .box-oferta ul.list-info li { float: none; width: 100%; }

#dashboard-oferta .box-oferta .consultar-form { padding: 20px 10px; }

#dashboard-oferta .box-oferta .col-xs-6 { float: none; width: 100%; }

#dashboard-oferta .box-oferta #ofertas-destacadas .list-item-dest-o,
#dashboard-oferta .box-oferta #ofertas-destacadas .list-item-dest-a { width: 290px; margin: 0 auto; }

#ofertas-destacadas ul.list-items-dest { width: 295px; margin: 20px auto; }
#ofertas-destacadas ul.list-items-dest li { margin: 0 auto 40px;}

#dashboard-oferta #banner-subscripcion { display: none; }
#dashboard-oferta ul.nav-oferta { display: none; }
#dashboard-oferta .consultar-reserva { display: none; }

.header-consultar-form span.title-form { margin: 0; line-height: 25px; float: left; /*width: 80%;*/ font-size: 1.5em; }
.header-consultar-form span.mb { display: block; clear: both; }
.header-consultar-form span { font-size: 1.6em; }

.countdown.last-60 .t-2,
.countdown.last-60 .t-1 { float: none; }
.countdown.last-60 .t-last-clock { font-size: 3.4em; }

.booking-success { bottom: 120px; padding: 5px; }
.booking-success h3.title-booking { padding: 0 5px; margin: 5px 0; }

.booking-success:before,
.booking-success:after { display: none; }

#map-canvas { height: 200px; }

.i-consulta { display: none; }

/*vuelos*/
ul.list-destination li.fecha { width: 100%; float: none; text-align: center; clear: both; }
ul.list-destination li.destinations { width: 100%; float: none; text-align: center; }
ul.list-destination li.icons { width: 100%; float: none; text-align: center; line-height: 20px;  }
ul.list-destination li.duracion { width: 100%; float: none; text-align: center; clear: both; }
ul.list-destination li.aerolinea { width: 50%; text-align: center; line-height: 20px; }
ul.list-destination li.codigo { width: 50%; text-align: center; line-height: 20px; }
ul.list-destination li span { display: inline-block;}


/*cruceros*/
#itinerario ul.list-itinerario li.fecha { width: 100%; float: none; text-align: center; }
#itinerario ul.list-itinerario li.arrival,
#itinerario ul.list-itinerario li.exit { width: 100%; float: none; text-align: center; }
#itinerario ul.list-itinerario li.icons { width: 100%; float: none; text-align: center; }
#itinerario ul.list-itinerario li.itinerario { width: 100%; float: none; text-align: center;}
#itinerario ul.list-itinerario li.crucero { width: 100%; float: none; text-align: center; }
#itinerario ul.list-itinerario li span { display: inline-block;}

/*autos*/
ul.list-company-car li.car-date { width: 100%; float: none; text-align: center; }
ul.list-company-car li.car-time { width: 100%; float: none; text-align: center; }
ul.list-company-car li.car-city { width: 100%; float: none; text-align: center;}
ul.list-company-car li.car-company { width: 100%; float: none; text-align: center; }
ul.list-company-car li span { display: inline-block; }


#tarifa { padding: 10px 0; }
#tarifa ul.list-tarifa li { float: none; width: 100%; }

ul.list-paquetes li { float: none; width: 100%; }
ul.list-regulacion li { float: none; width: 100%; }

#auto { padding: 10px 0; }
#auto .col-xs-8,
#auto .col-xs-4 { float: none; width: 100%; }
#auto .col-xs-4 { text-align: center; margin: 10px auto; }


/* @SECTION BANNER BOTTOM */
.box-banner-bottom {
  background-image: url("../img/banner-bottom/banner_inferior_mobile.jpg");
  background-repeat: no-repeat; 
  background-position: top center;
  background-size: 100% auto;
}



} /*(min-width : 320px) and (max-width : 480px)*/

@media (min-width : 481px) and (max-width : 640px) { 

/* @SECTION HEADER */
#header-main { position: inherit; }

#menu { display:none; }
.slicknav_menu { display:block; position: relative; z-index: 2; }
#logo { position: absolute; margin: 0!important; top: 10px; left: 10px; z-index: 3; }
#logo img { width: 80%; }
#nav-main { height: auto; }

.slicknav_nav .icon-nav { float: left; }
.slicknav_nav a span { float: left; line-height: 32px; margin-left: 20px; text-transform: uppercase; } 
.slicknav_nav a { overflow: hidden; }
.slicknav_nav a:hover { color: #f1822c !important; }
.slicknav_nav a:hover .icon-nav { background-position: 0px -33px; }
.slicknav_nav li.club { display: none; }
/*
.slicknav_nav li.club a.bt-club { background-color: #f1f1f1; border-radius: 0; }
.slicknav_nav li.club a.bt-club:hover {
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f38530), to(#c45826));
background: -webkit-linear-gradient(top, #f38530, #c45826);
background: -moz-linear-gradient(top, #f38530, #c45826);
background: -ms-linear-gradient(top, #f38530, #c45826);
background: -o-linear-gradient(top, #f38530, #c45826); }
.slicknav_nav li.club a.bt-club:hover .icon-club { background-position: 0px -46px; }
*/

.slicknav_nav li.paquetes,
.slicknav_nav li.hoteles,
.slicknav_nav li.vuelos,
.slicknav_nav li.autos,
.slicknav_nav li.tours { display: none; }

/* @SECTION HOME */
#dashboard-carousel { margin: 0; }
#dashboard-carousel #carousel-main { background: none; }
#dashboard-carousel #carousel-main .carousel-control { top: 25%; }
#dashboard-carousel #carousel-main .box-icono-club { position: absolute; top: 0; left: inherit; right: 20px; background: url("../img/subscription/icono-club-beneficio-sm.png") no-repeat top center; width: 37px; height: 55px; }
#dashboard-carousel #carousel-main .carousel-caption { padding: 10px; /*position: inherit;*/ }
#dashboard-carousel #carousel-main .carousel-caption .container { position: relative; margin: 0!important; }
#dashboard-carousel #carousel-main .carousel-caption .title-hotel { float: none; width: 90%; margin: 0 auto; }
#dashboard-carousel #carousel-main .carousel-caption h3 { font-size: 1.8em; width: 75%; }
#dashboard-carousel #carousel-main .title-hotel p { display: none; }
#dashboard-carousel #carousel-main .carousel-caption .btn-suscribirse { width: 100%; margin: 10px auto 0; height: inherit; }
#dashboard-carousel #carousel-main article .container { padding: 10px; }

#dashboard-carousel #carousel-main article .carousel-caption-ofertas { padding: 10px!important; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .container { position: inherit; bottom: inherit; padding: 0; width: 95%; overflow: inherit; margin: 0!important; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .title-oferta h3 { font-size: 2em; text-align: center; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta { width: 300px; margin: 30px auto 0; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta span.cuota-oferta-n { font-size: 13em; line-height: 170px; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .text-oferta { margin: 85px auto 10px; width: 300px;}
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .text-oferta p { width: 80%; text-align: left; font-size: 1em; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta span.cuota-oferta-m { line-height: 0; font-size: 3.5em; top: 0; right: 70px; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta span.cuota-oferta-t2 { top: 68px; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta span.cuota-oferta-t1 { top: 22px; }


/* search */
#dashboard-search .container-search { width: 100%; padding: 10px 20px; }
#dashboard-search .container-search .group-select { float: none; width: 100%; margin-bottom: 10px; }
#dashboard-search .container-search .group-search { float: none; width: 100%; margin-left: 0; }
#dashboard-search .container-search .group-search .s-6,
#dashboard-search .container-search .group-search .s-4 { width: 100%; }
#dashboard-search .container-search .group-search .s-3 { width: 31%; }
#dashboard-search .container-search .group-search .s-1 { width: 34%; }
#dashboard-search .container-search .group-date .input-group .str-fecha { width: 80%; }
#dashboard-search .container-search .btn-buscar { /*margin: 10px 0 0;*/ }

/* banner viaje */
#carousel-main-destinations article img { max-width: 110%!important; }


/* @SECTION SUBSCRIPTION */
#dashboard-subscription .container { max-width: 640px; }

#dashboard-subscription .col-xs-2 { width: 5% }
#dashboard-subscription .col-xs-4 { width: 45%; }

#dashboard-subscription .box-envia .box-e-1 { display: none; }
#dashboard-subscription .box-envia .box-e-2 { display: none; }

#dashboard-subscription .box-envia .box-t-2 { left: 54%; }

#dashboard-subscription .subscription-content ul li.first { margin-left: 53%; }
#dashboard-subscription .subscription-content ul li a { width: 110px; }

#dashboard-subscription .subscription-header h1.title { left: 9px; }
#dashboard-subscription .subscription-header .box-step { left: 9px; }
#dashboard-subscription .subscription-header .box-icono-club { right: 9px; }

#dashboard-subscription .subscription-header .box-step-1 { left: 70px; }
#dashboard-subscription .box-envia .box-e-1 { left: 1%; }
#dashboard-subscription .box-envia .box-t-1 { left: 7%; }
#dashboard-subscription .box-envia .box-e-2 { right: 1%; }

#dashboard-subscription .subscription-footer { min-height: 750px; }
.subscription-footer a.escudo-1 { left: 1%; top: 400px; }
.subscription-footer a.escudo-2 { left: 20%; top: 460px; }
.subscription-footer a.escudo-3 { left: 40%; top: 500px; }
.subscription-footer a.escudo-4 { left: 60%; top: 460px; } 
.subscription-footer a.escudo-5 { left: 72%; top: 400px; }

#dashboard-subscription .subscription-footer .box-productos { width: 100%; margin: 0 auto; position: relative; }


#dashboard-subscription .subscription-footer .box-title { width: 400px; left: 0; right: 0; margin: 0 auto; top: 280px; }

#dashboard-subscription .subscription-content-user .user-name { width: 100%; }
#dashboard-subscription .subscription-content-user h1 { width: 220px; }
#dashboard-subscription .subscription-content-user .block-user-bienvenida .title-bienvenida { font-size: 1.5em; }
#dashboard-subscription .subscription-content-user .block-user-bienvenida { padding-top: 40px; }

#dashboard-subscription .subscription-footer .box-step-2 { margin: 0 auto; left: 0; right: 0; top: 140px; }


/* @SECTION OFERTAS -- ALERTAS */
.nav-fixed { position: inherit!important; }

#dashboard-oferta #hotel { padding: 10px 0; }
#dashboard-oferta #ubicacion { padding: 10px 0; }
#dashboard-oferta #habitacion { padding: 10px 0; }
#dashboard-oferta #informacion { padding: 10px 0; background: #f7f7f7; }
#dashboard-oferta #consultar { padding: 10px 0; }

#dashboard-oferta { margin-top: 0; }
#dashboard-oferta #header-oferta { padding: 200px 0 0; margin-bottom: 160px; }
#dashboard-oferta .oferta-picture { background-size: 200%; background-position: top center; }
#dashboard-oferta #header-oferta .main-oferta .box-icono-club { position: absolute; top: -200px; left: 20px; background: url("../img/subscription/icono-club-beneficio-sm.png") no-repeat top center; width: 37px; height: 55px; }
#dashboard-oferta #header-oferta .main-oferta .oferta-picture-caption { width: 100%; height: 430px; background: rgba(0,0,0, 1); }
#dashboard-oferta #header-oferta .main-oferta .oferta-picture-caption .content-caption { padding: 10px 20px; height: 315px; }
#dashboard-oferta #header-oferta .main-oferta .oferta-picture-caption .footer-caption { /*position: inherit; bottom: inherit;*/ }
#dashboard-oferta #header-oferta .main-oferta .oferta-picture-caption .footer-caption .col-md-4 { float: left; padding: 0 10px; }

#dashboard-oferta #header-alerta { padding: 200px 0 0; margin-bottom: 160px; }
#dashboard-oferta #header-alerta .main-oferta .box-icono-club { position: absolute; top: -200px; left: 20px; background: url("../img/subscription/icono-club-beneficio-sm.png") no-repeat top center; width: 37px; height: 55px; }
#dashboard-oferta #header-alerta .main-oferta .alerta-picture-caption { width: 100%; height: 430px; background: rgba(0,0,0, 1); }
#dashboard-oferta #header-alerta .main-oferta .alerta-picture-caption .content-caption { padding: 10px 20px; height: 315px; }
#dashboard-oferta #header-alerta .main-oferta .alerta-picture-caption .footer-caption { /*position: inherit; bottom: inherit;*/ }
#dashboard-oferta #header-alerta .main-oferta .alerta-picture-caption .footer-caption .col-md-4 { float: left; padding: 0 10px; }

.details-alerta .col-md-4 { float: left; width: 33%; }
.details-text { display: block; }
.details-dest { display: block; }
.countdown.last-60 { position: relative; }

.booking-success { width: 100%; left: 0; }

.countdown.last-60 .col-md-4 { float: left; }
.countdown.last-60 .col-md-8 { float: left; padding: 0 2px; }

#dashboard-oferta ul.nav-oferta { position: inherit;}
#dashboard-oferta .box-oferta { width: 100%; margin: 0; }
#dashboard-oferta .box-oferta .container-ofertas { width: 94%; }
#dashboard-oferta .box-oferta .c-50 { float: none; width: 100%; }

#dashboard-oferta .box-oferta #carousel-Picture { width: 100%; margin: 20px 0; }

#dashboard-oferta .box-oferta .expandable-list { width: 100%; }
#dashboard-oferta .box-oferta .list-servicios-hotel { height: 70px; }
#dashboard-oferta .box-oferta .list-servicios-hotel li { width: 33%; }
#dashboard-oferta .box-oferta .list-servicios-hotel .servicios-icon { float: none; display: block; text-align: center; }
#dashboard-oferta .box-oferta .list-servicios-hotel .servicios-title { float: none; display: block; text-align: center; width: 100%; }
#dashboard-oferta .box-oferta .box-frase .top-frase { margin: 20px auto; }
#dashboard-oferta .box-oferta .box-frase .text-frase { padding: 0 10px; }
#dashboard-oferta .box-oferta #habitacion .hab-Picture { width: 300px; height: 300px; margin: 20px auto; }

#dashboard-oferta .box-oferta .informacion-title { width: 75%; }
#dashboard-oferta .box-oferta .informacion-title-a { width: 75%; }

#dashboard-oferta .box-oferta ul.list-info { width: 90%; margin: 0 auto; }
#dashboard-oferta .box-oferta ul.list-info li { float: none; width: 100%; }

#dashboard-oferta .box-oferta .consultar-form { padding:20px 10px; }

#dashboard-oferta .box-oferta .col-xs-6 { float: none; width: 100%; }

#dashboard-oferta .box-oferta #ofertas-destacadas .list-item-dest-o,
#dashboard-oferta .box-oferta #ofertas-destacadas .list-item-dest-a { width: 290px; margin: 0 auto; }

#ofertas-destacadas ul.list-items-dest { width: 295px; margin: 20px auto; }
#ofertas-destacadas ul.list-items-dest li { margin: 0 auto 40px;}

#dashboard-oferta #banner-subscripcion { display: none; }
#dashboard-oferta ul.nav-oferta { display: none; }
#dashboard-oferta .consultar-reserva { display: none; }


.header-consultar-form span.title-form { margin: 0; line-height: 25px; float: left; /*width: 80%;*/ font-size: 1.6em; }
.header-consultar-form span.mb { display: block; clear: both; }
.header-consultar-form span { font-size: 1.6em; }

.booking-success { bottom: 120px; padding: 5px; }
.booking-success h3.title-booking { padding: 0 5px; margin: 5px 0; }

#map-canvas { height: 200px; }
.i-consulta { display: none; }

.booking-success:before,
.booking-success:after { display: none; }

/*vuelos*/
ul.list-destination li.fecha { width: 30%; }
ul.list-destination li.destinations { width: 30%; }
ul.list-destination li.duracion { width:30%; }
ul.list-destination li.aerolinea { width: 30%; }
ul.list-destination li.codigo { width: 30%; }


/*cruceros*/
#itinerario ul.list-itinerario li.fecha { width: 15%; }
#itinerario ul.list-itinerario li.arrival,
#itinerario ul.list-itinerario li.exit { width: 20%; }
#itinerario ul.list-itinerario li.itinerario { width: 25%; line-height: 20px; }
#itinerario ul.list-itinerario li.crucero { width: 15%; }


/*autos*/
ul.list-company-car li.car-date { width: 20%; }
ul.list-company-car li.car-time { width: 20%; }
ul.list-company-car li.car-city { width: 40%; }
ul.list-company-car li.car-company { width: 20%; }

#auto .col-xs-8,
#auto .col-xs-4 { float: none; width: 100%; }
#auto .col-xs-4 { text-align: center; margin: 10px auto; }



#tarifa { padding: 10px 0; }
#tarifa ul.list-tarifa li { float: none; width: 100%; }

ul.list-paquetes li { float: none; width: 100%; }

ul.list-regulacion li { float: none; width: 100%; }


} /*(min-width : 481px) and (max-width : 640px)*/

@media (min-width : 641px) and (max-width : 800px) {

/* @SECTION HOME */
#dashboard-carousel #carousel-main { background: none; }
#dashboard-carousel #carousel-main .carousel-control { top: 25%; }
#dashboard-carousel #carousel-main .box-icono-club { position: absolute; top: 0; left: inherit; right: 20px; background: url("../img/subscription/icono-club-beneficio-sm.png") no-repeat top center; width: 37px; height: 55px; }
#dashboard-carousel #carousel-main .carousel-caption { padding: 10px; position: inherit; }
#dashboard-carousel #carousel-main .carousel-caption .container { position: relative; margin: 0!important; padding: 10px; }
#dashboard-carousel #carousel-main .carousel-caption .title-hotel { width: 60%; }
#dashboard-carousel #carousel-main .carousel-caption h3 { font-size: 1.8em; width: 75%; }
#dashboard-carousel #carousel-main .title-hotel p { display: none; }
#dashboard-carousel #carousel-main .carousel-caption .btn-suscribirse { margin: 0;}
#dashboard-carousel #carousel-main article .container { padding: 10px; }
#dashboard-carousel #carousel-main .carousel-inner > .item-oferta > img { margin-left: -31%!important; max-width: 143%!important; }
#dashboard-carousel #carousel-main .carousel-caption-ofertas { background-position: -185px 0; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta { width: 345px; margin: 30px 0 0; }
#dashboard-carousel #carousel-main .carousel-caption-ofertas { padding: 20px 100px; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .container { position: inherit; bottom: inherit; padding: 0; width: 70%; overflow: inherit; margin: 0!important; }
#dashboard-carousel #carousel-main .carousel-caption-ofertas .text-oferta p { width: 55%; }


/* @SECTION SUBSCRIPTION */
#dashboard-subscription .col-xs-2 { width: 5% }
#dashboard-subscription .col-xs-4 { width: 45%; }

#dashboard-subscription .subscription-header .box-step-1 { left: 15%; }
#dashboard-subscription .box-envia .box-e-1 { left: 1%; }
#dashboard-subscription .box-envia .box-t-1 { left: 7%; }
#dashboard-subscription .box-envia .box-e-2 { right: 1%; }

#dashboard-subscription .subscription-footer { min-height: 750px; }
.subscription-footer a.escudo-1 { top: 400px; }
.subscription-footer a.escudo-2 { top: 460px; }
.subscription-footer a.escudo-3 { top: 500px; }
.subscription-footer a.escudo-4 { top: 460px; } 
.subscription-footer a.escudo-5 { top: 400px; }
.box-productos {
  left: 0;
  margin: 0 auto;
  position: relative;
  right: 0;
  width: 700px;
}

#dashboard-subscription .subscription-footer .box-title { width: 400px; left: 0; right: 0; margin: 0 auto; top: 280px; }
#dashboard-subscription .subscription-content-user .user-name { width: 100%; }
#dashboard-subscription .subscription-content-user h1 { width: 220px; }
#dashboard-subscription .subscription-content-user .block-user-bienvenida .title-bienvenida { font-size: 1.5em; }
#dashboard-subscription .subscription-content-user .block-user-bienvenida { padding-top: 40px; }

#dashboard-subscription .subscription-footer .box-step-2 { margin: 0 auto; left: 0; right: 0; }

#dashboard-subscription .box-envia .box-e-1,
#dashboard-subscription .box-envia .box-e-2 { display: none; }

/* @SECTION OFERTAS -- ALERTAS */
.nav-fixed { position: inherit!important; }

#dashboard-oferta #hotel { padding: 30px 0; }
#dashboard-oferta #ubicacion { padding: 30px 0; }
#dashboard-oferta #habitacion { padding: 30px 0; }
#dashboard-oferta #informacion { padding: 74px 0; }
#dashboard-oferta #consultar { padding: 30px 0; }

#dashboard-oferta { margin-top: 0; }
#dashboard-oferta .box-oferta { width: 100%; }
#dashboard-oferta .box-oferta .container-ofertas { width: 94%; }
#dashboard-oferta #header-oferta .main-oferta .oferta-picture-caption .footer-caption .col-md-4 { float: left; padding: 0 10px; }
#dashboard-oferta .box-oferta #carousel-Picture { width: 95%; margin: 20px 0; }

.details-alerta .col-md-4 { float: left; width: 33%; }
.details-text { display: block; }
.details-dest { display: block; }

#dashboard-oferta ul.nav-oferta { width: 100%; padding:10px 20px; }
#dashboard-oferta ul.nav-oferta li { margin: 0 50px 0 0; }
#dashboard-oferta ul.nav-oferta li.last,
#dashboard-oferta ul.nav-oferta li.last-a { margin: 0; }
#dashboard-oferta ul.nav-oferta li a { line-height: 10px; }





}/*(min-width : 641px) and (max-width : 800px)*/

@media (min-width : 768px) and (max-width : 1024px) {

/* @SECTION HEADER */
#header-main { position: inherit; }

#nav-main { height: auto; }
#nav-main #logo { margin-bottom: 0; }
#nav-main ul.nav-pills { /*clear: both;*/ }
#nav-main ul.nav-pills li { /*width: 98px!important;*/ padding-top: 0!important; }
#nav-main ul.nav-pills li a:focus,
#nav-main ul.nav-pills li a:hover { background: none; }
#nav-main ul.nav-pills li a { padding: 16px 6px; }
#nav-main ul.nav-pills li.club a.bt-club { padding: 20px 16px; }


/* @SECTION HOME */
#dashboard-carousel #carousel-main { background: none; }
#dashboard-carousel #carousel-main .carousel-control { top: 25%; }
#dashboard-carousel #carousel-main article .container { padding: 10px; }
#dashboard-carousel #carousel-main .carousel-inner > .item-oferta > img,
#dashboard-carousel #carousel-main .carousel-inner > .item-oferta > a > img { /*margin-left: -31%!important; max-width: 143%!important;*/ }
#dashboard-carousel #carousel-main .carousel-caption-ofertas { background-position: -185px 0; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .cuota-oferta { width: 345px; margin: 30px 0 0; }
#dashboard-carousel #carousel-main .carousel-caption-ofertas { padding: 20px 100px; }
#dashboard-carousel #carousel-main article .carousel-caption-ofertas .container { position: inherit; bottom: inherit; padding: 0; width: 70%; overflow: inherit; margin: 0!important; }
#dashboard-carousel #carousel-main .carousel-caption-ofertas .text-oferta p { width: 55%; }


/* @SECTION SUBSCRIPTION */
#dashboard-subscription .subscription-footer .box-title { width: 400px; left: 0; right: 0; margin: 0 auto; top: 280px; }
#dashboard-subscription .subscription-content-user .user-name { width: 100%; }
#dashboard-subscription .subscription-content-user h1 { width: 220px; }
#dashboard-subscription .subscription-content-user .block-user-bienvenida .title-bienvenida { font-size: 1.5em; }
#dashboard-subscription .subscription-content-user .block-user-bienvenida { padding-top: 40px; }
#dashboard-subscription .subscription-content-user .user-figure { width: 60%; }

#dashboard-subscription .subscription-footer { min-height: 750px; }
.subscription-footer a.escudo-1 { top: 400px; }
.subscription-footer a.escudo-2 { top: 460px; }
.subscription-footer a.escudo-3 { top: 500px; }
.subscription-footer a.escudo-4 { top: 460px; } 
.subscription-footer a.escudo-5 { top: 400px; }

.box-productos {
  left: 0;
  margin: 0 auto;
  position: relative;
  right: 0;
  width: 700px;
}
#dashboard-subscription .subscription-footer .box-step-2 { margin: 0 auto; left: 0; right: 0; top: 140px; }
#dashboard-subscription .subscription-content ul li a { width: 140px; }


/* @SECTION OFERTAS -- ALERTAS */
.nav-fixed { position: inherit!important; }

#dashboard-oferta #hotel { padding: 30px 0; }
#dashboard-oferta #ubicacion { padding: 30px 0; }
#dashboard-oferta #habitacion { padding: 30px 0; }
#dashboard-oferta #informacion { padding: 74px 0; }
#dashboard-oferta #consultar { padding: 30px 0; }


#dashboard-oferta { margin-top: 0; }
#dashboard-oferta .box-oferta { width: 100%; }
#dashboard-oferta .box-oferta .container-ofertas { width: 94%; }
#dashboard-oferta #header-oferta .main-oferta .oferta-picture-caption .footer-caption .col-md-4 { float: left; padding: 0 10px; }
#dashboard-oferta .box-oferta #carousel-Picture { width: 95%; margin: 20px 0; }

.footer-caption .col-md-4 { float: left; width: 33%; }

.details-alerta .col-md-4 { float: left; width: 33%; }
.details-text { display: block; }
.details-dest { display: block; }

#dashboard-oferta ul.nav-oferta { width: 100%; padding:10px 20px; }
#dashboard-oferta ul.nav-oferta li { margin: 0 50px 0 0; }
#dashboard-oferta ul.nav-oferta li.last,
#dashboard-oferta ul.nav-oferta li.last-a { margin: 0; }
#dashboard-oferta ul.nav-oferta li a { line-height: 10px; }

#banner-subscripcion .main-subscription .container-s .box-textos-club h1.title { font-size: 2.4em; }


}/*(min-width : 768px) and (max-width : 1024px)*/
