﻿body {
}

#calificaciones{

}
#trip-advisor {
    min-height: 200px;
    max-height:650px;
    overflow: auto;
    padding:10px 0;
    margin: 0;
}

    #trip-advisor li {
        list-style-type: none;
        display: inline-block;
        padding-bottom:20px;
    }


    #trip-advisor .username {
        height: 100%;
        overflow: hidden;
        clear: both;
    }

    #trip-advisor .location {
        font-size: 11px;
        color: #2c2c2c;
        word-wrap: break-word;
        font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
    }

    #trip-advisor div.avatar {
        padding: 3px;
        border: 2px solid #ededed;
        border-radius: 100%;
        float: left;
    }
    #trip-advisor .memberinfo{
        padding-top:15px;
    }
    #trip-advisor .memberinfo .reviewerBadge{
       margin: 0 0 3px;
    }

    #trip-advisor .memberinfo .badgeText {
        display: inline-block;
        width: 110px;
        vertical-align: middle;
    }

    #trip-advisor img.avatar {
        padding: 0;
        border: none;
        border-radius: 100%;
    }

    #trip-advisor .col2 {
        margin-left: -20px;
        height: 100%;
        overflow: visible;
        border: 4px solid #f1f1f1;
        border-radius: 4px;
        padding-right: 0px;
        padding-left: 0px;
    }

    #trip-advisor .rating {
        display: inline-block;
        padding-bottom:10px;
    }


    #trip-advisor .comment {
        border: 1px solid #e3e3e3;
        color: #4a4a4a;
        padding:0 20px;
        margin: 0;
        /*position: relative;*/
    }

        #trip-advisor .comment .ratingDate {
            font-size: .75em;
            font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
        }

        #trip-advisor .comment .mobile {
            display: inline-block;
            width: auto;
            height: 16px;
            font-size: .75em;
            text-decoration: none;
            color: #656565;
            background-repeat: no-repeat;
        }

        #trip-advisor .comment:after {
            display: block;
            position: absolute;
            top: 25px;
            left: -14px;
            width: 0;
            border-style: solid;
            border-color: #fff;
            border-color: rgba(255,255,255,0) #fff;
            border-width: 13px 15px 13px 0;
            content: "";
        }

        #trip-advisor .comment:before {
            display: block;
            position: absolute;
            top: 25px;
            left: -15px;
            width: 0;
            border-style: solid;
            border-color: transparent #E3E3E3;
            border-color: rgba(255,255,255,0) #e3e3e3;
            border-width: 13px 15px 13px 0;
            content: "";
        }

    #trip-advisor .rating {
        display: inline-block;
        position: relative;
    }

    #trip-advisor h1 {
        font: italic normal 1.5em Georgia,"Times New Roman","Century Schoolbook L",serif;
        padding-bottom: 1px;
        text-decoration: none;
        color: #069;
    }
