
.responsiveMenu {
    display: none;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
    outline:none;
    text-decoration:none;
}

.padding_null {
    padding: 0;
}

.nav_main {
    height:100px;
}
.logo {
    float:left;
    margin:20px 0;
}
.nav_pills {
    float:right;
}
.nav_pills li {
    text-align:center;
    float: left;
}
.nav_pills li a {
    display:block;
    color:#555656 !important;
    padding:22px 15px;
}
.nav_pills li a:hover {
    background:transparent;
    color:#ff831d !important;
}
.nav_pills li a:hover .icon_nav {
    background-position:0 -33px;
}
.nav_pills li a:focus {
    background:transparent;
}
.nav_pills li.active>a,
.nav_pills li.active>a:hover,
.nav_pills li.active>a:focus {
    background-color:#fff;
    color:#f1822c !important;
}
.nav_pills li.active>a .icon_nav {
    background-position:0 -33px;
}

.icon_nav {
    background-position:0px 0px;
    background-repeat:no-repeat;
    display:block;
    height:33px;
    width:45px;
    margin:0 auto;
    line-height:28px;
    vertical-align:text-bottom;
}
.icon_ofertas { background-image:url("./images/ico-ofertas.png"); }
.icon_autos { background-image:url("./images/ico-auto.png"); }
.icon_hoteles { background-image:url("./images/ico-hoteles.png"); }
.icon_vuelos { background-image:url("./images/ico-vuelos.png"); }
.icon_paquetes { background-image:url("./images/ico-paquetes.png"); }
.icon_tours { background-image:url("./images/ico-tours.png"); }
.icon_assitcard { background-image:url("./images/ico-assitcard-countries.png"); }
.icon_club {
    background-image:url("./images/ico-club.png");
    background-position:0px 0px;
    background-repeat:no-repeat;
    display:block; height:46px; width:74px;
    line-height:28px;
    vertical-align:text-bottom;
}

.icon_callcenter {
    background-image:url("./images/callcenter_gris.png");
    background-position:0px 0px;
    background-repeat:no-repeat;
    display:inline-block;
    height:26px;
    width:30px;
    vertical-align:text-bottom;
    margin-right:10px;
}

.header_main {
    background:#fff;
    width:100%;
    z-index:1001;
    top:0;
    border-top:10px #fff solid;
}

@media ( min-width :320px) and (max-width:480px) {

	.header_main {
		position: inherit; }
	.menu {
		display: none;
	}

	.logo {
		float: left !important;
		margin: 5px !important;
		text-align: center;
		width: 75%;}
	.logo img {
		width: 90%;}
	.nav_main {
		height: 50px;
		display: inline-block;
	}
	.sidr-inner li {
		list-style: none;
		overflow: hidden;
		display: block;
		width: 100%
	}
	.sidr-inner li a {
		border-bottom: 1px #e7e7e7 solid;
		display: block;
		color: #555656
	}
	.sidr-inner li a span {
		float: left;
		line-height: 44px;
		margin-left: 20px;
		text-transform: uppercase
	}
	.sidr-inner li a:hover {
		color: #d02e10 !important
	}
	.sidr-inner li a:hover .sidr-class-icon-nav {
		background-position: 0 -33px
	}

	.sidr-inner li.sidr-class-autos,
	.sidr-inner li.sidr-class-tours {
		display: none;
	}

	.margin-top-head {
		margin: 0
	}


}

@media ( min-width :481px) and (max-width:640px) {

    .header_main {
		position: inherit; }
	.menu {
		display: none;
	}

	.logo {
		float: left !important;
		margin: 5px !important;
		text-align: center;
		width: 75%;}
	.logo img {
		width: 90%;}
	.nav_main {
		height: 50px;
		display: inline-block;
	}
	.sidr-inner li {
		list-style: none;
		overflow: hidden;
		display: block;
		width: 100%
	}
	.sidr-inner li a {
		border-bottom: 1px #e7e7e7 solid;
		display: block;
		color: #555656
	}
	.sidr-inner li a span {
		float: left;
		line-height: 44px;
		margin-left: 20px;
		text-transform: uppercase
	}
	.sidr-inner li a:hover {
		color: #d02e10 !important
	}
	.sidr-inner li a:hover .sidr-class-icon-nav {
		background-position: 0 -33px
	}

	.sidr-inner li.sidr-class-autos,
	.sidr-inner li.sidr-class-tours {
		display: none;
	}

	.margin-top-head {
		margin: 0
	}

}

@media ( min-width :641px) and (max-width:800px) {

}

@media ( min-width :768px) and (max-width:1024px) {

}
