
.responsiveMenu {
    display: none;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
    outline:none;
    text-decoration:none;
}

.padding_null {
    padding: 0;
}

.logo {
    float:left;
    margin:20px 0;
}
.nav_main {
    height:100px;
}
.nav_pills {
    float:right;
}
.nav_pills li {
    text-align:center;
    float: left;
}
.nav_pills li a {
    display:block;
    color:#555656 !important;
    padding:22px 15px;
}
.nav_pills li a:hover {
    background:transparent;
    color:#d02e10 !important;
}
.nav_pills li a:hover .icon_nav {
    background-position:0 -33px;
}
.nav_pills li a:focus {
    background:transparent;
}
.nav_pills li.active>a,
.nav_pills li.active>a:hover,
.nav_pills li.active>a:focus {
    background-color:#fff;
    color:#f1822c !important;
}
.nav_pills li.active>a .icon_nav {
    background-position:0 -33px;
}
.nav_pills li.club {
    display:none;
}
.icon_nav {
    background-position:0px 0px;
    background-repeat:no-repeat;
    display:block;
    height:33px;
    width:45px;
    margin:0 auto;
    line-height:28px;
    vertical-align:text-bottom;
}
.icon_ofertas { background-image:url("./images/ico-ofertas-countries.png"); }
.icon_autos { background-image:url("./images/ico-auto-countries.png"); }
.icon_hoteles { background-image:url("./images/ico-hoteles-countries.png"); }
.icon_vuelos { background-image:url("./images/ico-vuelos-countries.png"); }
.icon_paquetes { background-image:url("./images/ico-paquetes-countries.png"); }
.icon_tours { background-image:url("./images/ico-tours-countries.png"); }
.icon_assitcard { background-image:url("./images/ico-assitcard-countries.png"); }
.icon_club {
    background-image:url("./images/ico-club.png");
    background-position:0px 0px;
    background-repeat:no-repeat;
    display:block; height:46px; width:74px;
    line-height:28px;
    vertical-align:text-bottom;
}

.icon_callcenter {
    background-image:url("./images/callcenter_blanco.png");
    background-position:0px 0px;
    background-repeat:no-repeat;
    display:inline-block;
    height:26px;
    width:30px;
    vertical-align:text-bottom;
    margin-right:10px;
}

.header_main {
    background:#fff;
    /*position:fixed;*/
    width:100%;
    z-index:1001;
    top:0;
    border-top:10px #000 solid;
}

/*
* === RESPONSIVE SECTIONS HEADER / FOOTER ===
* @claroviajes 2015
*/

@media (min-width : 320px) and (max-width : 480px) {

    /* @SECTION HEADER */
    .menu {
        display: none;
    }

    .responsiveMenu {
        display: block;
        width: 40%;
        position: absolute;
        z-index: 9999;
    }

    .responsiveMenu button {
        position: relative;
        float: left;
        border: 1px solid #ddd;
        margin: 8px 15px 0 0;
        width: 100%;
        padding: 9px 10px;
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .responsiveMenu button:hover {
        background-color: #ddd;
    }

    .responsiveMenu button .bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: #888;
    }

    .responsiveMenu button .bar +.bar {
        margin-top: 4px;
    }

    .responsiveMenu ul {
        list-style: none;
        height: 100vh;
        background-color: #ddd;
        float: left;
        width: 0%;
        /*transition: all 1s;*/
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        padding: 0;
    }

    .responsiveMenu ul li {
        display: none;
        border-bottom: 1px #000 solid;

    }

    .responsiveMenu ul li a {
        cursor: pointer;
        color: #000;
        background: #f6f6f6;
        -webkit-transition: background .2s ease-in-out;
        -o-transition: background .2s ease-in-out;
        transition: background .2s ease-in-out;
        width: 100%;
        padding: 5px;
        display: block;
    }

    .responsiveMenu ul li a:hover {
        color: #fff;
        background: #d02e10;
    }

    .responsiveMenu ul.show {
        width: 100%;
    }

    .responsiveMenu ul.show li {
        display: block;
        white-space: nowrap;
    }

    .caption_user {
        display: none;
    }

    .header_main {
        position: inherit;
    }

    .logo {
        float: right!important;
        margin: 5px!important;
        text-align: center;
        width: 75%;
    }
    .logo img {
        width: 70%;
    }

    .nav_main {
        height: auto;
    }
    .icon_nav {
    display: none;
    }

} /*(min-width : 481px) and (max-width : 640px)*/

@media (min-width : 641px) and (max-width : 800px) {

    /* @SECTION HEADER */
    .menu {
        display: none;
    }

    .responsiveMenu {
        display: block;
        width: 20%;
        position: absolute;
        z-index: 99;
    }

    .responsiveMenu button {
        position: relative;
        float: left;
        border: 1px solid #ddd;
        margin: 8px 15px 0 0;
        width: 100%;
        padding: 9px 10px;
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .responsiveMenu button:hover {
        background-color: #ddd;
    }

    .responsiveMenu button .bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: #888;
    }

    .responsiveMenu button .bar +.bar {
        margin-top: 4px;
    }

    .responsiveMenu ul {
        list-style: none;
        height: 100vh;
        background-color: #ddd;
        float: left;
        width: 0%;
        /*transition: all 1s;*/
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        padding: 0;
    }

    .responsiveMenu ul li {
        display: none;
    }

    .responsiveMenu ul li a {
        cursor: pointer;
        color: #000;
        background-color: #fff;
    }

    .responsiveMenu ul li a:hover {
        color: #333;
    }

    .responsiveMenu ul.show {
        padding: 12px;
        width: 100%;
    }

    .responsiveMenu ul.show li {
        display: block;
        white-space: nowrap;
    }

    .caption_user {
        display: none;
    }

    .header_main {
        position: inherit;
    }

    .logo {
        float: right!important;
        margin: 5px!important;
        text-align: center;
        width: 75%;
    }
    .logo img {
        width: 70%;
    }

    .nav_main {
        height: auto;
    }

}/*(min-width : 641px) and (max-width : 800px)*/

@media (min-width : 768px) and (max-width : 1024px) {

    /* @SECTION HEADER */
    .header_main {
        position: inherit;
    }
    .container {
        padding: 0;
    }
    .nav_main {
        height: auto;
    }
    .logo {
        margin-bottom: 0;
    }
    .nav_pills li {
        padding-top: 0!important;
    }
    .nav_pills li a {
        padding: 16px 6px;
    }
    .nav_pills li a:focus,
    .nav_pills li a:hover {
        background: none;
    }

}/*(min-width : 768px) and (max-width : 1024px)*/
