.wrapper {
  font-family: 'din_alternate_lightregular';
  font-size: 1.7em;
  margin: 0;
  padding: 0 0 10px 0;
  color: #868686;
  border-bottom: 1px #d9d9d9 solid;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
}
