.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list li {
  float: left;
  width: 30%;
  color: #868686;
  margin: 0 0 10px 0;
}

.title {
  font-size: 0.9em;
  float: left;
  width: 65%;
  line-height: 11px;
  margin: 10px 0 0 3px;
}

.sprite {
    background-image: url("./images/sprite.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
}

.admiten_mascotas {
    width: 41px;
    height: 40px;
    background-position: -5px -5px;
}

.alimentos_incluidos {
    width: 41px;
    height: 41px;
    background-position: -56px -5px;
}

.area_discapacitados {
    width: 41px;
    height: 41px;
    background-position: -107px -5px;
}

.ascensor {
    width: 40px;
    height: 41px;
    background-position: -158px -5px;
}

.bar {
    width: 41px;
    height: 40px;
    background-position: -5px -56px;
}

.casino {
    width: 40px;
    height: 41px;
    background-position: -56px -56px;
}

.estacionamiento_gratuito {
    width: 41px;
    height: 40px;
    background-position: -106px -56px;
}

.estacionamiento_pago {
    width: 41px;
    height: 41px;
    background-position: -157px -56px;
}

.gimnasio {
    width: 40px;
    height: 41px;
    background-position: -5px -107px;
}

.golf {
    width: 40px;
    height: 40px;
    background-position: -55px -107px;
}

.internet {
    width: 40px;
    height: 41px;
    background-position: -105px -107px;
}

.jardin {
    width: 41px;
    height: 40px;
    background-position: -155px -107px;
}

.pesca {
    width: 40px;
    height: 41px;
    background-position: -55px -157px;
}

.prohibido_fumar {
    width: 41px;
    height: 41px;
    background-position: -155px -157px;
}

.recepcion_24hs {
    width: 41px;
    height: 41px;
    background-position: -208px -5px;
}

.restaurante {
    width: 40px;
    height: 41px;
    background-position: -208px -56px;
}

.sala_reuniones {
    width: 41px;
    height: 41px;
    background-position: -206px -107px;
}

.sauna {
    width: 40px;
    height: 41px;
    background-position: -5px -158px;
}

.servicios_nin_era {
    width: 41px;
    height: 40px;
    background-position: -206px -158px;
}

.solarium {
    width: 40px;
    height: 40px;
    background-position: -105px -158px;
}

.tennis {
    width: 41px;
    height: 40px;
    background-position: -55px -208px;
}

.translado_aeropuerto {
    width: 41px;
    height: 40px;
    background-position: -106px -208px;
}
