
<table width="100%" cellspacing="0" cellpadding="0" bgcolor="#e9eaec">
<tr>
<td align="center" style="padding:10px;">

    <table width="100%" cellspacing="0" cellpadding="0"><!-- version online -->
    <tr>
    <td align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#555555; padding:10px 0;">Si no ves bien este mensaje, pod&eacute;s verlo <a href="" target="_blank" style="color:#555555;">online aqu&iacute;</a></td>
    </tr>
    </table>

    <table cellspacing="0" cellpadding="0" style="max-width:602px; margin:0 auto;"><!-- contenedor mail start -->
    <tr>
    <td bgcolor="#cdcdcd" height="1" colspan="3"><img src="img/trans.png" alt="claroviajes" width="1" height="1" style="display:block;" border="0" /></td>
    </tr>
    <tr>
    <td bgcolor="#cdcdcd" width="1"><img src="img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
    <td valign="top" style="max-width:600px;" bgcolor="#FFFFFF">

    <table width="100%" cellspacing="0" cellpadding="0"><!-- header start -->
    <tr>
    <td valign="top">
        <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
        <td align="left" width="50%"><img src="img/claroviajes.jpg" alt="claroviajes" /></td>
        <td align="right" width="50%" valign="middle">

            <table cellpadding="0" cellspacing="0">
            <tr>
            <td><img src="img/icono-0800.jpg" alt="claro viajes" /></td>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:24px; color:#364353; padding:0 10px 0 5px">8001220520</td>
            </tr>
            </table>

        </td>
        </tr>
        </table>
    </td>
    </tr>
    </table><!-- header end -->

    <table width="100%" cellspacing="0" cellpadding="0"><!-- top start -->
    <tr>
    <td align="center"><a href="http://claroideas.com/content/claroideas/claromasideas/promociones.html#b1186167723" target="_blank"><img src="img/top.jpg" width="600" height="242" alt="claro viajes" style="display:block;" border="0" /></a></td>
    </tr>
    </table><!-- top end -->
        
        
    <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#13bb46"><!-- top-ganador start -->
    <tr>
        <td valign="bottom" align="center" height="50">
            <img src="img/corona.png" width="136" height="31" alt="claroviajes" style="display:block;" />
        </td>
    </tr>
    <tr>
        <td valign="top" align="center">
            <table width="260" cellspacing="0" cellpadding="0">
            <tr>
            <td align="right"><img src="img/dest-left.png" alt="claroviajes" width="38" height="39" style="display:block;" border="0" /></td>
            <td width="80%" height="39" valign="center" align="center" bgcolor="#FFFFFF" style="font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#11a43d;">FELICIDADES</td>
            <td align="left"><img src="img/dest-right.png" alt="claroviajes" width="38" height="39" style="display:block;" border="0" /></td>
            </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top" align="center" height="50">
            <img src="img/corona-bottom.png" width="73" height="14" alt="claroviajes" style="display:block;" />
        </td>
    </tr>
    <tr>
        <td valign="middle" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#ffffff; padding:0 20px 30px;"><font style="font-weight:bold;">Hector Arnaldo Alonzo Ruiz, titular de l&iacute;nea 443246929</font>, haz ganado un viaje a Roma para ver el partido de tus sue&ntilde;os&#33;</td>
    </tr>
    <tr>
        <td bgcolor="#11a43d" valign="middle" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#ffffff; padding:10px 20px;">3500 Pts.</td>
    </tr>
    </table><!-- top-ganador end -->
        


    <table width="100%" cellpadding="0" cellspacing="0" style="padding:40px 0;">
    <tr>
    <td width="50%" align="center" valign="top">

        <table width="90%" cellpadding="0" cellspacing="0">
        <tr>
        <td valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:20px; font-weight:bold; color:#555555; padding:3px 0;">Viaje a Roma</td>
        </tr>
        <tr>
        <td valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#e31d1a; padding:5px 0;">
        8 d&iacute;as / 7 noches</td>
        </tr>
        <tr>
        <td bgcolor="#f2f2f2" width="1"><img src="img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
        </tr>
        <tr>
        <td valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#8f8f8f; padding:5px 0;">
        Salida: Marzo a Diciembre 2015.</td>
        </tr>
        <tr>
        <td height="10"><img src="img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
        </tr>
        <tr>
        <td valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#8f8f8f; padding:5px 0;">
        INCLUYE<br>
        A&eacute;reos + Traslados + Grand Palladium <br>
        Imbassai 5* All Inclusive + Asistencia <br>
        al viajero<br>
        Entradas a "El partido de tus sue&ntilde;os"</td>
        </tr>
        <tr>
        <td height="10"><img src="img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
        </tr>
        </table>
    </td>
    <td width="50%" align="center" valign="top">
        <img src="img/foto.jpg" alt="claroviajes" style="display:block;" border="0" />
    </td>
    </tr>
    </table>




    <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5">
    <tr>
    <td valign="top" align="center">

        <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
        <td align="right"><img src="img/dest-left-rojo.png" alt="claro viajes" width="38" height="39" style="display:block;" border="0" /></td>
        <td width="80%" height="39" valign="center" align="center" bgcolor="#ff0601" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff;">&iquest;COMO LO RETIRAS?</td>
        <td align="left"><img src="img/dest-right-rojo.png" alt="claro viajes" width="38" height="39" style="display:block;" border="0" /></td>
        </tr>
        </table>

    </td>
    </tr>
    <tr>
    <td valign="middle" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#2a2a2a; text-transform:uppercase; padding:20px 0;">Respondiendo este mismo mail con lo siguiente:</td>
    </tr>
    <tr>
    <td align="center" bgcolor="#ffffff">

            <table width="450" cellpadding="0" cellspacing="0" align="center">
            <tr>
            <td height="20" colspan="2"><img src="img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
            </tr>
            <tr>
            <td valign="middle" align="left" width="80"><img src="img/credencial.png" width="72" height="70" alt="Credencial" /></td>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#555555;"><font style="color:#e30f03;">1.</font> "CURP" o Credencial Electoral escaneada</td>
            </tr>
            <tr>
            <td height="10" colspan="2"><img src="img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
            </tr>
            <tr>
            <td valign="middle" align="left" width="80"><img src="img/factura.png" width="72" height="70" alt="Credencial" /></td>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#555555;"><font style="color:#e30f03;">2.</font> La &uacute;ltima factura paga de Telcel</td>
            </tr>
            <tr>
            <td height="10" colspan="2"><img src="img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
            </tr>
            <tr>
            <td valign="middle" align="left" width="80"><img src="img/domicilio.png" width="72" height="70" alt="Credencial" /></td>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#555555;"><font style="color:#e30f03;">3.</font> Domicilio completo para env&iacute;o</td>
            </tr>
            <tr>
            <td height="20" colspan="2"><img src="img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
            </tr>
            </table>

    </td>
    </tr>
    <tr>
    <td height="20"><img src="img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
    </tr>
        <tr>
    <td valign="middle" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#2a2a2a; padding:10px 0;">Una vez recibida la documentaci&oacute;n solicitada te enviaremos los vouchers.</td>
    </tr>
    </table><!-- bancos end -->




    <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#f9f9f9"><!-- footer start -->
    <tr>
    <td bgcolor="#2a2a2a" height="40" style="padding-right:10px">

            <table cellspacing="0" cellpadding="0" align="right">
            <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#ffffff;" >Seguinos
            <td width="30" align="center"><a href="https://twitter.com/claroviajesar" target="_blank"><img src="img/twitter.png" width="27" height="23" alt="Twitter" /></a></td>
            <td width="30" align="center"><a href="https://www.facebook.com/Claroviajes.Argentina" target="_blank"><img src="img/facebook.png" width="27" height="23" alt="Facebook" /></a></td>
            </tr>
            </table>


    </td>
    </tr>
    <tr>
    <td height="20"><img src="img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
    </tr>
    <tr>
    <td valign="top">
        <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
        <td align="center" width="60%">
            <table width="90%" cellspacing="0" cellpadding="0" >
            <tr>
            <td style="padding:0 0 10px;"><img src="img/claroviajes-footer.jpg" alt="claro viajes" /></td>
            </tr>
            <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#333333; line-height:15px;" >&copy;2014 Claroviajes / <a href="http://www.claroviajes.com/web/files/terminos.pdf" title="Terminos y Condiciones" target="_blank" style="color:#333333; text-decoration:none;">T&eacute;rminos y Condiciones</a> /
            <a href="http://www.claroviajes.com/web/documentos/politicas" title="Aviso de privacidad" target="_blank" style="color:#333333; text-decoration:none;">Aviso de Privacidad</a><br />
            <a href="http://www.claroviajes.com" target="_blank" style="font-size:16px; color:#ff1224; text-decoration:none;" title="claroviajes.com.ar">www.claroviajes.com</a></td>
            </tr>
            </table>
        </td>
        <td align="right" width="40%" style="padding-right:10px">
            <table cellpadding="0" cellspacing="0">
            <tr>
            <td align="right" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#555555; padding:0 10px;">
            <font style="font-size:16px; font-weight:bold;">8001220520</font> <br>
            lun-vie: 8:00 a 20:00 hs.</td>
            <td><img src="img/claro.png" alt="claro" /></td>
            </tr>
            </table>
        </td>
        </tr>
        </table>
    </td>
    </tr>
    <tr>
    <td height="20"><img src="img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
    </tr>
    </table><!-- footer end -->

    </td>
    <td bgcolor="#cdcdcd" width="1"><img src="img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
    </tr>
    <tr>
    <td bgcolor="#cdcdcd" height="1" colspan="3"><img src="img/trans.png" alt="claro viajes" width="1" height="1" style="display:block;" border="0" /></td>
    </tr>
    </table><!-- contenedor mail end -->


</td>
</tr>
</table>
