#dashboard-oferta { margin-top: 143px; font-family: 'din_alternateregular'; }
#dashboard-oferta .container { max-width: 1024px; }

#dashboard-oferta #header-oferta { height: 473px; margin-bottom: 15px; }
#dashboard-oferta #header-alerta { height: 473px; margin-bottom: 15px; }
#dashboard-oferta .oferta-picture {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#dashboard-oferta .main-oferta { position: relative; }
#dashboard-oferta #header-oferta .main-oferta .box-icono-club {
  position: absolute;
  top: 0;
  left: 0;
  /*background: url("../img/subscription/icono-club-beneficio.png") no-repeat top center;*/
  width: 83px;
  height: 147px;
}
#dashboard-oferta #header-oferta .main-oferta .oferta-picture-caption {
  position: absolute;
  width: 360px;
  height: 473px;
  top: 0;
  right: 0;
  background: rgba(0,0,0, 0.6);
}
#dashboard-oferta #header-oferta .main-oferta .oferta-picture-caption .content-caption { padding: 50px 20px 0; text-align: center; }
#dashboard-oferta #header-oferta .main-oferta .oferta-picture-caption .content-caption h1.title { color: #fff; font-family: 'din_alternate_lightregular'; font-size: 2em; }
#dashboard-oferta #header-oferta .main-oferta .oferta-picture-caption .content-caption h1.title span { font-family: 'din_alternate_mediumregular';  }
#dashboard-oferta #header-oferta .main-oferta .oferta-picture-caption .content-caption p { color: #fff; font-size: 1.2em; margin: 0; }
#dashboard-oferta #header-oferta .main-oferta .oferta-picture-caption .content-caption .linea-top span {
  margin: 12px 0 0;
  width: 40%;
  border-top: 1px #9296a0 solid;
  display: inline-block;
}
#dashboard-oferta #header-oferta .main-oferta .oferta-picture-caption .footer-caption { position: absolute; bottom: 0; padding: 20px 0 0; width: 100%; background: rgba(0,0,0, 0.8); height: 60px; }

#dashboard-oferta #header-oferta .main-oferta .oferta-picture-caption .footer-caption .col-md-4 { padding: 0 10px; }


#dashboard-oferta #header-alerta .main-oferta .box-icono-club {
  position: absolute;
  top: 0;
  left: 0;
  /*background: url("../img/subscription/icono-club-beneficio.png") no-repeat top center;*/
  width: 83px;
  height: 147px;
}
#dashboard-oferta #header-alerta .main-oferta .alerta-picture-caption {
  position: absolute;
  width: 360px;
  height: 473px;
  top: 0;
  right: 0;
  background: rgba(0,0,0, 0.6);
}
#dashboard-oferta #header-alerta .main-oferta .alerta-picture-caption .content-caption { padding: 50px 20px 0; text-align: center; }
#dashboard-oferta #header-alerta .main-oferta .alerta-picture-caption .content-caption h1.title { color: #fff; font-family: 'din_alternate_lightregular'; font-size: 2em; }
#dashboard-oferta #header-alerta .main-oferta .alerta-picture-caption .content-caption h1.title span { font-family: 'din_alternate_mediumregular';  }
#dashboard-oferta #header-alerta .main-oferta .alerta-picture-caption .content-caption p { color: #fff; font-size: 1.2em; margin: 0; }
#dashboard-oferta #header-alerta .main-oferta .alerta-picture-caption .content-caption .linea-top span {
  margin: 12px 0 0;
  width: 40%;
  border-top: 1px #9296a0 solid;
  display: inline-block;
}
#dashboard-oferta #header-alerta .main-oferta .alerta-picture-caption .footer-caption { position: absolute; bottom: 0; padding: 20px 0 0; width: 100%; background: rgba(0,0,0, 0.8); height: 60px; }

#dashboard-oferta #header-alerta .main-oferta .alerta-picture-caption .footer-caption .col-md-4 { padding: 0 10px; }



.box-descuento-a { margin: 0 0 40px; }
.box-descuento-a span { display: inline-block; color: #fff; text-transform: uppercase; font-size: 1.1em; }
.box-descuento-a span.percent { color: #ff7b1c; font-family: 'din_alternatebold'; font-size: 4em; position: relative; top: 10px; line-height: 70px; }

.box-price-a { margin: 0px; }
.box-price-a span { display: inline-block; color: #fff; text-transform: uppercase; font-size: 1.1em; }
.box-price-a span.price { color: #ff7b1c; font-family: 'din_alternatebold'; font-size: 3em; position: relative; top: 5px; line-height: 70px; }
.box-price-a span.price-night { display: block; text-align: center; color: #A4A2A0; font-size: 1em; margin: 0 0 5px; text-transform: inherit; }

.details-alerta { color: #fff; margin: 10px 0 0; }
.details-alerta .col-md-4 { padding: 0 3px; line-height: 18px; }
.details-alerta .details-text { text-transform: uppercase; font-size:0.9em;  }
.details-alerta .details-dest {  font-family: 'din_alternate_mediumregular'; font-size: 1.5em;  }
.details-alerta .details-dest.old-price { text-decoration: line-through;  }


/**/
.booking-success {
  background-color: #ff7b1c;
  height: 190px;
  width: 393px;
  margin: 10px auto;
  position: relative;
  text-align: center;
  left: -16px;
  /*bottom: 175px;*/
  bottom: 50px;
  padding: 15px 10px;
  z-index: 1000;
}
.booking-success h3.title-booking {
  color: #fff;
  font-size: 1.4em;
  font-family: 'din_alternateregular';
  text-transform: uppercase;
  margin: 10px 0;
  padding: 0 40px;
}
.booking-success p { color: #fff; font-size: 1em; margin: 0; }
.booking-success p span { font-family: 'din_alternatebold'; }
.booking-success p.success { color: #000; text-transform: uppercase; font-size: 1.6em; margin: 10px 0; }

.booking-success:before{
  width: 16px;
  height: 12px;
  content: " ";
  /*background-image: url("./images/left-solapa.png");*/
  position: absolute;
  left: 0px;
  top: -12px;
}
.booking-success:after{
  width: 16px;
  height: 12px;
  content: " ";
  /*background-image: url("./images/right-solapa.png");*/
  position: absolute;
  right: 0px;
  top: -12px;
}


/* countdown */
.countdown { text-align: center; margin: 10px 0 0; padding: 10px 0 0; border-top: 1px #fff solid; }
.countdown span { color: #fff; font-size: 1.5em; /*float: left;*/ }
.countdown.last-60 { position: absolute; bottom: 0; width: 100%; background: rgba(0,0,0, 0.8); height: 80px; }
.countdown.last-60 .t-1 { font-size: 1em; font-family: 'din_alternate_mediumregular';  text-transform: uppercase; margin: 5px 0 0; display: block; }
.countdown.last-60 .t-2 { font-size: 0.9em; text-transform: uppercase; }
.countdown.last-60 .t-last-clock { color: #ff7b1c; font-size: 4em; line-height: 40px;}

.visto-num-o { color: #1d96ab; font-family: 'din_alternate_mediumregular'; font-size: 1.2em; float: right; }
.visto-num-a { color: #ff7b1c; font-family: 'din_alternate_mediumregular'; font-size: 1.2em; float: right; }

ul.nav-oferta {
  padding:0 50px;
  margin: 0 auto;
  list-style: none;
  background:#f1f1f1;
  position:absolute;
  z-index: 1002;
  overflow: hidden;
  width: 1024px;
  left: 0;
  right: 0;
  border: 1px #e1e1e1 solid;
  border-bottom:none;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}
ul.nav-oferta li { float: left; text-align: left; margin: 0 63px 0 0; /*margin: 0 104px 0 0;*/ }
ul.nav-oferta li a {
  color: #bcbcbc;
  font-size: 1.1em;
  line-height: 40px;
  text-transform: uppercase;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
  text-decoration: none;
}
ul.nav-oferta li a:hover,
ul.nav-oferta li a.active { color: #868686; }

ul.nav-oferta li.last,
ul.nav-oferta li.last-a { margin: 0; }
ul.nav-oferta li.last a,
ul.nav-oferta li.last a:hover,
ul.nav-oferta li.last a.active { color: #1d96ab; }

ul.nav-oferta li.last-a a,
ul.nav-oferta li.last-a a:hover,
ul.nav-oferta li.last-a a.active { color: #ff7b1c; }

.nav-fixed {
  position:fixed!important;
  top:103px!important;
  border: none!important;
  border-radius: 0px!important;
}


.box-oferta {
  background: #fff;
  border: 1px #e1e1e1 solid;
  border-top:none;
  -webkit-border-radius:0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  width: 1024px;
  margin: 40px auto;
}


.container-ofertas { width: 924px; margin: 0 auto; }
.c-50 { width: 50%; float: left; }


/* section#ubicacion */
#ubicacion { padding: 30px 0; background: #f7f7f7; /*margin: 20px 0 0;*/ }
#ubicacion p { color: #868686; font-size: 1em; }


.expandable-u { position: relative; }
.expandable-u .expandable-content-u { height: 90px; overflow: hidden; }
.expandable-u .expandable-content-overflow-u {
  height: auto!important;
}
.expandable-u .expandable-indicator-u {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(247,247,247,0);
  background: -moz-linear-gradient(top, rgba(247,247,247,0) 0%, rgba(247,247,247,0.7) 30%, rgba(247,247,247,0.7) 60%, #f7f7f7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(247,247,247,0)), color-stop(30%, rgba(247,247,247,0.7)), color-stop(60%, rgba(247,247,247,0.7)), color-stop(100%, #f7f7f7));
  background: -o-linear-gradient(top, rgba(247,247,247,0) 0%, rgba(247,247,247,0.7) 30%, rgba(247,247,247,0.7) 60%, #f7f7f7 100%);
  background: -ms-linear-gradient(top, rgba(247,247,247,0) 0%, rgba(247,247,247,0.7) 30%, rgba(247,247,247,0.7) 60%, #f7f7f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f7f7f7', endColorstr='#fff7f7f7',GradientType=0 );
  background: linear-gradient(top, rgba(247,247,247,0) 0%, rgba(247,247,247,0.7) 30%, rgba(247,247,247,0.7) 60%, #f7f7f7 100%);
}
.expandable-more-u { font-size: 0.9em; }

.header-map { margin: 10px 0 0; }
.header-map .address { font-size: 1.1em; color: #868686; }
.header-map .address span { font-family: 'din_alternate_mediumregular';  }
#map-canvas { height: 350px; margin: 10px 0; border: 1px #d6d6d6 solid; }


.header-map .btn-map {
  padding: 6px 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius:2px;
  background:#ebebeb;
  font-size: 0.9em;
  color: #868686;
  -webkit-transition: background .2s ease-in-out;
  -o-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}
.header-map .btn-map:hover { background:#c5c5c5; }





/* section#habitacion */
#habitacion { padding: 30px 0; }
#habitacion p { color: #868686; font-size: 1em; }

#habitacion .hab-Picture {
  margin: 0 auto;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.expandable-h { position: relative; }
.expandable-h .expandable-content-h { height: 90px; overflow: hidden; }
.expandable-h .expandable-content-overflow-h { height: auto!important; }
.expandable-h .expandable-indicator-h {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0.7) 60%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(30%, rgba(255,255,255,0.7)), color-stop(60%, rgba(255,255,255,0.7)), color-stop(100%, #ffffff));
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0.7) 60%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0.7) 60%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffffff',GradientType=0 );
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0.7) 60%, #ffffff 100%);
}
.expandable-more-h { font-size: 0.9em; }

ul.list-servicios-habitacion { padding: 0; margin: 0; list-style: none; }
ul.list-servicios-habitacion li { float: left; width: 30%; color: #868686; margin: 0 0 10px 0; }

.expandable-list-hab { position: relative; float: left; width: 90%; }
.expandable-list-hab ul.list-servicios-habitacion { height: 40px; overflow: hidden; }
.expandable-list-hab .expandable-content-overflow-list-hab {
  height: auto!important;
}
.expandable-list-hab .expandable-indicator-list-hab {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0.7) 60%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(30%, rgba(255,255,255,0.7)), color-stop(60%, rgba(255,255,255,0.7)), color-stop(100%, #ffffff));
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0.7) 60%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0.7) 60%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffffff',GradientType=0 );
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0.7) 60%, #ffffff 100%);
}
.expandable-more-list-hab { font-size: 0.9em; float: left; margin-top: 7px; }

/* section#tripadvisor */
#tripadvisor { padding: 30px 0; }
#tripadvisor .widSSP { width:100%!important; }


/* section#informacion */

#informacion { padding: 75px 0; background: #f7f7f7; }

.informacion-title {
    background-color: #00bed4;
    height: 35px;
    width: 300px;
    margin: 8px auto 20px;
    position: relative;
    text-align: center;
  }
.informacion-title span { line-height: 39px; color: #fff; font-size: 1.2em; font-family: 'din_alternateregular'; text-transform: uppercase; }
.informacion-title:before{
    width: 44px;
    height: 35px;
    content: " ";
    /*background-image: url("./images/bk-before.png");*/
    position: absolute;
    left: -44px;
    top: 0px;
}
.informacion-title:after{
    width: 44px;
    height: 35px;
    content: " ";
    /*background-image: url("./images/bk-after.png");*/
    position: absolute;
    right: -44px;
    top: 0px;
}

.informacion-title-a {
    background-color: #ff801d;
    height: 35px;
    width: 300px;
    margin: 8px auto 20px;
    position: relative;
    text-align: center;
  }
.informacion-title-a span { line-height: 39px; color: #fff; font-size: 1.2em; font-family: 'din_alternateregular'; text-transform: uppercase; }
.informacion-title-a:before{
    width: 44px;
    height: 35px;
    content: " ";
    background-image: url("./images/bk-before-a.png");
    position: absolute;
    left: -44px;
    top: 0px;
}
.informacion-title-a:after{
    width: 44px;
    height: 35px;
    content: " ";
    background-image: url("./images/bk-after-a.png");
    position: absolute;
    right: -44px;
    top: 0px;
}

ul.list-info { padding: 0; margin: 0; }
ul.list-info li {
  float: left;
  width: 49%;
  margin: 6px 0;
  padding: 0 20px 0 0;
  color: #868686;
  font-size: 1.1em;
  list-style: url("./images/list-info.png") inside;
}
.title-list-info { display: block; font-weight: bold; font-size: 1.1em;}


/* section#consultar */
#consultar { /*padding:30px 0;*/ background: #f7f7f7; }
.consultar-reserva {
  height: 240px;
  border-top:3px #565656 solid;
  position: relative;
}
.container-reserva {
  position: absolute;
  z-index: 102;
  text-align: center;
  width: 100%;
  padding: 40px 0 0;
}
.container-reserva h1.title-consultar-reserva {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.6em;
  margin: 0 0 10px;
}
.container-reserva h1.title-consultar-reserva span {
  font-family: 'din_alternate_mediumregular';
}
.container-reserva .t-h {
  color: #fff;
  font-size: 1.8em;
  margin: 0 0 5px;
}
.container-reserva .t-h span.t-h-bold {
  font-family: 'din_alternate_mediumregular';
}
.consultar-picture {
  width: 100%;
  height: 237px;
  position: absolute;
  z-index: 100;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bk-consultar-reserva {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:Black;
  z-index:101;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity:.5;
}

.consultar-form { background: #515151; padding: 50px; }
.consultar-form textarea.form-control { height: 134px; }

.header-consultar-form { margin: 10px 0 20px; }
.header-consultar-form span { font-size: 1.8em; color: #a2a2a2; }
.header-consultar-form span.title-form { font-size: 1.8em; color: #fff; text-transform: uppercase; margin: 0 20px; }

.consultar-form .checkbox { color:#fff; }

/* botones */
.b-o {
  padding: 8px 12px;
  margin-top: 10px;
  text-transform: uppercase;
  border-radius: 2px;
  background:#1d96ab;
  font-size: 1.2em;
  color: #fff;
  border: none;
  -webkit-transition: background .2s ease-in-out;
  -o-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}
.b-o:hover {
  background:#197e8f;
  color: #fff;
}

.b-o-reservar { width: 280px; }
.b-o-consulta { width: 160px; }

.b-a {
padding: 8px 12px;
text-transform: uppercase;
border-radius: 2px;
background:#FF801D;
font-size: 1.2em;
color: #fff;
border: none;
-webkit-transition: background .2s ease-in-out;
-o-transition: background .2s ease-in-out;
transition: background .2s ease-in-out;
}
.b-a:hover, .b-a:focus {
  background:#E55C00;
  color: #fff;
}

.b-a-reservar { width: 280px; }
.b-subscribir { width: 200px; }



/* iconos */
.i-consulta {
/*background-image: url("./images/icono-consulta.png");*/
background-position: 0px 0px;
background-repeat: no-repeat;
display: inline-block;
width: 43px;
height: 33px;
vertical-align: text-bottom;
}

.i-0800 {
background-image: url("./images/icono-0800.png");
background-position: 0px 0px;
background-repeat: no-repeat;
display: inline-block;
width: 21px;
height: 19px;
vertical-align: text-bottom;
margin: 0 10px;
}

.i-anadir {
background-image: url("./images/icono-anadir.png");
background-position: 0px 0px;
background-repeat: no-repeat;
display: inline-block;
width: 18px;
height: 16px;
vertical-align: text-bottom;
}

.i-compartir {
background-image: url("./images/icono-compartir.png");
background-position: 0px 0px;
background-repeat: no-repeat;
display: inline-block;
width: 18px;
height: 16px;
vertical-align: text-bottom;
}

.i-market-map {
background-image: url("./images/icono-market-map.png");
background-position: 0px 0px;
background-repeat: no-repeat;
display: inline-block;
width: 20px;
height: 23px;
vertical-align: text-bottom;
}

.i-visto {
/*background-image: url("./images/icono-visto.png");*/
background-position: 0px 0px;
background-repeat: no-repeat;
display: inline-block;
width: 27px;
height: 15px;
vertical-align: text-bottom;
}

.i-timbre {
/*background-image: url("./images/icono-timbre.png");*/
background-position: 0px 0px;
background-repeat: no-repeat;
display: inline-block;
width: 24px;
height: 16px;
vertical-align: text-bottom;
}

.i-countdown {
/*background-image: url("./images/countdown.png");*/
background-position: 0px 0px;
background-repeat: no-repeat;
float: left;
margin: 4px 20px 0 120px;
width: 26px;
height: 25px;
vertical-align: text-bottom;
}
.i-countdown-n {
/*background-image: url("./images/countdown.png");*/
background-position: 0px -25px;
background-repeat: no-repeat;
float: left;
margin: 4px 20px 0 120px;
width: 26px;
height: 25px;
vertical-align: text-bottom;
}

.i-avion {
/*background-image: url("./images/icono-avion.png");*/
background-position: 0px 0px;
background-repeat: no-repeat;
display: inline-block;
width: 41px;
height: 18px;
vertical-align: text-bottom;
}

.i-crucero {
/*background-image: url("./images/icono-crucero.png");*/
background-position: 0px 0px;
background-repeat: no-repeat;
display: inline-block;
width: 41px;
height: 20px;
vertical-align: text-bottom;
}

.i-tours {
/*background-image: url("./images/icono-tours.png");*/
background-position: 0px 0px;
background-repeat: no-repeat;
display: inline-block;
width: 47px;
height: 24px;
vertical-align: text-bottom;
}

.i-paquetes {
/*background-image: url("./images/icono-paquetes.png");*/
background-position: 0px 0px;
background-repeat: no-repeat;
display: inline-block;
width: 32px;
height: 24px;
vertical-align: text-bottom;
}

.i-autos {
/*background-image: url("./images/icono-auto.png");*/
background-position: 0px 0px;
background-repeat: no-repeat;
display: inline-block;
width: 42px;
height: 20px;
vertical-align: text-bottom;
}



/* section#banner-subscripcion */
#banner-subscripcion {
  /*padding: 0;*/
  position: relative;
}
#banner-subscripcion .main-subscription {
  /*background: url("./images/banner-subscripcion.jpg") no-repeat top right;*/
  height: 345px;
}
#banner-subscripcion .main-subscription .container-s {
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 90%;
}
#banner-subscripcion .main-subscription .container-s .box-icono-club {
  position: absolute;
  top: 0;
  left: 0;
  /*background: url("../img/subscription/icono-club-beneficio.png") no-repeat top center;*/
  width: 83px;
  height: 147px;
}
#banner-subscripcion .main-subscription .container-s .box-textos-club {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  width: 50%;
}
#banner-subscripcion .main-subscription .container-s .box-textos-club h1.title {
  font-family: 'romeralregular';
  font-size: 3em;
  color: #fff;
  /*background: url("./images/bk-title.png") no-repeat 100px 0;*/
  padding: 40px 0 0;
  margin-bottom: 0;
}
#banner-subscripcion .main-subscription .container-s .box-textos-club p {
  font-size: 1.6em;
  color: #fff;
  font-family: 'din_alternate_lightregular';
  padding-bottom: 20px;
}
#banner-subscripcion .main-subscription .container-s .box-textos-club p span { font-family: 'din_alternate_mediumregular'; }





/* box frase */
.box-frase { margin: 0; height: 373px; display: block; text-align: center; }
.box-frase.frase-oferta {
  /*background-image: url("./images/bk-frase-oferta.jpg");*/
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.box-frase.frase-alerta {
  background-image: url("./images/bk-frase-alerta.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 10px;
}
.box-frase .top-frase {
  background: url("./images/top-frase.png") no-repeat 0 0;
  display: block;
  width: 37px;
  height: 30px;
  margin: 80px auto 40px;
}
.box-frase .text-frase {
  font-size: 1.7em;
  color: #fff;
  font-family: 'din_alternate_lightregular';
  font-style: italic;
  padding: 0 40px;
  margin: 0 0 30px;
}
.box-frase .autor-frase { font-size: 1.1em; color: #fff; }
.box-frase .autor-frase span {  font-family: 'din_alternate_mediumregular'; }




/* ofertas-destacadas */
#ofertas-destacadas { padding: 50px 0 30px; }

#ofertas-destacadas ul.list-items-dest { padding: 0; margin:20px 0; list-style: none; overflow: hidden; }
#ofertas-destacadas ul.list-items-dest li { float: left; margin: 0 5px 40px; }
#ofertas-destacadas ul.list-items-dest li.first { margin-left: 0; }
#ofertas-destacadas ul.list-items-dest li.last { margin-right: 0;}
#ofertas-destacadas ul.list-items-dest img { max-width: 140%; }


#ofertas-destacadas .list-item-dest-o {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px #e5e5e5 solid;
  width: 300px;
  display: block;
  background: #fff;
  overflow: hidden;
  /*
  -moz-box-shadow: 3px 3px 4px #e4e3e3;
  -webkit-box-shadow: 3px 3px 4px #e4e3e3;
  box-shadow: 3px 3px 4px #e4e3e3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#e4e3e3')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#e4e3e3');
  */
}

#ofertas-destacadas .list-item-dest-o .item-header { position: relative; height: 150px; overflow: hidden; }
#ofertas-destacadas .list-item-dest-o .item-body { padding: 10px;  /*border-left: 1px #f6f6f6 solid;*/  }
#ofertas-destacadas .list-item-dest-o .item-body h4 {
  margin: 0 0 5px;
  color: #555;
  font-family: 'din_alternateregular', 'din-woff', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
}
#ofertas-destacadas .list-item-dest-o .item-body p {
  color: #8f8f8f;
  margin: 0;
  /*height: 35px;*/
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
}
#ofertas-destacadas .list-item-dest-o .item-footer { padding:0 5px 7px; overflow: hidden; /*border-left: 1px #eeecec solid;*/ }
#ofertas-destacadas .list-item-dest-o .item-footer .col-xs-6 { padding: 0 5px; }
#ofertas-destacadas .list-item-dest-o .item-footer p { color: #555; }

#ofertas-destacadas .list-item-dest-o .item-footer p.main-price { color: #555; font-size: 0.9em; margin: 0; line-height: 40px; text-align: left; }
#ofertas-destacadas .list-item-dest-o .item-footer p.main-price span { font-size: 2.4em; color: #1E95AC; font-family: 'din_alternate_mediumregular'; }

#ofertas-destacadas .list-item-dest-o .btn-reservar {
    width: 100%;
    line-height: 25px;
    font-family: 'din_alternateregular', 'din-woff', sans-serif;
    background: #1E95AC;
    border-radius: 5px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 0;
    color: #fff;
    font-size: 1.2em;
    font-weight: normal!important;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    -ms-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}
#ofertas-destacadas .list-item-dest-o .btn-reservar:hover { background: #238497; }

#ofertas-destacadas .list-item-dest-o ul.list-rate { padding: 0; margin: 0 0 3px; list-style: none; overflow: hidden; }
#ofertas-destacadas .list-item-dest-o ul.list-rate li { float: left; margin: 0; }
/*#ofertas-destacadas .list-item-dest-o ul.list-rate li span.rate { background: url(./images/rate.png); width: 15px; height:15px; display: block; }*/
/*#ofertas-destacadas .list-item-dest-o ul.list-rate li span.rate-empty { background: url(./images/rate-empty.png); width: 15px; height:15px; display: block; }*/



/* destacadas alertas */

#ofertas-destacadas .list-item-dest-a {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px #e5e5e5 solid;
  width: 300px;
  display: block;
  background: #fff;
  overflow: hidden;
  /*
  -moz-box-shadow: 3px 3px 4px #e4e3e3;
  -webkit-box-shadow: 3px 3px 4px #e4e3e3;
  box-shadow: 3px 3px 4px #e4e3e3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#e4e3e3')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#e4e3e3');
  */
}

#ofertas-destacadas .list-item-dest-a .item-header { position: relative; height: 150px; overflow: hidden; }
#ofertas-destacadas .list-item-dest-a .item-body { padding: 10px;  /*border-left: 1px #f6f6f6 solid;*/  }
#ofertas-destacadas .list-item-dest-a .item-body h4 {
  margin: 0 0 5px;
  color: #555;
  font-family: 'din_alternateregular', 'din-woff', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
}
#ofertas-destacadas .list-item-dest-a .item-body p {
  color: #8f8f8f;
  margin: 0;
  /*height: 35px;*/
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
}
#ofertas-destacadas .list-item-dest-a .item-footer { padding:0 5px 5px; overflow: hidden; /*border-left: 1px #eeecec solid;*/ }
#ofertas-destacadas .list-item-dest-a .item-footer .col-xs-6 { padding: 0 5px; }
#ofertas-destacadas .list-item-dest-a .item-footer p { color: #555; }

#ofertas-destacadas .list-item-dest-a .item-footer p.main-price { color: #555; font-size: 0.9em; margin: 0; line-height: 40px; text-align: left; }
#ofertas-destacadas .list-item-dest-a .item-footer p.main-price span { font-size: 2.4em; color: #f1822c; font-family: 'din_alternate_mediumregular'; }

#ofertas-destacadas .list-item-dest-a .btn-reservar {
    width: 100%;
    line-height: 25px;
    font-family: 'din_alternateregular', 'din-woff', sans-serif;
    background: #f1822c;
    border-radius: 5px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 0;
    color: #fff;
    font-size: 1.2em;
    font-weight: normal!important;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    -ms-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}
#ofertas-destacadas .list-item-dest-a .btn-reservar:hover { background: #e07421; }

#ofertas-destacadas .list-item-dest-a ul.list-rate { padding: 0; margin: 0 0 5px; list-style: none; overflow: hidden; }
#ofertas-destacadas .list-item-dest-a ul.list-rate li { float: left; margin: 0; }
/*#ofertas-destacadas .list-item-dest-a ul.list-rate li span.rate { background: url(./images/rate-a.png); width: 15px; height:15px; display: block; }*/
/*#ofertas-destacadas .list-item-dest-a ul.list-rate li span.rate-empty { background: url(./images/rate-a-empty.png); width: 15px; height:15px; display: block; }*/

#ofertas-destacadas .list-item-dest-a .oferta-special {
    /*background: url(../img/bk-special.png) no-repeat 0 0;*/
    width: 78px;
    height: 78px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}
#ofertas-destacadas .list-item-dest-a .oferta-special p {
    text-align: center;
    font-size: 1.5em;
    margin: 10px 0 0 15px;
    color: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=45deg)";
}

#ofertas-destacadas .list-item-dest-a .box-icono-club {
  position: absolute;
  top: 0;
  left: 20px;
  /*background: url("../img/subscription/icono-club-beneficio-sm.png") no-repeat top center;*/
  width: 45px;
  height: 61px;
}


/* scroll top */
#back-top {
  position: fixed;
  bottom: 30px;
  right: 5%;
  z-index: 1003;
}

#back-top a {
  width: 40px;
  display: block;
  text-align: center;
  font-size: 0.9em;
  text-transform: uppercase;
  text-decoration: none;
  color: #bbb;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover { color: #000; }

#back-top span {
  width: 40px;
  height: 40px;
  display: block;
  margin-bottom: 7px;
  /*background: #ddd url(./images/back-top.png) no-repeat center center;*/
  -webkit-border-radius: 5px;
  -moz-border-radius:5px;
  border-radius: 5px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover span { background-color: #777; }

/* @vuelos vuelo */
#vuelo { padding: 30px 0; }
.box-list-destinations {
  border: 1px #dcdcdc solid;
  padding: 20px 30px;
  background: #fcfcfc;
  -webkit-border-radius: 5px;
  -moz-border-radius:5px;
  border-radius: 5px;
  margin: 20px 0;
}



ul.list-destination { padding: 0; margin:0; overflow: hidden; list-style: none; }
ul.list-destination li { float: left; text-align: center; line-height: 25px; }
ul.list-destination li.fecha { width: 10%; text-align: left; color: #ff7b1c; font-weight: bold; }
ul.list-destination li.destinations { width: 15%; font-size: 1.6em; color: #868686; }
ul.list-destination li.icons { width: 5%; line-height: 50px; }
ul.list-destination li.duracion { width: 35%; color: #ff7b1c; font-weight: bold; text-align: left; }
ul.list-destination li.aerolinea { width: 10%; line-height: 50px; text-align: right; }
ul.list-destination li.codigo { width: 10%; line-height: 50px; text-align: right; }
ul.list-destination li span { display: block; color: #868686; font-weight: normal; }


.l-s-list { height: 1px; background: #dcdcdc; margin: 20px 0; display: block; }

/* @vuelos tarifa */
#tarifa { padding: 30px 0; }
#tarifa ul.list-tarifa { padding: 0; margin: 0; }
#tarifa ul.list-tarifa li {
  float: left;
  width: 33%;
  margin: 6px 0;
  height: 40px;
  padding: 0 10px 0 0;
  color: #868686;
  font-size: 1em;
  text-transform: uppercase;
  /*list-style: url("./images/li-list-tarifa.png") inside;*/
}

/* @paquetes traslados */
#traslados { padding: 30px 0; }

/* @crucero itinerario */
#itinerario { padding:30px 0 0; }

.box-list-itinerarios {
  border: 1px #dcdcdc solid;
  padding: 20px 30px;
  background: #fcfcfc;
  -webkit-border-radius: 5px;
  -moz-border-radius:5px;
  border-radius: 5px;
  margin: 20px 0;
}

#itinerario ul.list-itinerario { padding: 0; margin:0; overflow: hidden; list-style: none; }
#itinerario ul.list-itinerario li { float: left; text-align: center; line-height: 25px; }
#itinerario ul.list-itinerario li.fecha { width: 10%; text-align: left; color: #ff7b1c; font-size: 1.1em; }
#itinerario ul.list-itinerario li.arrival,
#itinerario ul.list-itinerario li.exit { width: 15%;  color: #ff7b1c; font-size: 1.2em; }
#itinerario ul.list-itinerario li.icons { width: 5%; line-height: 50px; }
#itinerario ul.list-itinerario li.itinerario { width: 40%; color: #868686; line-height: 50px; font-size: 1.3em; }
#itinerario ul.list-itinerario li.crucero { width: 15%; line-height: 50px; text-align: right; }
#itinerario ul.list-itinerario li span { display: block; color: #868686; font-weight: normal; font-size: 1em; }

/* @paquetes */
#paquete { padding: 30px 0; background: #fcfcfc; }

ul.list-paquetes { margin: 0; padding: 0; list-style: none; }
ul.list-paquetes li { float: left; width: 50%; margin: 0 0 10px; color: #868686; font-size: 1.1em; }
ul.list-paquetes li .img-paquetes { float: left; margin: 0 5px; }
ul.list-paquetes li span.text-paquetes { float: left; width: 85%; }




.iconos-img { margin: 0 5px; }


/* @autos */
#auto { padding: 30px 0; }
.box-list-company {
  border: 1px #dcdcdc solid;
  padding: 15px 30px;
  background: #fcfcfc;
  -webkit-border-radius: 5px;
  -moz-border-radius:5px;
  border-radius: 5px;
}
ul.list-company-car { padding: 0; margin:0; overflow: hidden; list-style: none; }
ul.list-company-car li { float: left; text-align: center; line-height: 25px; }
ul.list-company-car li.car-date { width: 20%; text-align: left; color: #ff7b1c; font-weight: bold; }
ul.list-company-car li.car-time { width: 20%; text-align: left; color: #ff7b1c; font-weight: bold; }
ul.list-company-car li.car-city { width: 50%; font-size: 1.6em; color: #868686; line-height: 50px; text-align: left; }
ul.list-company-car li.car-company { width: 10%; line-height: 50px; text-align: right; }
ul.list-company-car li span { display: block; color: #868686; font-weight: normal; }

/* @autos tarifas */
#tarifas { padding: 30px 0; }

ul.list-regulacion { margin: 0; padding: 0; list-style: none;}
ul.list-regulacion li {   float: left;
  width: 33%;
  margin: 6px 0;
  height: 40px;
  padding: 0 10px 0 0;
  color: #868686;
  font-size: 1em;
  text-transform: uppercase;
  /*list-style: url("./images/list-li-regulacion.png") inside; */
}

/* @autos servicios */
#servicios { padding: 30px 0 80px; }



/* popover not subscrition */
[data-style=css-not-subscription] + .popover {
    background: #fff;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
[data-style=css-not-subscription] + .popover .popover-content { padding: 10px; }

[data-style=css-not-subscription] + .popover .popover-content p { color: #868686!important; padding: 5px 0; text-align: center; }

.b-sub {
text-transform: uppercase;
border-radius: 2px;
background:#FF801D;
font-size: 1.2em;
color: #fff;
border: none;
-webkit-transition: background .2s ease-in-out;
-o-transition: background .2s ease-in-out;
transition: background .2s ease-in-out;
}
.b-sub:hover, .b-sub:focus {
  background:#E55C00;
  color: #fff;
}


/* popover redes sociales */
[data-style=css-redes-sociales] + .popover {
    background: #fff;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
[data-style=css-redes-sociales] + .popover .popover-content { padding: 5px; }

/* redes sociales */
.tabs-social { margin: 0; padding: 0; list-style: none;  }
.tabs-social li { float:left; background: #2b2b2b; }
.tabs-social li a {
display:block;
text-indent: -9999px;
/*background-image:url(./images/iconos-redes-sociales.png);*/
background-repeat: no-repeat;
background-position: 0 0;
width: 35px;
height: 35px;
cursor:pointer;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
-o-transition: all 0.25s ease-in-out;
transition: all 0.25s ease-in-out;
}
.tabs-social li a.tw { background-position: -35px 0; }
.tabs-social li a.tw:hover { background-position: -35px -35px; }
.tabs-social li a.fb { background-position: -70px 0; }
.tabs-social li a.fb:hover { background-position: -70px -35px; }
.tabs-social li a.mail { background-position: -315px 0; }
.tabs-social li a.mail:hover { background-position: -315px -35px; }



/* alerta finalizada */
.caption-finished { position: absolute; z-index: 99; }
.bk-alert-finished { background: rgba(0,0,0, 0.4); display: block; width: 100%; height: 100%; position: absolute; z-index: 100 }
.box-alert-finished { background: #000; margin: 10px 0 0; border-top:1px #fff solid; text-align: center; position: absolute; z-index: 101; bottom: 0; left: 0; right: 0; }
.box-alert-finished h2 { text-transform: uppercase; color: #fff; margin: 0; line-height: 100px; font-size: 1.7em; font-family: 'din_alternate_lightregular'; }
.box-alert-finished h2 img { margin-top: -5px;}



/* colapsable */
.containter-vuelos { margin: 40px 0; }
.containter-vuelos .vuelo-header {
    padding: 10px 40px 10px 25px;
    /*margin: 10px 0 0;*/
    color:#656565;
    cursor: pointer;
    text-align:left;
    font-family: 'din_alternateregular', 'din-woff', sans-serif;
    border: 1px #eee solid;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    overflow: hidden;
    /*background-image: url('./images/arrow-colapsable.png');*/
    background-repeat: no-repeat;
    background-position: right 20px;
    background-color: #f4f4f4;
}

.containter-vuelos .vuelo-header:hover { background-color: #e5e5e5; }
.containter-vuelos .vuelo-header.active {
    background-color: #e5e5e5;
    background-position: right -18px;
}

/*.containter-vuelos .vuelo-header h4 {
  font-size: 1.3em;
  padding:6px 0;
  float: left;
  width: 60%;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
}*/


.vuelo-body {
    padding: 10px 40px 10px 25px;
    border: 1px #eee solid;
    border-top: none;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    background-color: #fcfcfc;
}

.col-c1 { float: left; width: 45%; }
.col-c2 { float: left; width: 10%; }

span.v-title { display: block; color: #ff7b1c; font-weight: bold; font-size: 1em; }
span.v-time { display: block; color: #868686; }
span.v-logo { display: block; }
span.v-code { display: block; color: #868686; }
span.v-destination { display: block; color: #868686; font-size: 1.5em; }
span.v-date { display: block; color: #868686; }
span.v-adicional { display: block; color: #b4b4b4; font-size: 0.9em; margin: 5px 0 0; }



/* sales offer - alerts */
.sales {
    width: 218px;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px #e5e5e5 solid;
    background: #fff;
    margin: 0 auto;
  }

.sales a {
    display: block;
    position: relative;
    height: 220px;
}

.sales a img {
    height: 240px;
    left: -20px;
    position: relative;
    top: -20px;
    width: 240px;
}

.sales a span {
    /*display: none;*/
    height: 100%;
    position: absolute;
    text-decoration: none;
    width: 100%;
    z-index: 100;
}
.sales a h4.sale-title {
  color: #fff;
  font-size: 1.3em;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 20px;
  margin: 0;
  text-align: center;
  z-index: 102;
  text-shadow: 1px 1px 1px #000;
  zoom:1;
}


    .sales header { position: relative; height: 220px; overflow: hidden; }

    .sale-alerts header .alert-special {
        /*background: url(../img/bk-special.png) no-repeat 0 0;*/
        width: 78px;
        height: 78px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 101;
        border-radius: 0 5px 0 0;
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
    }
    .sale-alerts header .alert-special p {
        text-align: center;
        font-size: 1.5em;
        margin: 10px 0 0 15px;
        color: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=45deg)";
    }

    .sale-alerts header .i-club-beneficio {
      position: absolute;
      top: 0;
      left: 20px;
      /*background: url("../img/subscription/icono-club-beneficio-sm.png") no-repeat top center;*/
      width: 45px;
      height: 61px;
      z-index: 101;
      display: none;
    }


.dark-background {
  background-color: rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, 0% 40%, 0% 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.5) 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.5) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.5) 100%);

}


.sales footer p.main-price { color: #555; font-size: 0.9em; margin: 0; line-height: 40px; text-align: center; }
.sales footer .footer-top img { margin: 0 10px; line-height: 30px; }
.sales footer .footer-top span { color: #fff; line-height: 30px; font-size: 1.2em; padding: 0 10px; }


.sale-alerts footer .footer-top { background: #ff831d; height: 30px; }
.sale-alerts footer p.main-price span { font-size: 2.4em; color: #ff831d; font-family: 'din_alternate_mediumregular'; }

.sale-oferts footer .footer-top { background: #329db1; height: 30px; }
.sale-oferts footer p.main-price span { font-size: 2.4em; color: #329db1; font-family: 'din_alternate_mediumregular'; }

ul.list-article-sale { margin: 0 -10px; padding: 0; list-style: none; }
ul.list-article-sale li { float: left; width: 25%; margin: 10px 0; }










/* TRIPADVISOR CSS */

body {
}

#calificaciones{

}
#trip-advisor {
    min-height: 200px;
    max-height:650px;
    overflow: auto;
    padding:10px 0;
    margin: 0;
}

    #trip-advisor li {
        list-style-type: none;
        display: inline-block;
        padding-bottom:20px;
    }


    #trip-advisor .username {
        height: 100%;
        overflow: hidden;
        clear: both;
    }

    #trip-advisor .location {
        font-size: 11px;
        color: #2c2c2c;
        word-wrap: break-word;
        font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
    }

    #trip-advisor div.avatar {
        padding: 3px;
        border: 2px solid #ededed;
        border-radius: 100%;
        float: left;
    }
    #trip-advisor .memberinfo{
        padding-top:15px;
    }
    #trip-advisor .memberinfo .reviewerBadge{
       margin: 0 0 3px;
    }

    #trip-advisor .memberinfo .badgeText {
        display: inline-block;
        width: 110px;
        vertical-align: middle;
    }

    #trip-advisor img.avatar {
        padding: 0;
        border: none;
        border-radius: 100%;
    }

    #trip-advisor .col2 {
        margin-left: -20px;
        height: 100%;
        overflow: visible;
        border: 4px solid #f1f1f1;
        border-radius: 4px;
        padding-right: 0px;
        padding-left: 0px;
    }

    #trip-advisor .rating {
        display: inline-block;
        padding-bottom:10px;
    }


    #trip-advisor .comment {
        border: 1px solid #e3e3e3;
        color: #4a4a4a;
        padding:0 20px;
        margin: 0;
        /*position: relative;*/
    }

        #trip-advisor .comment .ratingDate {
            font-size: .75em;
            font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
        }

        #trip-advisor .comment .mobile {
            display: inline-block;
            width: auto;
            height: 16px;
            font-size: .75em;
            text-decoration: none;
            color: #656565;
            background-repeat: no-repeat;
        }

        #trip-advisor .comment:after {
            display: block;
            position: absolute;
            top: 25px;
            left: -14px;
            width: 0;
            border-style: solid;
            border-color: #fff;
            border-color: rgba(255,255,255,0) #fff;
            border-width: 13px 15px 13px 0;
            content: "";
        }

        #trip-advisor .comment:before {
            display: block;
            position: absolute;
            top: 25px;
            left: -15px;
            width: 0;
            border-style: solid;
            border-color: transparent #E3E3E3;
            border-color: rgba(255,255,255,0) #e3e3e3;
            border-width: 13px 15px 13px 0;
            content: "";
        }

    #trip-advisor .rating {
        display: inline-block;
        position: relative;
    }

    #trip-advisor h1 {
        font: italic normal 1.5em Georgia,"Times New Roman","Century Schoolbook L",serif;
        padding-bottom: 1px;
        text-decoration: none;
        color: #069;
    }