.navMain {
    height: 100px;
    padding-left: 50px;
}

.logo {
    float: left;
    margin: 20px 0;
}

.menu {
    float: right;
    padding-left: 0;
    margin-top: 24px;
    list-style: none;
}

.menu li {
    display: inline-block;
    margin: 0 5px;
}

.menu li i {
    background-repeat: no-repeat;
    display: block;
    background-image: url("./images/navbar.sprites.png");
    background-repeat: no-repeat;
    width: 45px;
    height: 26px;
}

.offers {
    background-position: -120px -9px;
}

.hotels {
    background-position: -63px -6px;
}

.flights {
    background-position: -234px -6px;
}

.car {
    background-position: -9px -5px;
}

.tours {
    background-position: -183px -10px;
}

/* Hovers */
.menu li:hover a {
    color: #f1822c;
}

.menu li:hover .offers {
    background-position: -120px -42px;
}

.menu li:hover .hotels {
    background-position: -63px -39px;
}

.menu li:hover .flights {
    background-position: -234px -39px;
}

.menu li:hover .car {
    background-position: -9px -38px;
}

.menu li:hover .tours {
    background-position: -183px -43px;
}

.line {
	  height: 3px;
	  background: -webkit-gradient(linear, left top, right top, from(#0093b1), color-stop(0.25, #0093b1), color-stop(0.5, #ff3015), color-stop(0.75, #ff8622) to(#ff8622));
	  background: -webkit-linear-gradient(left, #0093b1, #ff3015, #ff8622);
	  background: -moz-linear-gradient(left, #0093b1, #ff3015, #ff8622);
	  background: -ms-linear-gradient(left, #0093b1, #ff3015, #ff8622);
	  background: -o-linear-gradient(left, #0093b1, #ff3015, #ff8622);
}