


.old_price {
    text-decoration: line-through;
    color: #8b8b8b;
    font-size: 1.2rem;
    margin: 0;
text-align: right;}

.main_price {
    color: #555;
    font-size: 1rem;
    margin: 0;
    line-height: 28px;
text-align: right; }

.main_price__dest {
    font-size: 2rem;
    color: #333;
    font-family: 'din_alternate_mediumregular'; }

.trip-comments {
    padding: 10px 0 0;
    float: left;
    height: 17px;
}

.reviews {
    padding: 0 0 0 5px;}

.title_cont {
    margin: 5px 0 10px; }

.title_hotel {
    color: #555;
    font-family: 'din_alternateregular', 'din-woff', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    float: left;
    width: 60%;
}

.list_rate { padding: 0; margin: 0; list-style: none; overflow: hidden; float: right;}
.list_rate li { float: left; margin: 0; }
.list_rate li span.rate { background: url(./images/rate.png); width: 15px; height:15px; display: block; }
.list_rate li span.rate_empty { background: url(./images/rate-empty.png); width: 15px; height:15px; display: block; }


.oferta_special {
    background: url(./images/bk-special.png) no-repeat 0 0;
    width: 78px;
    height: 78px;
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 100;
}
.oferta_special__text {
    text-align: center;
    font-size: 1.5em;
    margin: 10px 0 0 15px;
    color: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=45deg)";
}
