.list {
  padding:0 50px;
  margin: 0 auto;
  list-style: none;
  background:#f1f1f1;
  overflow: hidden;
}

.list li {
  float: left;
  text-align: left;
  margin: auto 50px auto 50px;
}

.list li a {
  color: #bcbcbc;
  font-size: 1.1em;
  line-height: 40px;
  text-transform: uppercase;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
  text-decoration: none;
}

.list li a:hover,
.list li a.active {
  color: #868686;
}

.list li a.highlight {
  color: #ff7b1c;
}
