<table width="100%" cellspacing="0" cellpadding="0" bgcolor="#e9eaec">
<tr>
<td align="center" style="padding:10px;">

    <table width="600" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" style="padding:10px;">
    <tr>
    <td colspan="2" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#242424; padding:10px 0 30px;">{{=it.Comment}}</td>
    </tr>
    <tr>
    <td colspan="2"><img src="https://s3-sa-east-1.amazonaws.com/claroviajes-outbox/mail_generic/logo-claroviajes.png" alt="Claroviajes"></td>
    </tr>
    <tr>
    <td colspan="2" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#242424; padding:15px 0 20px;">{{=it.Name}} {{=it.LastName}} <font style="font-size:16px; color:#a0a0a0">| {{=it.Charge}}</font></td>
    </tr>
    <tr>
    <td align="left" width="24"><img src="https://s3-sa-east-1.amazonaws.com/claroviajes-outbox/mail_generic/i-phone.png" alt="Claroviajes"></td>
    <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#1e120e; padding:5px 0;">{{=it.PhoneNumber}}</td>
    </tr>
    <tr>
    <td align="left" width="24"><img src="https://s3-sa-east-1.amazonaws.com/claroviajes-outbox/mail_generic/i-mail.png" alt="Claroviajes"></td>
    <td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#1859c9; padding:5px 0;"><a href="mailto:{{=it.Email}}" style="color:#1859c9;">{{=it.Email}}</a></td>
    </tr>
    <tr>
    <td align="left" width="24"><img src="https://s3-sa-east-1.amazonaws.com/claroviajes-outbox/mail_generic/i-mundo.png" alt="Claroviajes"></td>
    <td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#1859c9; padding:5px 0;"><a href="http://{{=it.CountryUrl}}" style="color:#1859c9;">{{=it.CountryUrl}}</a></td>
    </tr>
    <tr>
    <td colspan="2" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#a0a0a0; padding:10px 0;">Latinoamericana de Servicios Moviles S.A. de C.V .</td>
    </tr>
    </table>

</td>
</tr>
</table>
