.menu, .responsive {
    display: none;
}

/* LESS THAN 48 - 768px */
@media (max-width: 47.9em) {

  .menu {
      display: block;
  }

  .menu button {
      position: relative;
      float: left;
      border: 2px solid #ddd;
      margin: 5px 10px 5px 5px;
      width: 60px;
      height: 50px;
      padding: 9px 10px;
      background-color: rgba(0, 0, 0, 0);
      background-image: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
  }

  .menu button:hover {
      background-color: #ddd;
  }

  .menu button .bar {
      display: block;
      width: 95%;
      height: 3px;
      border-radius: 1px;
      background-color: #888;
  }

  .menu button .bar + .bar {
      margin-top: 4px;
  }

  .responsive {
      display: block;
  }

  .responsive ul {
      list-style: none;
      background-color: #ddd;
      padding: 0;
      position:absolute;
      z-index:2;
      top:0;
      width: 250px;
      height: 100vh;
      box-sizing:border-box;
      transition: transform ease 250ms;
      left: -250px;
  }

  .responsive.show ul {
      /*display: block;*/
      transform: translate3d(250px, 0, 0);
  }

  .responsive.show ul li {
      white-space: nowrap;
  }

  .responsive ul li {
      border-bottom: 1px #000 solid;
  }

  .responsive ul li a {
      cursor: pointer;
      color: #000;
      background: #f6f6f6;
      transition: background .2s ease-in-out;
      width: 100%;
      padding: 5px;
      display: block;
  }

  .responsive ul li a:hover {
      color: #fff;
      background: #000;
  }

 }

/* LESS THAN 34 - 544px  */
@media (max-width: 33.9em) {

  .menu {
      display: block;
  }

  .menu button {
      position: relative;
      float: left;
      border: 2px solid #ddd;
      margin: 5px 10px 5px 5px;
      width: 60px;
      height: 50px;
      padding: 9px 10px;
      background-color: rgba(0, 0, 0, 0);
      background-image: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
  }

  .menu button:hover {
      background-color: #ddd;
  }

  .menu button .bar {
      display: block;
      width: 95%;
      height: 3px;
      border-radius: 1px;
      background-color: #888;
  }

  .menu button .bar + .bar {
      margin-top: 4px;
  }

  .responsive {
      display: block;
  }

  .responsive ul {
      list-style: none;
      background-color: #ddd;
      padding: 0;
      position:absolute;
      z-index:2;
      top:0;
      width: 250px;
      height: 100vh;
      box-sizing:border-box;
      transition: transform ease 250ms;
      left: -250px;
  }

  .responsive.show ul {
      /*display: block;*/
      transform: translate3d(250px, 0, 0);
  }

  .responsive.show ul li {
      white-space: nowrap;
  }

  .responsive ul li {
      border-bottom: 1px #000 solid;
  }

  .responsive ul li a {
      cursor: pointer;
      color: #000;
      background: #f6f6f6;
      transition: background .2s ease-in-out;
      width: 100%;
      padding: 5px;
      display: block;
  }

  .responsive ul li a:hover {
      color: #fff;
      background: #000;
  }
 }
