
.responsiveMenu {
    display: none;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
    outline:none;
    text-decoration:none;
}

.nav_main {
    /*height:100px;*/
}

.nav_pills {
    /*float:right;*/
}
.nav_pills li {
    text-align:center;
    float: left;
    margin-right: 10px;
}
.nav_pills li a {
    display:block;
    color:#555656 !important;
    padding:5px 0;
}
.nav_pills li a span {
  margin-top: 8px;
  display: inline-block;
}
.nav_pills li a:hover {
    background:transparent;
    color:#d02e10 !important;
}
.nav_pills li a:hover .icon_nav {
    background-position:0 -33px;
}
.nav_pills li a:focus {
    background:transparent;
}
.nav_pills li.active>a,
.nav_pills li.active>a:hover,
.nav_pills li.active>a:focus {
    background-color:#fff;
    color:#f1822c !important;
}
.nav_pills li.active>a .icon_nav {
    background-position:0 -33px;
}

.icon_nav {
    background-position:0px 0px;
    background-repeat:no-repeat;
    float: left;
    height:33px;
    width:45px;
    margin:0 auto;
    line-height:28px;
    vertical-align:text-bottom;
}
.icon_ofertas { background-image:url("./images/ico-ofertas-countries.png"); }
.icon_autos { background-image:url("./images/ico-auto-countries.png"); }
.icon_hoteles { background-image:url("./images/ico-hoteles-countries.png"); }
.icon_vuelos { background-image:url("./images/ico-vuelos-countries.png"); }
.icon_paquetes { background-image:url("./images/ico-paquetes-countries.png"); }
.icon_tours { background-image:url("./images/ico-tours-countries.png"); }
.icon_assitcard { background-image:url("./images/ico-assitcard-countries.png"); }
.icon_club {
    background-image:url("./images/ico-club.png");
    background-position:0px 0px;
    background-repeat:no-repeat;
    display:block; height:46px; width:74px;
    line-height:28px;
    vertical-align:text-bottom;
}


.header_nav {
    background:#fff;
    width:100%;
    z-index:1001;
    top:0;
    border-top:1px #f2f2f2 solid;
}

/* LESS THAN 48 - 768px */
@media (max-width: 47.9em) {
    .menu_xl {
      display: none;
    }

    .header_nav {
        border-top:none;
    }
}

/* LESS THAN 34 - 544px  */
@media (max-width: 33.9em) {
  .menu_xl {
    display: none;
  }
  .header_nav {
      border-top:none;
  }
  
 }
