
a:link, a:visited, a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
}

.footer_top,
.footer_middle,
.footer_bottom {
    font-family: Arial, sans-serif;
}

/* MX */
.footer_top {
    padding: 20px 0;
    min-height: 120px;
    background-image: url("https://s3-sa-east-1.amazonaws.com/claroviajes-cdn/uikit/0.0.0/footer_bg.png");
    background-repeat: repeat;
    background-position: center;
}

.copy {
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    color: #fff;
}
.copy a {
    color: #fff;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
.copy a:hover {
    color:#e3271b;
}

.links {
    font-size: 1.5rem;
}
.links a {
    color: #fff;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
.links a:hover {
    color:#e3271b;
}

.fa_mobile {
  display: none;
}

.footer_middle {
    background-color: #e7e7e7;
    padding: 14px 0 10px;
}
.footer_middle p {
        font-size: .9em;
        display: inline-block;
        line-height: 30px;
        margin: 10px 0;
}

.tripadvisor_text {
  text-align: right;
}
.tripadvisor_img {
    float: right;
}
.img_logo {
    float: right;
}

.img_app {
    display: inline-block;
    margin: 0 0 0 10px;
    border: 0;
}

.text_app {
    display: inline-block;
}

.footer_bottom {
    padding: 30px 0;
    background-color: #1c1c1c;
    color: #fff;
}
.footer_bottom p {
    margin: 0;
    font-size: 1.3rem;
}
.compania {
  line-height: 22px;
}

.caption_schedule {
    text-transform: uppercase;
    float: left;
    line-height: 30px;
    padding: 0 5px 0 0;
    border-right: 1px #000 solid;
}

.caption_callcenter {
    float: right;
    color: #fff;
}

.caption_callcenter__phone {
    font-size: 3.5rem;
    display: block;
    text-align: right;
    line-height: 33px;

}
.caption_callcenter__title {
    font-size: 2rem;
    text-align: right;
    display: block;
}
.caption_callcenter__text {
    font-size: 1.3rem;
    text-align: right;
    display: block;
}

.claro_logo {
  margin: 20px 0;
}

.line {
  border-top: 1px #535353 solid;
  display: block;
  margin: 10px 0;
}



/* responsive */
@media (max-width: 33.9em) {

	footer .container {
		padding: 0 10px;}

  .claro_logo {
    margin: 0;
  }
	.links {
		margin: 0;
	}
	.links a {
    background-color: #fff;
    background-position: right 6px;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    padding: 5px 10px;
    display: block;
    margin: 0;
    color: #000;
	}
	.links a:hover {
		background-color: #d9d9d9
	}
  .fa_mobile {
    display: block;
    float: right;
  }

	.caption_schedule {
		border: none;
		float: none
	}
	.caption_callcenter {
		margin: 10px 0;
	}

  .img_logo {
      float: inherit;
      margin: 0 0 10px;
  }

  .tripadvisor_text {
    margin: 20px 0 0!important;
  }
  .caption_callcenter__phone {
    text-align: center;

  }
  .caption_callcenter__title {
    text-align: center;
  }
  .caption_callcenter__text {
    text-align: center;
  }
}

@media (max-width: 47.9em) {
  footer .container {
		padding: 0 10px;}

	.links {
		margin: 0;
	}
	.links a {
    background-color: #fff;
    background-position: right 6px;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    padding: 5px 10px;
    display: block;
    margin: 0;
    color: #000;
	}
	.links a:hover {
		background-color: #d9d9d9
	}
  .fa_mobile {
    display: block;
    float: right;
  }
	.caption_schedule {
		border: none;
		float: none
	}
	.caption_callcenter {
		border: none;
		float: none
	}

  .img_logo {
      float: inherit;
      margin: 0 0 10px;
  }

  .tripadvisor_text {
    margin: 20px 0 0!important;
  }
  .caption_callcenter__phone {
    text-align: center;

  }
  .caption_callcenter__title {
    text-align: center;
  }
  .caption_callcenter__text {
    text-align: center;
  }
}
