
a:link,
a:visited,
a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}

.footer_top, .footer-middle, .footer_bottom {
    font-family: 'din_alternateregular', 'din-woff', sans-serif;
}

/* All regions */
.footer_top {
    padding: 20px 0;
    min-height: 120px;
    background-color:#dfdfdf;
    background-image:linear-gradient(0deg, #dfdfdf 0%, #fff 100%);
}

.copy {
    margin: 0;
    font-size: 0.9em;
    font-family: Arial, sans-serif;
    color: #333;
}
.copy a {
    color: #333;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
.copy a:hover {
    color:#000;
}

.links {
    font-family: Arial, sans-serif;
    font-size: 1em;
}
.links a {
    color: rgb( 136, 136, 136 ) !important;
    margin-right: 10px;
    letter-spacing: .5px;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
.links a:hover {
    color:#000!important;
}


ul.list_social {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.list_social li {
    float: left;
    text-align: center;
    margin: 0 5px 0 0;
}

ul.list_social li a {
    width: 28px;
    height: 28px;
    display: block;
    background-image: url("./images/icono-redes.png");
    background-repeat: no-repeat;
}

ul.list_social li a.fb {
    background-position: 0 0;
}
ul.list_social li a.fb:hover {
    background-position: 0 -28px;
}

ul.list_social li a.tw {
    background-position: 0 -56px;
}
ul.list_social li a:hover {
        background-position: 0 -84px;
}

.footer_middle {
    background-color: #e7e7e7;
    padding: 14px 0 10px;
}
.footer_middle p {
        font-family: Arial, sans-serif;
        font-size: .9em;
        display: inline-block;
        line-height: 30px;
        margin: 10px 0;
}
.img_trip {
    display: inline-block;
    margin: 0 10px 0;
    border-right: 1px #000 solid;
    padding: 0 10px 0 0;
}
.img_logo {
    float: right;
}

.img_app {
    display: inline-block;
    margin: 0 0 0 10px;
    border: 0;
}

.text_app {
    display: inline-block;
}

.footer_bottom {
    padding: 10px 0 5px;
    background-color: #d02e10;
    background-image: linear-gradient(0deg, #901a11 0%,#d02e10 100%);
    color: #fff;
}
.footer_bottom p {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
}

.footer_bottom p.empresa {
    font-size: 0.9em;
}

.caption_schedule {
    text-transform: uppercase;
    float: left;
    line-height: 30px;
    padding: 0 5px 0 0;
    border-right: 1px #901a11 solid;
}

.caption_callcenter {
    float: left;
    border-left: 1px #d02e10 solid;
    line-height: 30px;
}

.caption_callcenter img {
    vertical-align: text-middle;
    margin:0 5px;
}

.caption_callcenter strong {
    font-weight: bold;
    font-size: 1.4em;
    line-height: initial;
}

.color_logo_r {
    color: #ef5654!important;
}
.color_logo_n {
    color: #333!important;
}
